<div id="secondary-nav" class="">
	<div class="subnav">
		<div class="row">
			<div class="col-sm-12">
			<ul class="nav nav-pills pull-left">
			  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Background<span class="hidden-xs"> Materials</span> <b class="caret"></b></a>
					<ul class="dropdown-menu list-unstyled dropdown-menu-left">
						<li><a href="<%=carnegie_about_path()%>#about_the_project">About the Project</a></li>
						<li><a href="<%=carnegie_about_path()%>#oral_history_projects">Oral History Projects</a></li>
						<li><a href="<%=carnegie_about_path()%>#about_the_corporation">About the Corporation</a></li>
						<li><a href="http://findingaids.cul.columbia.edu/###NEED_FA_URL">Related Resources</a></li>
					</ul>
  			</li>
			<li>
				<a href="http://guides.library.columbia.edu/carnegie" target="_blank" rel="noopener noreferrer" title="Carnegie Digital Archive User Guide (opens in new window)"><span class="hidden-xs">User </span>Guide</a>
			</li>
			</ul>
			<ul class="nav nav-pills pull-right">
			  <li class="inline"><a style="margin-top:-5px;" href="<%= carnegie_map_search_path %>"><span class="glyphicon glyphicon-map-marker"></span> Map<span class="hidden-xs"> Search</span></a></li>
			</ul>
			</div><!--/-->
		</div><!--/row-->
	</div><!--/subnav-->
</div>
