<%= link_to 'Carnegie Corporation of New York Digital Archive'.html_safe,
search_carnegie_path, { id: 'site-title', class: 'navbar-brand text-lg-left' } %>
<h1 class="sr-only">Carnegie Corporation of New York Digital Archive</h1>
