<%= link_to 'CARNEGIE Digital<span class="hidden-xs"> Past &amp; Future</span>'.html_safe,
carnegie_index_path, { :id => 'site-title' } %>
<h1 class="sr-only">Carnegie Digital Past &amp; Future at Columbia University Libraries</h1>
