<%= link_to 'Carnegie Corporation <span class="hidden-sm">of New York </span>Digital Archive'.html_safe,
carnegie_index_path, { :id => 'site-title' } %>
<h1 class="sr-only">Carnegie Corporation of New York Digital Archive</h1>
