<div class="col-md-8 col-md-offset-2">

	<section class="ff" id="about_the_project">
	<h2 class="h4">About the Project</h2>
		<p>
		The goal of this project is to connect <a href="https://www.carnegie.org/">Carnegie Corporation of New York’s</a> digitized past to its born-digital future.
		</p>
		<p>
		Since 1990 the Corporation has entrusted Columbia University and its Rare Book & Manuscript Library to preserve and provide access to its organizational records, including administrative files, correspondence, memoranda, reports, and publicity materials. Each year brings new accruals, which increasingly take born (or natively) digital form. In 2015, the Corporation awarded Columbia a grant to digitize the selected analog (papers, microfilm, media, etc.) materials from its archive as well as some 150 oral histories relating to the Corporation’s history, and to present them to the public in a portal alongside its growing born-digital archive.
		</p>
		<p>
		You will <em>not</em> find a digital surrogate for every single item in the Corporation’s archive, but rather a selection of some 180,000 objects dating mainly from the 1886 to 1927. Likewise, the portal does not include material from related Carnegie collections, for example, the Carnegie Endowment for International Peace Records. The  oral histories were conducted in three discrete phases (1966-1970, 1996-2004, 1997-2013) over a span of nearly sixty years and, where possible, we present original recordings alongside printed transcripts. Because all newly accessioned records are subject to a 15 year restriction, recent born-digital grant files born-digital content will not be publicly available until 2030.
		</p>
	</section>

	<section class="ff" id="oral_history_projects">
		<h2 class="h4">Oral History Projects</h2>
		<p>
		The Carnegie Corporation of New York Oral History Project began in 1966 and continued in three phases over a fifty year period  (1966-1974, 1996-2004, 2011-2013). In total nearly 850 hours of testimony reflect the thinking of the Corporation’s officers, staff members, and grantees. They offer a rich portrait of the Corporation’s evolution over the first 58 years of its existence.
		</p>
		<p>
		The oral history interviews cover a wide range of social and cultural developments in America and abroad. The narrators discuss the organization's work in adult education, cognitive research, educational testing, library science, music education, national security, teacher education, social-science research generally and the Corporation’s expansion into global funding strategies in the areas of peace, scientific research, and international cooperation.
		</p>
		<p>
		From the birth of the children's television show Sesame Street to the Carnegie Corporation's efforts to support anti-apartheid efforts in South Africa, the oral histories illustrate the remarkable consistency of the Corporation's grant-making activities over nearly a century.
		</p>
	</section>

	<section class="ff" id="about_the_corporation">
		<h2 class="h4">About the Corporation</h2>
		<p>
		The Carnegie Corporation of New York, established by Andrew Carnegie in 1911 to promote the advancement and diffusion of knowledge and understanding, is one of the oldest, largest and most influential of American foundations.
		</p>
		<p>
		By 1911 Andrew Carnegie had endowed five organizations in the United States and three in the United Kingdom, and had given away over $43 million for public library buildings and close to $110 million for other purposes. Nevertheless, ten years after the sale of the Carnegie Steel Company, he still had more than $150 million and, at the age of 76, was tiring of the burden of philanthropic decision making. On the advice of Elihu Root, a long-time friend, he decided to establish a trust to which he could transfer the bulk of his remaining fortune and, ultimately, the responsibility for distributing his wealth after his lifetime. Having already used the conventional labels for his previously endowed institutions, he selected "corporation" for this last and largest. It was chartered by the State of New York as Carnegie Corporation of New York.
		</p>
		<p>
		During 1911 and 1912, Carnegie gave the Corporation $125 million ($3.3 billion in 2018 dollars), making it the largest single philanthropic trust ever established up to that time. As the residual legatee under his will, the Corporation received an additional $10 million when the estate was settled. Carnegie earmarked a portion of the endowment to be used for philanthropic purposes in Canada and what were then the British Colonies. This part of the endowment was first known as the Special Fund, then the British Dominions and Colonies Fund, and later the Commonwealth Program.
		</p>
		<p>
		The Corporation’s work continues to focus  on issues of great importance to Andrew Carnegie: international peace, the strength of our democracy and the advancement of education and knowledge.
		</p>
	</section>
</div>
