<div class="col-md-8 col-md-offset-2">

	<section class="ff" id="about_the_project">
	<h2 class="h4">Centennial Exhibition</h2>
		<p>
The Carnegie Corporation of New York celebrated its centennial in 2011. From October 2011 through February 2012, the Columbia University Libraries and the Rare Book & Manuscript Library presented an exhibition highlighting the Corporation's extensive records and documenting its role in the history of philanthropy. The exhibition drew on the archives of four philanthropic institutions founded by Andrew Carnegie&mdash;the Carnegie Corporation of New York, Carnegie Endowment for International Peace, Carnegie Foundation for the Advancement of Teaching, and the Carnegie Council for Ethics in International Affairs—and illustrated how he used philanthropy to pursue his twin passions: the love of learning and the quest for world peace.
		</p>
	</section>
</div>
