<div class="col-md-8 col-md-offset-2">

	<section class="ff">
	<h2 class="h3 text-center">Frequently Asked Questions</h2>
	<hr>

	<ul>
		<li>
			<h3 class="h4">Is the entire archival collection for the Carnegie Corporation of New York now available online?</h3>
			<p>No. The website includes content that was digitized due to preservation concerns (such as Andrew Carnegie grant files and financial record books), the full run of the Carnegie Corporation’s annual reports,&nbsp;correspondence pertaining to Gunnar Myrdal’s “American Dilemma” study, selected digitized audiovisual public relations materials, and oral histories. It will eventually include born-digital records of late 20th/early 21st century. The majority of the Corporation’s archival files still exist on paper only.</p>
		</li>
		<li>
			<h3 class="h4">How do I access materials that are not available digitally?</h3>
			<p>An up to date finding aid to the complete Carnegie Corporation of New York archive can be found here [<a href="#">insert link</a>]. To consult these materials you will need to visit the <a href="https://library.columbia.edu/locations/rbml.html">Rare Book & Manuscript Library</a>&nbsp;in person. You can request material in advance via the finding aid and <a href="https://aeon.cul.columbia.edu/">register with us by visiting here</a>.</p>
			<p>For oral history interviews that are unavailable digitally, please visit the <a href="https://library.columbia.edu/locations/ccoh/FAQ.html">Oral History Archives at Columbia website</a>&nbsp;for details on reading transcripts or listening to audio in the Rare Book & Manuscript reading room.</p>
			<p>Please note that not all of the oral history media and transcripts have been synchronized.</p>
		</li>
		<li>
		<h3 class="h4">Why can’t I find current Carnegie Corporation of New York records?</h3>
			<p>Columbia University is the repository of record for the Corporation’s archive. Like most 21st century organizations, the Corporation’s records now take “born” digital form. Eventually, this platform will serve as an access point for both the digitized records of the past and the born digital records of the future. However, the majority of the Corporation’s records are subject to a 15 year embargo from the time of creation. We expect that the first born digital records will be available by 2030.</p>
		</li>
		<li>
			<h3 class="h4">Why are some files, such as Library and Church Organ donations are of such poor quality?</h3>
			<p>The Corporation microfilmed the correspondence files relating to Andrew Carnegie's gifts and grants in the late 1940s and subsequently discarded the original documents. &nbsp;Archival microfilming at that time was in its very early stage of development, so very few quality control procedures were in place; the resulting microfilms were black and white 16mm reels. As part of the Carnegie Digital Past and Future project, these aging microfilms were digitized and are now available for you online. The quality of the resulting digital images corresponds to the quality of the microfilm originals. An exception to this rule were the New York Public Library (NYPL) records, which were donated to that institution and maintained. As a result, the NYPL Library file is the only one digitized from original paper records, so the images are in color and of much higher quality.</p>
		</li>
		<li>
		<h3 class="h4">What is the preferred citation format?</h3>
			<p>Carnegie Corporation of New York Records. Rare Book and Manuscript Library. Columbia University Libraries. [Series. Subseries. Box Number]</p>
			<p>Reminiscences of &nbsp;[Narrator Name, year] , Carnegie Corporation Project, [pages], Oral History Archives at Columbia, Rare Book & Manuscript Library, Columbia University in the City of New York.</p>
		</li>
		<li>
			<h3 class="h4">Does Columbia hold other Carnegie-related archives?</h3>
			<p>Yes. The Rare Book and Manuscript Library of Columbia University is the repository for the records of four philanthropic organizations founded and endowed by the Scottish steel magnate Andrew Carnegie. Those collections, with links to online finding aids, are listed below:</p>
			<ul>
			  <li>The Carnegie Corporation of New York (CCNY) was the largest, and most general philanthropy founded by Carnegie on 1911. This is a growing collection.Closely related David A. Hamburg Papers provide rich complementary information about the Carnegie Corporation work in 1980s-1990s, when Dr. Hamburg was the Corporation president. [<a href="#">Finding Aid</a>].
			  </li>
			  <li>The Carnegie Endowment for International Peace (CEIP) was a peace organization founded the year before. Our library holds the CEIP Records from its founding until 1954.
					<ul>
					  <li>Carnegie Endowment for International Peace, New York and Washington, DC Records. <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4078585">Finding Aid</a>.
					  </li>
					  <li>Carnegie Endowment for International Peace, indices to volumes held in the New York and Washington, DC Records. <a href="https://library.columbia.edu/content/dam/libraryweb/locations/rbml/carnegie/CEIP%20Indices%20PDF.pdf">Finding Aid</a>.
					  </li>
					  <li>Carnegie Endowment for International Peace, Paris Office. <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_11000245">Finding Aid</a>.
					  </li>
					</ul>
				</li>
			  <li>Carnegie Foundation for the Advancement of Teaching (CFAT) was originally established (in 1904) as a professor's pension fund and was closely affiliated with the CCNY until early 1980s, when it moved to new separate headquarters in Princeton, N.J. The RBML holds records from the "New York" (1904-1980) period of the CFAT activities. <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4079752">Finding Aid</a>.
			  </li>
			  <li>The Carnegie Council on Ethics and International Affairs (formerly the Church Peace Union and later the Council on Religion in International Affairs), founded in 1914 is an independent, nonpartisan, nonprofit organization dedicated to research and education in the field of ethics and international affairs. This is a growing collection. <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4079679">Finding Aid</a>.
			  </li>
			</ul>
			<p>In addition, the RBML holds the papers of many individuals and organizations, who worked for or were connected to the Carnegie philanthropies. These collections &nbsp;might provide additional information on specific projects or relevant historical context:</p>
			<ul>
			  <li>James Shotwell Papers. <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4079335">Finding Aid</a>.
			  </li>
			  <li>Frederick P. Keppel Papers. <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4078981/summary">Finding Aid</a>.
			  </li>
			  <li>John Bates Clark Papers. <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4078613">Finding Aid</a>.
			  </li>
			  <li>William John Wilgus Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/48_WIEN-WIT_08.pdf">Finding Aid</a>.
			  </li>
			  <li>Nicholas M. Butler Papers. <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4078570">Finding Aid</a>.
			  </li>
			  <li>Michael Florinsky Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/ldpd_bak_4077504.pdf">Finding Aid</a>.
			  </li>
			  <li>Malcolm W Davis Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/13_DA-DE_07.pdf">Finding Aid</a>.
			  </li>
			  <li>Plimpton Family Papers. <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4079575">Finding Aid</a>.
			  </li>
			  <li>John Alden Jamieson Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/26_J-KAI_07.pdf">Finding Aid</a>.
			  </li>
			  <li>William James McGill Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/30_LY-MAL_12.pdf">Finding Aid</a>.
			  </li>
			  <li>Ruth Dorothee Masters Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/31_MAM-MER_16.pdf">Finding Aid</a>.
			  </li>
			  <li>Samuel McCune Lindsay Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/ldpd_rbml_4079559.pdf">Finding Aid</a>.
			  </li>
			  <li>Robert D. Leigh Papers. <a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/28_LA-LE_27.pdf">Finding Aid</a>.
			  </li>
			  <li>Frank Altshul Papers. <a href="https://library.columbia.edu/locations/rbml/units/lehman/guides/altschul.html">Finding Aid</a>.
			  </li>
			  <li>Institute for Pacific Relations Records. <a href="https://library.columbia.edu/content/dam/libraryweb/locations/burke/fa/mrl/ldpd_11043785.pdf">Finding Aid</a>.
			  </li>
			</ul>
			<p>Please note that our collections deal primarily with Carnegie philanthropy and have very little personal material related to Andrew Carnegie. The Andrew Carnegie Personal Papers reside at the <a href="http://www.loc.gov/rr/mss/">Library of Congress</a>.</p>
		</li>
	</ul>

	</section>

</div>
