<div class="col-md-8 col-md-offset-2">
	<h2 class="text-center">Frequently Asked Questions</h2>
	<hr>

	<ul>
		<li>
			<h3>Is the entire archival collection for Carnegie Corporation of New York now available online?</h3>
			<p>No. The website includes content that was digitized due to preservation concerns (such as Andrew Carnegie grant files and financial record books), the full run of the Corporation’s annual reports, correspondence pertaining to Gunnar Myrdal’s “American Dilemma” study, selected digitized audiovisual public relations materials, and oral histories. It will eventually include born-digital records of late 20th/early 21st century. The majority of the Corporation’s archival files still exist on paper only.</p>
		</li>
		<li>
			<h3>How do I access materials that are not available digitally?</h3>
			<p>Discover what materials are available in the complete <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4079753/" target="_blank">Carnegie Corporation of New York archive finding aid</a>. To consult these materials you will need to visit the <a href="https://library.columbia.edu/locations/rbml.html" target="_blank">Rare Book &amp; Manuscript Library</a> in person. You can register with us by creating a <a href="https://aeon.cul.columbia.edu/" target="_blank">Special Collections Research Account</a> and can then request material in advance via the finding aid.</p>
			<p>For oral history interviews that are not available digitally, please visit the <a href="https://library.columbia.edu/locations/ccoh/FAQ.html" target="_blank">Oral History Archives at Columbia website</a> for details about reading transcripts or listening to audio in the Rare Book &amp; Manuscript reading room.</p>
			<p>Please note that not all of the oral history media and transcripts have been synchronized.</p>
		</li>
		<li>
			<h3>Why do some oral histories give me the option of viewing the media with synchronized transcript or index?</h3>
			<p>As a part of this project, Columbia University Libraries was able to develop technology that allows researchers to view or listen to an interview alongside a synchronized transcript and/or index to that interview, thereby making it more accessible and more navigable. This technology is modeled upon the <a href="http://libraries.uky.edu/libpage.php?lweb_id=11&llib_id=13&ltab_id=1370" target="_blank">Oral History Metadata Synchronizer</a> (OHMS) tool developed by the <a href="http://libraries.uky.edu/nunncenter">Louis B. Nunn Center for Oral History</a> at the University of Kentucky under the leadership of Doug Boyd, who also served as a consultant on this project.</p>
			<p>Synchronizing and/or indexing an oral history can be labor intensive. With the initial release of this website, we are able to synchronize 65 relating to Carnegie Corporation of New York. Over time we expect to provide this treatment for an ever-increasing number from many different collections held by the Oral History Archives at Columbia.</p>
		</li>
		<li>
		<h3>Why can’t I find current Carnegie Corporation of New York records?</h3>
			<p>Columbia University is the repository of record for the Corporation’s archive. Like most 21st century organizations, the Corporation’s records now take “born” digital form. Eventually, this platform will serve as an access point for both the digitized records of the past and the born digital records of the future. However, the majority of the Corporation's records are subject to a 15 year embargo, with the exception of grant files which are subject to a 25 year embargo. We expect that the first born digital records will be available by 2040.</p>
		</li>
		<li>
			<h3>Why are some files, such as Library and Church Organ donations are of such poor quality?</h3>
			<p>The Corporation microfilmed the correspondence files relating to Andrew Carnegie's gifts and grants in the late 1940s and subsequently discarded the original documents. Archival microfilming at that time was in its very early stage of development, so very few quality control procedures were in place; the resulting microfilms were black and white 16mm reels. As part of the Carnegie Digital Past and Future project, these aging microfilms were digitized and are now available for you online. The quality of the resulting digital images corresponds to the quality of the microfilm originals. An exception to this rule were the New York Public Library (NYPL) records, which were donated to that institution and maintained. As a result, the NYPL Library file is the only one digitized from original paper records, so the images are in color and of much higher quality.</p>
		</li>
		<li>
			<h3>Why do documents from the early years of the Corporation contain so many misspelled words?</h3>
			<p>These documents used simplified spelling,much favored by Carnegie, and mandated for all official papers in the early days of the Carnegie philanthropic foundations. Andrew Carnegie supported the spelling reform of the English language, believing that English, as “the world language of the future,” should be made simpler and easier to learn. For additional information on the attempted spelling reform, see the digitized file on Andrew Carnegie’s donations to the <a href="https://dx.doi.org/10.7916/d8-ztpg-v088" target="_blank">Simplified Spelling Board</a> as well as the paper-based grant file available in the Carnegie Corporation of New York archive at Columbia University (Series III.A Box 325).</p>
		</li>
		<li>
		<h3>What is the preferred citation format?</h3>
			<p>Carnegie Corporation of New York Records. Rare Book and Manuscript Library. Columbia University Libraries. [Series. Subseries. Box Number]</p>
			<p>Reminiscences of [Narrator Name, year], Carnegie Corporation Project, [pages], Oral History Archives at Columbia, Rare Book & Manuscript Library, Columbia University in the City of New York.</p>
		</li>
		<li>
			<h3>Does Columbia hold other Carnegie-related archives?</h3>
			<p>Yes. The Rare Book and Manuscript Library of Columbia University is the repository for the records of four philanthropic organizations founded and endowed by the Scottish steel magnate Andrew Carnegie. Those collections and links to their online finding aids are listed below:</p>
			<ul>
				<li>Carnegie Corporation of New York (CCNY) was the largest and most general philanthropy founded by Carnegie in 1911, and it is a growing collection. Closely related David A. Hamburg Papers provide rich complementary information about Carnegie Corporation of New York work in 1980s-1990s, when Dr. Hamburg was the Corporation president. <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4079753/" target="_blank">The Carnegie Corporation of New York Finding Aid</a> includes CCNY records from 1900 onward.
				</li>
				<li>The Carnegie Endowment for International Peace (CEIP) was a peace organization founded the year before. Our library holds the CEIP Records from its founding until 1954.
					<ul>
						<li><a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4078585" target="_blank">Carnegie Endowment for International Peace (CEIP), New York and Washington, D.C., Records Finding Aid</a>
						</li>
						<li><a href="https://library.columbia.edu/content/dam/libraryweb/locations/rbml/carnegie/CEIP%20Indices%20PDF.pdf" target="_blank">CEIP indices to volumes held in the New York and Washington, D.C.,Records</a>
						</li>
						<li><a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_11000245" target="_blank">CEIP, Paris Office Finding Aid</a>
						</li>
					</ul>
				</li>
				<li>Carnegie Foundation for the Advancement of Teaching (CFAT) was originally established (in 1904) as a professor&#39;s pension fund and was closely affiliated with the CCNY until early 1980s, when it moved to new separate headquarters in Princeton, N.J. The RBML holds records from <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4079752" target="_blank">the New York period (1904-1980) of the CFAT activities</a>.
				</li>
				<li>The Carnegie Council on Ethics and International Affairs (formerly the Church Peace Union and later the Council on Religion in International Affairs), founded in 1914 is an independent, nonpartisan, nonprofit organization dedicated to research and education in the field of ethics and international affairs. This is a growing collection that provides access to <a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4079679" target="_blank">the Carnegie Council on Ethics &amp; International Affairs records from 1914-1996</a>.
				</li>
			</ul>
			<p>In addition, the RBML holds the papers of many individuals and organizations, who worked for or were connected to the Carnegie philanthropies. These collections might provide additional information on specific projects or relevant historical context:</p>
			<ul>
				<li><a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_5419526" target="_blank">David A. Hamburg Papers</a>
				</li>
				<li><a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4079335" target="_blank">James Shotwell Papers</a>
				</li>
				<li><a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4078981/summary" target="_blank">Frederick P. Keppel Papers</a>
				</li>
				<li><a href="https://findingaids.library.columbia.edu/ead//nnc-rb/ldpd_4078613" target="_blank">John Bates Clark Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/48_WIEN-WIT_08.pdf" target="_blank">William John Wilgus Papers</a>
				</li>
				<li><a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4078570" target="_blank">Nicholas M. Butler Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/ldpd_bak_4077504.pdf" target="_blank">Michael Florinsky Papers</a>
				</li>
				 <li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/13_DA-DE_07.pdf" target="_blank">Malcolm W Davis Papers</a>
				</li>
				<li><a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4079575" target="_blank">Plimpton Family Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/26_J-KAI_07.pdf" target="_blank">John Alden Jamieson Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/30_LY-MAL_12.pdf" target="_blank">William James McGill Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/31_MAM-MER_16.pdf" target="_blank">Ruth Dorothee Masters Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/ldpd_rbml_4079559.pdf" target="_blank">Samuel McCune Lindsay Papers</a>
				</li>
				<li><a href="http://www.columbia.edu/cu/libraries/inside/projects/findingaids/scans/pdfs/28_LA-LE_27.pdf" target="_blank">Robert D. Leigh Papers</a>
				</li>
				<li><a href="https://library.columbia.edu/locations/rbml/units/lehman/guides/altschul.html" target="_blank">Frank Altshul Papers</a>
				</li>
				<li><a href="https://library.columbia.edu/content/dam/libraryweb/locations/burke/fa/mrl/ldpd_11043785.pdf" target="_blank">Institute for Pacific Relations Records</a>
				</li>
			</ul>
			<p>Please note that our collections deal primarily with Carnegie philanthropy and have very little personal material related to Andrew Carnegie. The Andrew Carnegie Personal Papers reside at the <a href="http://www.loc.gov/rr/mss/" target="_blank">Library of Congress</a>.</p>
		</li>
	</ul>
</div>
