.squares {
  .square {
    aspect-ratio: 1/ 1;
    align-items: center;
    padding: 0px !important;
    border: solid var(--user-input) 2px;
    border-radius:0px;
    img {
      object-fit: contain;
      object-position: center;
      max-height: 100%;
      max-width: 100%;
    }
    a.caption {
      color: white;
      text-align: end;
      padding:0;
      overflow:clip;
      span {
        max-height: 100%;
        padding: 0.5rem;
      }
      &:hover {
        color: black;
        background-color: rgba(255,255,255, .8);
        border-color: var(--primary);
      }
    }
  }
}
