@import './base/functions';
@import './base/variables';

//colors
$body-color: #111;
$body-bg: #fafafa;
$body-border-color: #ccc;
$theme-colors: map-merge($theme-colors, ('body': $body-bg));
$theme-text-colors: map-merge($theme-text-colors, ('body': $body-color));
$theme-border-colors: map-merge($theme-border-colors, ('body': $body-border-color));

$primary: #86878c;
$primary-color: #fff;
$primary-border-color: #444;
$theme-colors: map-merge($theme-colors, ('primary': $primary));
$theme-text-colors: map-merge($theme-text-colors, ('primary': $primary-color));
$theme-border-colors: map-merge($theme-border-colors, ('primary': $primary-border-color));

$secondary: $gray-200;
$secondary-color: #333;
$secondary-border-color: #222;
$theme-colors: map-merge($theme-colors, ('secondary': $secondary));
$theme-text-colors: map-merge($theme-text-colors, ('secondary': $secondary-color));
$theme-border-colors: map-merge($theme-border-colors, ('secondary': $secondary-border-color));

$info: #779bc3;
$info-color: #e6e6e6;
$theme-colors: map-merge($theme-colors, ('info': $info));
$theme-text-colors: map-merge($theme-text-colors, ('info': $info-color));
$theme-border-colors: map-merge($theme-border-colors, ('info': $info));

$link-color: color-shade($info, 25%);
$theme-colors: map-merge($theme-colors, ('user-input': $black));

$brand: #779bc3;
$brand-color: $white;

@import './base/post';
