$color_white: #ffffff;
$color_black: #000000;
$color_darkgray: #444;

//colors
$color_primary: #111;
$color_primary_background: #fafafa;
$color_highlight_background: #1a1f2f; //rgb(68,89,116);
$color_highlight: #e6e6e6;
$color_outline: #ccc;
$color_outline_offset: lighten($color_outline, 7%);
$color_outline_secondary: #222;
$color_offset: #999;
$color_user_input: #999;
$color_ui: #222;
$color_ui_background: #eee;
$color_ui_secondary: #444;
$color_ui_outline: #333;
$color_anchor: darken($color_highlight_background, 25%);

@function navBgColor($l: 25%) {
	@return darken($color_offset, $l);
}
@mixin	navBg($l: 0%) {
	background: navBgColor($l);
}
@function navColor($l: 0%) {
	@return darken($color_topnav, $l);
}

@function gradeBgColor($l: 25%) {
	@return darken($color_primary_background, $l);
}
@mixin gradeBg($l: 7%) {
	background-color: gradeBgColor($l);
}

@function gradeUiBgColor($l: 25%) {
	@return darken($color_ui_background, $l);
}
