@import './base/functions';
@import './base/variables';

//body colors
$body-bg: $black;
$body-color: #eee;
$body-border-color: #333;
$theme-colors: map-merge($theme-colors, ('body': $body-bg));
$theme-text-colors: map-merge($theme-text-colors, ('body': $body-color));
$theme-border-colors: map-merge($theme-border-colors, ('body': $body-border-color));

// color_ui_background -> primary
$primary: #222;
$primary-color: #eee;
$primary-border-color: #777;
$theme-colors: map-merge($theme-colors, ('primary': $primary));
$theme-text-colors: map-merge($theme-text-colors, ('primary': $primary-color));
$theme-border-colors: map-merge($theme-border-colors, ('primary': $primary-border-color));

// color_ui_secondary -> secondary
$secondary: color-yiq(#aaa);
$secondary-color: #aaa;
$secondary-border-color: #444;
$theme-colors: map-merge($theme-colors, ('secondary': $secondary));
$theme-text-colors: map-merge($theme-text-colors, ('secondary': $secondary-color));
$theme-border-colors: map-merge($theme-border-colors, ('secondary': $secondary-border-color));

// color_highlight_background -> info
$info: $body-color;
$info-color: $body-bg;
$theme-colors: map-merge($theme-colors, ('info': $info));
$theme-text-colors: map-merge($theme-text-colors, ('info': $info-color));
$theme-border-colors: map-merge($theme-border-colors, ('info': $info));

$theme-colors: map-merge($theme-colors, ('user-input': #ccc));

$nav-tabs-border-color:             $body-border-color;
$nav-tabs-link-active-color:        $light;
$nav-tabs-link-active-bg:           $dark;
$nav-tabs-link-active-border-color: $body-border-color;

@import './base/post';
