@import './base/functions';
@import './base/variables';

//colors
$body-bg: #fffcea;
$body-color: #122;
$body-border-color: #d8b384;
$theme-colors: map-merge($theme-colors, ('body': $body-bg));
$theme-text-colors: map-merge($theme-text-colors, ('body': $body-color));
$theme-border-colors: map-merge($theme-border-colors, ('body': $body-border-color));

$primary: #c8b384; // 13 matches
$primary-color: #2a1c05; // 16 matches
$primary-border-color: #2a4444; // 20 matches
$theme-colors: map-merge($theme-colors, ('primary': $primary));
$theme-text-colors: map-merge($theme-text-colors, ('primary': $primary-color));
$theme-border-colors: map-merge($theme-border-colors, ('primary': $primary-border-color));

$secondary: $body-bg;
$secondary-color: #333;
$secondary-border-color: #222;
$theme-colors: map-merge($theme-colors, ('secondary': $secondary));
$theme-text-colors: map-merge($theme-text-colors, ('secondary': $secondary-color));
$theme-border-colors: map-merge($theme-border-colors, ('secondary': $secondary-border-color));

$info: #2a1c05;
$info-color: #e6e6e6;
$theme-colors: map-merge($theme-colors, ('info': $info));
$theme-text-colors: map-merge($theme-text-colors, ('info': $info-color));
$theme-border-colors: map-merge($theme-border-colors, ('info': $info));

$theme-colors: map-merge($theme-colors, ('user-input': $black));

$link-color: darken($info, 25%); // 4 matches

@import './base/post';
