<footer class="container">
	<hr />
	<div class="row">
		<div class="col-sm-6">
			<p><small>64 Morningside Drive, New York, NY 10027 &bull; Telephone: (212) 854-2389 Fax: (212) 854-8248</small></p>
		</div>
		<div class="col-sm-6 text-right">
			<p><small><%= link_to 'Terms of Use', terms_of_use_url %> | <a href="#" onclick="return feedbackModal();">Suggestions &amp; Feedback</a></small></p>
		</div>
	</div>
</footer>
