<footer class="container">
	<hr />
	<div class="row">
		<div class="col-sm-6">
			<p><small>64 Morningside Drive, New York, NY 10027 &bull; Telephone: (212) 854-2389 Fax: (212) 854-8248</small></p>
		</div>
		<div class="col-sm-6 text-right">
			<p><small><%= link_to 'Terms of Use', terms_of_use_url %> | <%= link_to 'Suggestions & Feedback', '#', data: {
				toggle: 'modal', target: '#dcvModal', 'modal-embed-func' => 'feedbackEmbedUrl', 'modal-size' => 'xl', 'modal-title' => 'Suggestions and Feedback'
			}, role: 'button' %><%= site_edit_link(sep: ' | ') %></small></p>
		</div>
	</div>
</footer>
<div class="modal fade" id="dcvModal" tabindex="-1" role="dialog" aria-labelledby="dcvModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" id="dcvModalWrapper">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title h5" id="dcvModalLabel"></div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body" id="dcvModalBody">
			</div>
		</div>
	</div>
</div>