<div class="container">
  <div id="site-banner">
	<div class="row">
        <div id="site-banner-inner">
            <div class="col-sm-6">
							<%= link_to 'The University Seminars Digital Archive'.html_safe, restricted_universityseminars_index_path, { :id => 'site-title' } %>
            </div>
            <div class="col-sm-6">
							<div id="search-navbar" class="navbar navbar-default slim" role="navigation">
									<%= render_search_bar(false)  %>
							</div>
            </div>
         </div>
	</div><!--/row-->
  </div>
            <div id="secondary-nav" class="hide">
                 <div class="subnav">
                    <div class="row">
                        <div class="col-sm-8">
                        <ul class="nav nav-pills pull-left" style="font-size: 11px;">
                            <li class="hidden-phone"><a href="<%= restricted_universityseminars_index_path %>" class="opacity_50" style="
                                line-height: 0;
                                margin-top: -6px;
                                padding-right: 22px;"><i class="glyphicon glyphicon-home"></i></a>
                            </li>
                            <li class="hidden-phone"><a href="#" title="About University Seminars" class="opacity_50" style="
                                line-height: 0;
                                margin-top: -6px;
                                padding-right: 22px;
                                padding-left: 22px;"><i class="glyphicon glyphicon-info-sign"></i></a>
                            </li>
                        </ul>
                        </div><!--/-->
                                    <div id="navbar_right_wrapper" class="col-sm-3 pull-right" style="
                                    font-size: 12px;
                                    text-align: right;
                                ">
                                    <ul class="nav nav-pills pull-right nav-collapse" id="user_util_links">
                                      <li class="dropdown">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                        <ul class="dropdown-menu list-inline list-unstyled dropdown-menu-right" id="partner-dropdown">
																					Dropdown Content
																				</ul>
                                      </li>
                                    </ul>
                                    </div>
                            </div><!--/row-->
                         </div><!--/subnav-->
                    </div>

</div>
