<div id="content">
<div class="row">
    <div class="col-md-4 order-3">
        <div class="home inner">
            <h2 class="h5 text-uppercase">BROWSE THE COLLECTION</h2>
            <%= render(Dcv::Response::FacetsComponent.new(blacklight_config: (blacklight_config if defined?(blacklight_config)), hide_heading: true, response: @response)) %>
            <hr class="hidden-md hidden-lg">
        </div> <!--/.inner-->
    </div><!--/-->
    <div class="col-md-8 order-1">
        <div class="home inner">
            <h5>ABOUT THE UNIVERSITY SEMINARS</h5>
            <p>
            Founded in 1944 by Frank Tannenbaum, The University Seminars are groups of professors and experts from Columbia University and elsewhere. Seminars gather monthly to work together on problems that cross the boundaries between university departments.
            </p>
            <p>
            Tannenbaum believed that uniformity imposed from above would destroy the seminars. He stated, “The University Seminar is an independent universe. Its boundaries are limited only by its horizons.” Because of this belief, some seminars are tight, restricted discussion groups that study unfashionable problems; others are more broad-based discussions where eminent visitors share new ideas.  All seminars are by invitation and closed to the general public. Guests may request an invitation to a seminar by writing to its chair.  For more information see the University Seminars website: <a href="https://universityseminars.columbia.edu">universityseminars.columbia.edu</a>.
            </p>
            <p>
            When Tannenbaum died in 1969, there were fifty seminars. There are now over 90. Three of the original five are still active: The Problem of Peace, Studies in Religion, and The Renaissance. In 2003, then Director Robert L. Belknap conceived and, over several years implemented, the project of scanning 50 years of the pre-digital meeting minutes of the seminars. Under his supervision, over a half million pages were scanned and preserved. In 2011, Summer Hart was hired by Director Bob Pollack to work with Bob Belknap to preserve and unify the various components of the collection. The original documents were organized, boxed, and entrusted to Columbia University's Rare Book and Manuscript Library (RBML).
            </p>
            <p>
            The University Seminars' archive is a valuable compilation of intellectual history spanning nearly 75 years. To date, there have been 203 seminars founded with a broad range of subjects reflecting the questions and challenges of each era.  As additional files are transferred to the RBML, this born digital content will be incorporated into the online archive and made available on an ongoing basis, keeping in-line with the Seminars' five-year privacy policy.
            </p>
        </div>
    </div>
</div><!--/-->
</div>
