<div class="alert alert-warning fade show" role="alert">
	<div class="w-100">
		<div class="d-flex" id="restrictedContentHeader">
			<h3 class="h6 mr-auto my-auto">
				<span class="align-middle">
					Notice: Access to some items may be restricted because of copyright, but accessible by Members of the Columbia Community.
				</span>
			</h3>
			<button class="btn btn-sm btn-warning mx-1" type="button" data-toggle="collapse" data-target="#restrictedContentDetails" aria-expanded="false" aria-controls="restrictedContentDetails" title="Show More" aria-label="Show More">
				<i class="fa fa-bars"><span class="hidden" aria-hidden="true">Show More</span></i>
			</button>
			<button class="btn btn-sm btn-warning" type="button" data-dismiss="alert" title="Close" aria-label="Close">
				<i class="fa fa-times"><span class="hidden" aria-hidden="true">Close</span></i>
			</button>
		</div>
		<div class="collapse collapsed" id="restrictedContentDetails"  aria-expanded="false">
			<hr>
			<p><strong>Terms of Use:</strong> The copyright law of the United States (title 17, United States Code) governs the making of reproductions of copyrighted material. Under certain conditions specified in the law, libraries and archives are authorized to furnish a reproduction. One of these specific conditions is that the reproduction is not to be used for any purpose other than your own private study, scholarship, or research. Any subsequent copying, downloading or distributing materials accessed by you in the Columbia University Libraries Digital Libraries Collection that are subject to copyright protection may constitute copyright infringement. In addition, Columbia University Libraries may employ technical measures to prevent any further copying, downloading, or distribution of the materials. A violation of these terms may subject you to potential liability for copyright infringement.</p>
			<p>For further information, please see the <%= link_to 'Terms of Use', terms_of_use_url %>.</p>
		</div>
	</div>
</div>