<div id="content">
 <div class="row">
  <div class="col-md-8 order-1">
    <div class="home inner">
		<h2 class="h5 text-uppercase">ABOUT THE COLLECTION</h2>
			<p>
The New York Real Estate Brochure Collection was donated to Avery Architectural &amp; Fine Arts Library by Yale Robbins, Henry Robbins, and David Magier in 1986. The collection consists of over 9,200 advertising brochures, floor plans, price lists, and related materials that document residential and commercial real estate development in the five boroughs of New York and outlying vicinities from the 1920s to the 1970s. <%= link_to 'More information &raquo;'.html_safe, nyre_about_path %>
			</p>
    </div>
	<hr>
    <div class="home inner">
		<h2 class="h5 text-uppercase">NEWS</h2>
			<p>
Christopher Gray in the <em>New York Times'</em> <strong>Streetscapes</strong> writes about the NYRE Brochure Collection (August 26, 2010).<br><a href="http://www.nytimes.com/2010/08/29/realestate/29scapes.html?_r=1&amp;ref=realestate">Read the article &raquo;</a>
			</p>
			<p>
NYRE Brochure Collection site receives the <strong>Worldwide Books Award for Electronic Resources</strong><br><a href="http://library.columbia.edu/news/libraries/2010/20100528_nyre_arlis.html">Read more &raquo;</a>
			</p>
    </div>
  </div>
   <div class="col-md-4 order-3">
      <div class="home inner">
         <h2 class="h5 text-uppercase">BROWSE THE COLLECTION</h2>
         <%= render partial: 'facets', locals: { hide_heading: true } %>
         <hr class="hidden-md hidden-lg">
      </div> <!--/.inner-->
   </div><!--/-->
</div>
</div>
