<h3 class="nomar-t">Rights &amp; Permissions</h3>

<div class="col-xs-6 col-sm-4 float-right">
	<div class="thumbnail" style="background-color:white;text-align:center;">
		<img src="<%= asset_path("nyre/dlo.jpg") %>" alt="">
		<div class="caption" style="color:#888;">
		"The Sutton"<br>
		1170 Ocean Parkway, Brooklyn
		</div>
	</div>
</div>

<h4>Use of the New York Real Estate Brochures Collection</h4>
<ol class="paddedOLUL">
<li>
Columbia University has provided access to these materials for educational and research purposes only.
</li>
<li>
The University does not authorize any use or reproduction whatsoever for commercial purposes.
</li>
<li>
The materials are displayed "as is" and without warranties of any kind, either express or implied, including any warranties of title, non-infringement of copyright or other rights.
</li>
<li>
Materials in the New York Real Estate Brochures Collection may be protected by copyright law. Materials that are protected by copyright law may be used only with permission from the copyright owner, or within the limits of fair use and other statutory exceptions. Columbia University makes no representation about the copyright status of the materials in the New York Real Estate Brochures Collection and cannot give legal advice.
</li>
<li>If you wish to publish or reproduce materials in the New York Real Estate Brochures Collection, please see: <a href="http://library.columbia.edu/services/preservation/publications_policy.html">Columbia University Libraries Publication &amp; Digital Reproduction Policy and Procedures</a>.
</li>
<li>If you claim copyright ownership of any of the materials in the New York Real Estate Brochures Collection and believe that your materials are inappropriately accessible on this Web site, please contact:
<br><br>
Director, Avery Architectural &amp; Fine Arts Library 
<br>300 Avery
<br>Columbia University
<br>1172 Amsterdam Avenue
<br>MC0301
<br>New York, NY 10027
<br><a href="mailto:avery@libraries.cul.columbia.edu">avery@libraries.cul.columbia.edu</a>
</li>
</ol>

<h4>Reproductions</h4>
<p>For information about digital reproduction for publication, please visit Columbia University Libraries'
<strong>Publication and Digital Reproduction Policies and Procedures</strong>, available at:<br>
<a href="http://library.columbia.edu/services/preservation/publications_policy.html">http://library.columbia.edu/services/preservation/publications_policy.html</a>.</p>

<p>See also Avery Library's <strong>Services</strong> page at:<br>
<a href="http://library.columbia.edu/locations/avery/access-services.html">http://library.columbia.edu/locations/avery/access-services.html</a></p>

<h4>Image Credits</h4>
<p>Images must be credited in the following manner:</p>

<div align="text-center" class="credits">
Courtesy of the New York Real Estate Brochure Collection, <br>Avery Architectural and Fine Arts Library, Columbia University.
</div>
