@import '../palettes/base';
@import '../palettes/monochromeDark';

$url_dcv_small: image-url('dcv/1836760843_267e9c947f_o-sm-b.jpg');

#site-banner {
	// only in root page
	#site-title {
		text-align: center;
	}
	#site-banner-left {
		background-color: $color_primary_background;
		background-image: $url_dcv_small;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 104%;
		vertical-align: middle;
		height: 80px;
		width: 100%;
	}
}

@media(min-width: 768px) {
	#site-banner {
		#site-banner-inner {
			margin-bottom: .1em;
			overflow: hidden;
		}
		#site-banner-left {
			height: 80px;
		}
		&.slim #site-banner-inner #site-title {
			display: inline-block;
			padding-top: 16px;
			padding-bottom: 0;
			font-size: .93em;
			text-align: left;
		}
	}
	#topnavbar .topbarlogo {
		display: inline-block;
		letter-spacing: 0;
	}
}
@media(max-width: 991px) {
	#topnavbar .topbarlogo {
		display: inline-block;
		letter-spacing: 0;
	}
}
@media(min-width: 992px) {
	#site-banner {
		#site-banner-inner {
			margin-bottom: .3em;
			overflow: hidden;
		}
		#site-banner-left {
			height: 105px;
		}
		&.slim #site-banner-inner {
			img {
				margin-top: 1.2em;
			}
			#site-title {
				display: inline-block;
				padding-top: 12px;
				padding-bottom: 0;
				font-size: 1.25em;
			}
		}
	}
	#topnavbar .topbarlogo {
		display: inline-block;
		margin: 0;
		letter-spacing: 1px;
		margin-top: 2px;
	}
}
@media(min-width: 1200px) {
	#outer-wrapper {
		padding: 0 10px 2em;
		width: 1190px;
	}
	#navbar-container {
		width: 1190px;
	}
	#site-banner {
		padding: 0 23px 1.4em;
		margin: 0 -23px 20px;
		#site-banner-inner {
			margin-bottom: .3em;
			overflow: hidden;
		}
		#site-banner-left {
			height: 128px;
		}
		&.slim #site-banner-inner {
			img {
				margin-top: 1em;
				height: 21px;
				width: auto;
			}
			#site-title {
				display: inline-block;
				padding-top: 8px;
				padding-bottom: 0;
				font-size: 1.56em;
			}
		}
	}
	#topnavbar .topbarlogo {
		display: inline-block;
		margin: 0;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0;
		#topbarslash {
			padding-left: .2em;
			padding-right: .2em;
		}
	}
}
@media(max-width: 600px) {
	#topnavbar {
		font-size: 80%;
		line-height: 17px;
	}
	#cul_top-right .dropdown-toggle {
		margin-top: -1px;
	}
}
@media(max-width: 640px) {
	#topnavbar .topbarlogo {
		display: none;
	}
}
