<% document ||= {} -%>
<% asset ||= {} -%>
<% if document['physical_description_digital_origin_ssm']&.detect { |val| val.downcase == 'digitized microfilm'} %>
<div class="child-content text-muted"><em>Documents scanned from microfilm may have variable contrast quality.</em></div>
<% end -%>
<% from_strict_reading_room = (has_restricted_children? and !has_unviewable_children? and !current_user) -%>
<% if has_restricted_children? and !from_strict_reading_room %>
	<% offer_login = has_unviewable_children? and !current_user -%>
	<div class="child-content alert alert-info" role="alert">
		<% if offer_login -%>
			<%= render Dcv::Alerts::Vrr::LoginComponent.new %>
		<% end -%>
		<%= render Dcv::Alerts::Vrr::DisclaimerComponent.new %>
	</div>
<% end -%>