<footer class="col-sm-12">
	<hr />
	<div class="row">
		<div class="col-sm-6">
			<p><small>535 West 114th St. New York, NY 10027 &bull; Telephone: (212) 854-5590 Fax: (212) 854-1365</small></p>
		</div>
		<div class="col-sm-6 text-right">
			<p><small><%= link_to 'Terms of Use', terms_of_use_url %> | <a href="#" onclick="return DCV.FeedbackModal.show();">Suggestions &amp; Feedback</a></small></p>
		</div>
	</div>
</footer>
