<div id="secondary-nav" class="">
	<div class="subnav">
		<div class="row">
			<div class="col-sm-12">
			<ul class="nav nav-pills pull-left" style="font-size: 11px;">
						  <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Background Material <b class="caret"></b></a>
							<ul class="dropdown-menu list-unstyled dropdown-menu-left">
													<li><a href="http://library.columbia.edu/locations/global/jewishstudies/lcaaj.html">Archive Information</a></li>
													<li><a href="http://findingaids.cul.columbia.edu/ead/nnc-rb/ldpd_4079907/">Finding Aid</a></li>
												</ul>
						  </li>
						  <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">About the Project <b class="caret"></b></a>
							<ul class="dropdown-menu list-unstyled dropdown-menu-left">
													<li><a href="<%=lcaaj_about_path()%>">History &amp; Description</a></li>
												</ul>
						  </li>
			</ul>
			</div><!--/-->
		</div><!--/row-->
	</div><!--/subnav-->
</div>
