<h3 class="nomar-t">The Language and Culture Archive of Ashkenazic Jewry Project</h3>

<a name="about"> </a>
<p>
	<em>The Language and Culture Archive of Ashkenazic Jewry</em> (LCAAJ), an extraordinary resource for research in Yiddish studies, consists of 5,755 hours of audio tape field interviews with Yiddish speaking informants collected between 1959 and 1972 and ca. 100,000 pages of accompanying linguistic field notes. The Archive does not include transcriptions of the interviews.
</p>

<p>
	The data that constitutes the LCAAJ was collected from 603 locations in Central and Eastern Europe carefully chosen to reflect the distribution of the Yiddish speaking population on the eve of World War II. In a series of interviews lasting anywhere from 2.5 to 16 hours, informants answered questions on a wide variety of topics concerning Yiddish language and culture. The project was designed by Professor Uriel Weinreich, then Chairman of Columbia University's Department of Linguistics, and continued after his death in 1967 under the direction of Dr. Marvin Herzog, Atran Professor Emeritus of Yiddish Studies at Columbia University, who donated the Archive to the Columbia University Libraries in 1995.  Dr. Herzog passed away in 2013.
</p>
<p>
For more information about the project and its history, see the <a href="http://library.columbia.edu/locations/global/jewishstudies/lcaaj.html">LCAAJ page</a> on the Libraries website.
</p>
