body {
    background-color: #D0DDF0;
    /*
    background-image: url(asset_path("durst/durst-6120.jpg"));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    */
    color:#111;
}
#topnavbar {
    background:#86878C;
    border-top-color:#3D3F3E;
    #cul_top-nosearch {
        background-color:#3D3F3E;
        #crowndown-nosearch, .dropdown-menu {
            background:#3D3F3E;
        }
    }
}
#site-banner {
    padding: 0 1.4em 1.0em;
    margin:0 -1.75em 20px;
    background-color:#3D3F3E;
    #site-banner-inner {
    }
}
#site-title {
    font-family: trajan pro;
    display:inline-block;
    color: #fff;
    font-weight: 100;
    font-size: 1.98em;
    vertical-align:bottom;
    padding-top:8px;
    padding-bottom: 0;
    text-decoration:none;
}
@media (max-width:1200px) {
    #site-title {
      font-size:160%;
    }
}
#outer-wrapper {
    background-color:#F3F3F3;
    overflow:hidden;
}
#main-container {
    padding-top:1.3em;
    .inner, #facets .panel-default, .panel-default > .panel-heading {
        background-color:#fff;
    }
    #facets .panel-default, .panel-default > .panel-heading {
        color:#888;
        border:0;
    }
}
#secondary-nav {
    background: #CFCFCF;
    padding:0 12px 0;
    margin: 0 -24px 0;
    height: 24px;
    line-height: 3px;
    border: 1px solid #888;
    border-right: 0;
    border-left: 0;
    li:first-child {
      border-left:0;
    }
    li {
      border-left:1px solid #eee;
      & a:hover, &.open a.dropdown-toggle {
        background-color:rgba(0,0,0,.1);
      }
    }
}
#content .col-sm-3.document {
}
#content .col-sm-3.document.list-view {
    border-color:#ccc;
}
#content .col-sm-3.document .thumbnail, #content .col-sm-3.document .tombstone {
    height:auto;
}
a, a:hover, .dropdown a {
    color:#591300;
}
.btn-primary, #topnavbar #cul_top-nosearch .dropdown-menu li a:hover {
    background-color:#591300;
    background:#591300;
}
.btn-primary:hover {
    background-color:#6a2400;
    background:#6a2400;
}
