//colors
$color_0: #808080;
$color_1: #fff;
$color_2: #111;
$color_3: #eee;
$color_4: #900;
$color_5: #86878c;
$color_6: #222;
$color_7: #999;
$color_8: #3d3f3e;
$color_9: #000;
$color_10: #fcfcfc;
$color_11: #bbb;
$color_12: #600;
$color_13: #444;
$color_14: rgba(0, 0, 0, 0.2);
$color_15: rgba(0, 0, 0, 0.25);
$color_16: #888;
$color_17: rgba(255, 255, 255, 0.3);
$color_18: #cfcfcf;
$color_19: #8c3522;
$color_20: #333;
$color_21: #ddd;
$color_22: #ccc;
$color_23: rgba(255, 255, 255, 0.9);
$color_24: #591300;
$color_25: #aaa;
$color_26: rgba(255, 255, 255, 0.4);
$color_27: #6a2400;

//fonts
$font_0: helvetica neue;
$font_1: sans-serif;
$font_2: TrajanProRegular;
$font_3: trajan pro;
$font_4: trajan;
$font_5: serif;

#main-container {
	.inner {
		&.home {
			#imgholder-div .thumbnail {
				background-color: transparent;
				h3 {
					color: $color_1;
					background: $color_14;
				}
				&:hover {
					border-color: $color_4;
					h3 {
						background: $color_15;
					}
				}
			}
			#facets {
				margin-left:0;
				margin-right:0;
				border:0;
			}
		}
	}
}
#content {
	#durst-map-image {
		width: 100%;
		height: auto;
	}
	.appliedFilter .filterName:after {
		color: $color_21;
	}
	#motm-list {
		> li {
			margin-bottom:1em;
		}
	}
}
#map-attrib-icon {
	margin-left: .25em;
	cursor: pointer;
}
.nodec {
	text-decoration: none !important;
}
#durst-help-img {
	margin-left: .5em;
}
#dhig .thumbnail {
	margin-bottom: 1em;
}
