body {
    color:#111;
    background-color:#eee; //#4E5663; // #D0DDF0;
    /*
    background-image: url(asset_path("durst/durst-6120.jpg"));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    */
}
#topnavbar {
    background:#86878C;
    border-top-color:#222;
    #cul_top-nosearch {
        background-color:#222;
        #crowndown-nosearch, .dropdown-menu {
            background:#222;
        }
    }
    #navbar-container {
    }
}
footer {
    &.container {
      font-size:.85em;
      color:#999;
    }
}
#site-banner {
    padding: 0 1.4em 1em;
    margin:0 -1.75em 20px;
    background-color:#3D3F3E;
    #site-banner-inner {
    }
    #search-navbar #q {
      background-color:#eee;
      color:#000;
      &:focus {
         background-color:#fff;
      }
    }
}
#site-title {
    display:inline-block;
    padding-top:4px;
    padding-bottom: 0;
    margin-bottom:2px;
    font-family: "helvetica neue", sans-serif; //'TrajanProRegular', 'trajan pro', trajan, serif;
    font-size:160%;
    font-weight: 200;
    line-height:1;
    color: #fff;
    text-align:left;
    text-decoration:none;
    text-transform:uppercase;
    vertical-align:bottom;
}
#site-banner-subtitle {
    padding: 0;
    margin: 0;
    font-family: 'TrajanProRegular', 'trajan pro', trajan, serif;
    font-size: 17px;
    line-height: 1;
    color:#fff;
    text-align:left;

}
@media (min-width:768px) {
    #site-banner-subtitle {
      font-size:14px;
    }
}
@media (min-width:1200px) {
    #site-title {
      padding-top:1px;
      font-size: 1.98em;
      letter-spacing:1px;
    }
    #site-banner-subtitle {
      font-size:18px;
      letter-spacing: 1px;
    }
}
@media(max-width:640px) {
    #site-title, #site-banner-subtitle {
      display:block;
      text-align:center;
    }
}
#outer-wrapper {
    overflow:hidden;
    background-color:#FCFCFC;
    border-color:#bbb;
}
#main-container {
    padding-top:1.3em;
    .inner {
        padding:1em;
      &.home {
        padding:0;
        border:0;
        background:transparent;
        background-color:transparent;
        #imgholder-div {
          .thumbnail {
            position:relative;
            padding:0;
            background-color:#fff;
            h3 {
              position:absolute;
              width:100%;
              text-align:center;
              text-shadow:1px 1px 1px #600;
              padding:12px 0;
              color:#fff;
              top:32%;
              border:1px solid #444;
              border-width:1px 0;
              background:rgba(0,0,0,.2);
            }
            &:hover {
              border-color:#900;
              h3 {
                background:rgba(0,0,0,.25);
              }
            }
          }
        }
      }
      h6 {
        color:#999;
      }
    }
    .inner, #facets .panel-default, .panel-default > .panel-heading {
      &.home {
        background-color:transparent;
      }
        background-color:#fff;
    }
    #facets .panel-default, .panel-default > .panel-heading {
        color:#888;
        border:0;
    }
}
#facets {
    margin-right:-1em;
    margin-left:-1em;
    .top-panel-heading, .panel {
       background-color:transparent!important;
       box-shadow:none;
    }
    .panel .panel-heading {
      margin-right:1em;
      margin-left:1em;
      padding:.2em 0;
      background-color:rgba(255,255,255,.3)!important;
    }
    .panel-body {
      border:0;
    }
}
#secondary-nav {
    height: 24px;
    padding:0 12px 0;
    margin: 0 -24px 0;
    line-height: 3px;
    background: #CFCFCF;
    border: 1px solid #888;
    border-right: 0;
    border-left: 0;
    li:first-child {
      border-left:0;
    }
    li {
      border-left:1px solid #eee;
      & a:hover, &.open a.dropdown-toggle, a.active {
        background-color:transparent; //rgba(0,0,0,.1);
        color:#8c3522;
      }
    }
    a {
        color:#333;
    }
}
#content {
  #mapholder {
    width:100%;
    height:auto;
  }
  #mapholder-div {
     position:relative;
     overflow:hidden;
     border:1px solid #888;
     #durst_osm {
       width:100%;
       height:420px;
      .leaflet-popup-content {
        hr {
          margin:10px 0;
        }
        .thumbnail img {
          margin:0 auto;
          max-width:100%;
          height:120px;
        }
      }
     }
  }
  #appliedParams {
    border-width:0 0 1px 0;
    box-shadow:none;
  }
  .appliedFilter .filterName:after {
    color: #ddd;
  } 
}
#content .col-sm-3.document.list-view .thumbnail.col-sm-2 {
    max-height: 100%;
}
#content .col-sm-3.document {
	&.list-view {
		border-color:#ccc;
	}
	.thumbnail, .tombstone {
		height:auto;
	}
}
#dhss {
  #carousel-example-generic {
     border:1px solid #888;
  }
}
#dhig {
    .thumbnail {
        margin-bottom:1em;
    }
}
#sidebar, #item-description {
  #durst_osm {
    width:100%;
    height:260px;
    .leaflet-popup-content-wrapper {
      max-width:210px;
      max-height:240px;
      hr {
        margin:10px 0;
      }
      .leaflet-popup-content {
        .thumbnail img {
          height:100px;
        }
      }
    }
    .leaflet-control-attribution {
      height:1.5em;
      font-size:75%;
      a {
        color:#600!important;
      }
      &:hover {
        height:auto;
        background:rgba(255, 255, 255, 0.9);
      }
    }
  }
}
#previousNextDocument {
    .btn-default { color:#fff; }
}
.pagination > li > a, .pagination > li > span { 
    color: #591300;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	color: white;
	background-color: #591300;
	border-color: #591300;
}
.pagination>li>a, .pagination>li>span {
    background-color: transparent;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: rgba(0,0,0,.2);
}
#child_gallery {
    background-color:transparent;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    position:relative;
	width: 100%;
}
.carousel-inner .dhp-img-holder {
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    &:hover {
      cursor:pointer;
    }
}
.carousel-control {
	color:rgba(255,255,255,.6);
}
a, a:hover, .dropdown a {
    color:#990000; //#591300;
}
.leaflet-control-attribution a, .leaflet-popup-content a {
    color: #990000!important;
}
.btn-primary, #topnavbar #cul_top-nosearch .dropdown-menu li a:hover {
    background:#591300;
    background-color:#591300;
}
.btn-primary:hover {
    background:#6a2400;
    background-color:#6a2400;
}
