//colors
$color_0: #808080;
$color_1: #fff;
$color_2: #111;
$color_3: #eee;
$color_4: #900;
$color_5: #86878c;
$color_6: #222;
$color_7: #999;
$color_8: #3d3f3e;
$color_9: #000;
$color_10: #fcfcfc;
$color_11: #bbb;
$color_12: #600;
$color_13: #444;
$color_14: rgba(0, 0, 0, 0.2);
$color_15: rgba(0, 0, 0, 0.25);
$color_16: #888;
$color_17: rgba(255, 255, 255, 0.3);
$color_18: #cfcfcf;
$color_19: #8c3522;
$color_20: #333;
$color_21: #ddd;
$color_22: #ccc;
$color_23: rgba(255, 255, 255, 0.9);
$color_24: #591300;
$color_25: #aaa;
$color_26: rgba(255, 255, 255, 0.4);
$color_27: #6a2400;

//fonts
$font_0: helvetica neue;
$font_1: sans-serif;
$font_2: TrajanProRegular;
$font_3: trajan pro;
$font_4: trajan;
$font_5: serif;

//urls
$url_0: url(asset_path("durst/durst-6120.jpg"));

//@extend-elements
//original selectors
//.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus
%extend_1 {
	color: $color_1;
	background-color: $color_24;
	border-color: $color_24;
}


body {
	color: $color_2;
	background-color: $color_3;
}
a, .btn-link {
	color: $color_4;
	&:hover {
		color: $color_4;
	}
	&:focus {
		color: $color_4;
		text-decoration: none;
	}
}
#topnavbar {
	background: $color_5;
	border-top-color: $color_6;
	#cul_top-nosearch {
		background-color: $color_6;
		#crowndown-nosearch {
			background: $color_6;
		}
		.dropdown-menu {
			background: $color_6;
			li a:hover {
				background: $color_24;
				background-color: $color_24;
			}
		}
	}
}
#site-banner {
	padding: 0 1.4em 1em;
	margin: 0 -1.75em 20px;
	background-color: $color_8;
	#site-banner-inner {
		overflow: visible;
	}
	#search-navbar #q {
		background-color: $color_3;
		color: $color_9;
		&:focus {
			background-color: $color_1;
		}
	}
}
#site-title {
    position: relative;
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 0;
	margin-bottom: 2px;
	font-family: $font_0, $font_1;
	font-size: 160%;
	font-weight: 200;
	line-height: 1;
	color: $color_1;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: bottom;
    #beta {
		position:absolute;
		top:-0.9em;
		right:0;
		margin-left:1.5em;
		font-size:40%;
		color:$color_11;
    }
}
#site-banner-subtitle {
	padding: 0;
	margin: 0;
	font-family: $font_2, $font_3, $font_4, $font_5;
	font-size: 17px;
	line-height: 1;
	color: $color_1;
	text-align: left;
}
@media(min-width: 768px) {
	#site-banner-subtitle {
		font-size: 14px;
	}
}
@media(min-width: 1200px) {
	#site-title {
		padding-top: 1px;
		font-size: 1.85em;
		letter-spacing: 1px;
	}
	#site-banner-subtitle {
		font-size: 18px;
		letter-spacing: 1px;
	}
}
@media(max-width: 640px) {
	#site-title {
		display: block;
		text-align: center;
	}
	#site-banner-subtitle {
		display: block;
		text-align: center;
	}
	.break-phone {
		display: block;
	}
}
#outer-wrapper {
	overflow: hidden;
	background-color: $color_10;
	border-color: $color_11;
}
#main-container {
	padding-top: 1.3em;
	.thumbnail {
		background-color: $color_1;
	}
	.inner {
		padding: 1em;
		background-color: $color_1;
		&.home {
			padding: 0;
			border: 0;
			background: transparent;
			background-color: transparent;
			background-color: transparent;
			#imgholder-div .thumbnail {
				position: relative;
				padding: 0;
				background-color: $color_1;
				h3 {
					position: absolute;
					width: 100%;
					text-align: center;
					text-shadow: 1px 1px 1px $color_12;
					padding: 12px 0;
					color: $color_1;
					top: 32%;
					border: 1px solid $color_13;
					border-width: 1px 0;
					background: $color_14;
				}
				&:hover {
					border-color: $color_4;
					h3 {
						background: $color_15;
					}
				}
			}
		}
		h6 {
			color: $color_7;
		}
	}
	#facets .panel-default {
		background-color: $color_1;
		color: $color_16;
		border: 0;
		&.home {
			background-color: transparent;
		}
	}
	.panel-default > .panel-heading {
		background-color: $color_1;
		color: $color_16;
		border: 0;
		&.home {
			background-color: transparent;
		}
	}
}
#facets {
	margin-right: -1em;
	margin-left: -1em;
	.top-panel-heading {
		background-color: transparent !important;
		box-shadow: none;
	}
	.panel {
		background-color: transparent !important;
		box-shadow: none;
		.panel-heading {
			margin-right: 1em;
			margin-left: 1em;
			padding: .2em 0;
			background-color: $color_17 !important;
		}
	}
	.panel-body {
		border: 0;
		.facet-values li .selected {
			color: $color_13;
		}
	}
	a {
		text-decoration: none;
	}
	.panel-title a:focus {
		color: inherit;
	}
}
#secondary-nav {
	height: 24px;
	padding: 0 12px;
	margin: 0 -24px;
	line-height: 3px;
	background: $color_18;
	border: 1px solid $color_16;
	border-right: 0;
	border-left: 0;
	li {
		border-left: 1px solid $color_3;
		max-height: 22px;
		&:first-child {
			border-left: 0;
		}
		a {
			&:hover {
				background-color: transparent;
				color: $color_19;
			}
			&.active {
				background-color: transparent;
				color: $color_19;
			}
		}
		&.open a.dropdown-toggle {
			background-color: transparent;
			color: $color_19;
		}
	}
	a {
		color: $color_20;
		&:focus {
			background-color: transparent;
		}
	}
	#navbar_right_wrapper {
		padding-left: 0;
	}
}
#content {
	#durst-map-image {
		width: 100%;
		height: auto;
	}
	#appliedParams {
		border-width: 0 0 1px 0;
		box-shadow: none;
	}
	.document {
		&.list-view {
			border-color: $color_22;
			.thumbnail.col-sm-2 {
				max-height: 100%;
			}
		}
		.thumbnail {
			height: auto;
		}
		.tombstone {
			height: auto;
			.index-show-tombstone-fields h3 {
				margin-bottom: .25em;
			}
		}
	}
	.appliedFilter .filterName:after {
		color: $color_21;
	}
	#motm-list {
		> li {
			margin-bottom:1em;
		}
	}
}
#doc-item-title {
	padding: .25em;
}
#item-information {
	padding: 1em;
}
@media(max-width: 990px) {
	#item-description {
		margin-bottom: 1em;
	}
}
#map-attrib-icon {
	margin-left: .25em;
	cursor: pointer;
}
#child_gallery {
	background-color: transparent;
	border-color: $color_25;
	border-bottom: 0;
	.document img {
		max-height: 150px;
	}
}
.carousel-inner {
	.durst-carousel-img-holder {
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		&:hover {
			cursor: pointer;
		}
	}
	> .item > {
		img {
			position: relative;
			width: 100%;
		}
		a > img {
			position: relative;
			width: 100%;
		}
	}
}
.carousel-control {
	color: $color_26;
	&.right, &.left {
		background:transparent;
		.glyphicon {
			color:#000;
		}
	}
}
.carousel-fade {
	.carousel-inner {
		.item {
		  opacity: 0;
		  -webkit-transition-property: opacity;
		  -moz-transition-property: opacity;
		  -o-transition-property: opacity;
		  transition-property: opacity;
		}
		.active {
		  opacity: 1;
			&.left,
			&.right {
			  left: 0;
			  opacity: 0;
			  z-index: 1;
			}
		}
		.next.left,
		.prev.right {
		  opacity: 1;
		}
	}
	.carousel-control {
	  z-index: 2;
	}
}
.nodec {
	text-decoration: none !important;
}
.btn-primary {
	background: $color_24;
	background-color: $color_24;
	&:hover {
		background: $color_27;
		background-color: $color_27;
	}
}
.caretup {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 0;
	border-right: 4px solid transparent;
	border-bottom: 4px solid;
	border-left: 4px solid transparent;
	content: "";
}
#durst-help-img {
	margin-left: .5em;
}
.dropdown a {
	color: $color_4;
}
footer.container {
	font-size: .85em;
	color: $color_7;
}
#durst-home-carousel-wrapper #carousel-example-generic {
	border: 1px solid $color_16;
}
#dhig .thumbnail {
	margin-bottom: 1em;
}
#item-content dl {
	margin-bottom: 0;
}
#sidebar .cul-map-display-component {
	width: 100%;
	height: 260px;
	.leaflet-popup-content-wrapper {
		max-width: 210px;
		max-height: 240px;
		hr {
			margin: 10px 0;
		}
		.leaflet-popup-content .thumbnail {
			background-color: $color_1;
			img {
				height: 100px;
			}
		}
	}
	.leaflet-control-attribution {
		font-size: 85%;
		a {
			color: $color_12 !important;
		}
		&:hover {
			background: $color_23;
		}
	}
}
#item-description .cul-map-display-component {
	width: 100%;
	height: 260px;
	.leaflet-popup-content-wrapper {
		max-width: 210px;
		max-height: 240px;
		hr {
			margin: 10px 0;
		}
		.leaflet-popup-content .thumbnail {
			background-color: $color_1;
			img {
				height: 100px;
			}
		}
	}
	.leaflet-control-attribution {
		font-size: 85%;
		a {
			color: $color_12 !important;
		}
		&:hover {
			background: $color_23;
		}
	}
}
#previousNextDocument .btn-default {
	color: $color_1;
}
.pagination > {
	li > {
		a {
			color: $color_24;
			background-color: transparent;
		}
		span {
			color: $color_24;
			background-color: transparent;
		}
	}
	.active > {
		a {
			@extend %extend_1;
			&:hover {
				@extend %extend_1;
			}
			&:focus {
				@extend %extend_1;
			}
		}
		span {
			@extend %extend_1;
			&:hover {
				@extend %extend_1;
			}
			&:focus {
				@extend %extend_1;
			}
		}
	}
	.disabled > {
		span {
			background-color: $color_14;
			&:hover {
				background-color: $color_14;
			}
			&:focus {
				background-color: $color_14;
			}
		}
		a {
			background-color: $color_14;
			&:hover {
				background-color: $color_14;
			}
			&:focus {
				background-color: $color_14;
			}
		}
	}
}
.leaflet-control-attribution a {
	color: $color_4 !important;
}
.leaflet-popup-content a {
	color: $color_4 !important;
}
#ajax-modal .modal-content {
	background-color: $color_1;
}
