.figure-dcv {
	display: block;
	position: relative; // enables stretched-link in caption to be contained
	figcaption {
		font-style: italic;
	}
}
.figure-hero-container {
	figure {
		width: 100%;
		picture {
			@extend .bg-dark;
			@extend .d-flex;
			@extend .mx-auto;
		}
	}
}
.figure-inset-container {
	figure {
		@media(max-width: 767.9px) {
			width: 100%;
			picture {
				display: flex;
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media(min-width: 768px) {
			float: right;
			max-width: 50%;
			padding:0.5em;
		}
	}
}
