.nodec {
	text-decoration: none !important;
}
.clear-both {
	clear: both;
}

.text-transparent, .text-transparent:hover {
	color: transparent !important;
}
.text-md-down-transparent, .text-md-down-transparent:hover {
	@media(max-width: 767.98px) {
	  color: transparent !important;
	}
}
.text-lg-down-transparent, .text-lg-down-transparent:hover {
	@media(max-width: 991.98px) {
	  color: transparent !important;
	}
}
.tooltip-md-none {
	@media(min-width: 768px) {
		display:none !important;
	}
}
.tooltip-none {
  display:none !important;
}
footer address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}
.h-poster {
	height: 768px !important;
}