.nodec {
	text-decoration: none !important;
}
.clear-both {
	clear: both;
}

.text-transparent, .text-transparent:hover {
	color: transparent !important;
}
.text-md-transparent, .text-md-transparent:hover {
	@media(min-width: 768px) {
	  color: transparent !important;
	}
}
.text-sm-transparent, .text-sm-transparent:hover {
	@media(max-width: 767.9px) {
	  color: transparent !important;
	}
}