//fonts
$font_0: helvetica neue;
$font_1: helvetica;
$font_2: sans-serif;
$font_3: TrajanProRegular;
$font_4: trajan pro;
$font_5: trajan;
$font_6: serif;
$font_glyphs: FontAwesome;
$font_b: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$font_c: "Helvetica Rounded", Arial, sans-serif;
