language: ruby
cache: bundler
sudo: false

rvm:
  - 2.4.2
  - 2.3.4

jdk: 'oraclejdk8'

notifications:
  irc: "irc.freenode.org#ldpddev"

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  
script: bundle exec rake dcv:ci
