<p class="affiliate-login">Members of the Columbia University community may log in <strong><%= link_to 'here', send(:"user_#{controller.omniauth_provider_key}_omniauth_authorize_url", return_to: request.original_url) %></strong> to access this content.</p>
