<h1>Editing <%= link_to(@subsite.slug, edit_site_path(slug: @subsite.slug)) %> / <%= @page.slug %> (<%= link_to("view", site_page_path(site_slug: @subsite.slug, slug: @page.slug)) %>)</h1>
<div class="container"><%= render 'sites/pages/form' %></div>