@import '../palettes/monochrome';
@import '../signature/fonts';
@import 'bootstrap/scss/mixins';

//colors
$gray: #888;
$splash: #2a778f;
$splash-border: $splash;
$splash-color: color-yiq($splash);
$splash-hover-background: lighten($splash, 7.5%);
$splash-hover-border: lighten($splash, 10%);
$splash-active-background: lighten($splash, 10%);
$splash-active-border: lighten($splash, 12.5%);

//urls
$url_logo: url("ifp/IFP-square-logo.png");
$url_flag_sprite: url("ifp/office-flags/country_flag_folders_sm.png");

%custom_dt {
	margin-top: .5em;
	text-transform: uppercase;
	font-size: .85em;
	font-weight: normal;
}

@import './main_container';

.ifp {
	.btn-splash {
		@include button-variant($splash, $splash);
	}
	.btn-outline-splash {
		@include button-outline-variant($splash);
	}
	.show > .btn-splash, .show > .btn-outline-splash {
		// we reproduce this because the button-variant mixin builds the .show selector above .ifp
		&.dropdown-toggle {
			color: color-yiq($splash-active-background);
			@include gradient-bg($splash-active-background);
			@if $enable-gradients {
				background-image: none; // Remove the gradient for the pressed/active state
			}
			border-color: $splash-active-border;

			&:focus {
				@if $enable-shadows and $btn-active-box-shadow != none {
					@include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix($splash-color, $splash-border, 15%), .5));
			 	} @else {
					// Avoid using mixin so we can pass custom focus shadow properly
					box-shadow: 0 0 0 $btn-focus-width rgba(mix($splash-color, $splash-border, 15%), .5);
				}
			}
		}
	}
	.card > .card-header {
		border: 0;
	}
}

@media(min-width: 768px) {
	#site-title {
		background-image: $url_logo;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: left center;
		padding-left:90px;
	}
	#partner-dropdown {
		width: 420px !important;
	}
}
@media(min-width: 992px) {
	#site-title {
		background-image: $url_logo;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: left center;
	}
	#partner-image-grid a:first-child .lead {
		top: 38% !important;
		font-size: 110% !important;
		cursor: text;
	}
}
@media(min-width: 1200px) {
	#site-title {
		background-image: $url_logo;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: left center;
	}
	#partner-image-grid a:first-child .lead {
		top: 35% !important;
		font-size: 140% !important;
	}
}
@media(max-width: 769px) {
	.blacklight-ifp-partner #content {
		.img-responsive {
			width: 100%;
			padding-right: 0;
			padding-left: 0;
		}
		.partner-text {
			padding-top: 1em;
			margin-top: 1em;
			clear: both;
		}
	}
}
#main-container {
	#partner-sidebar li {
		margin-bottom: .75em;
		border-color: transparent;
		font-size: 60%;
		text-align: left;
		a {
			display:inline-block;
			height: 60px;
			width: 60px;
			line-height:115px;
			background-image: $url_flag_sprite;
			background-size: 510%;
			text-align: center;
			&.brazil {
				background-position: 0px -3px;
			}
			&.chile {
				background-position: -61px -3px;
			}

			&.china {
				background-position: -123px -3px;
			}

			&.egypt {
				background-position: -184px -3px;
			}

			&.ghana {
				background-position: -245px -3px;
			}

			&.guatemala {
				background-position: 0px -65px;
			}

			&.india {
				background-position: -61px -65px;
			}

			&.indonesia {
				background-position: -123px -65px;
			}

			&.kenya {
				background-position: -184px -65px;
			}

			&.mexico {
				background-position: -245px -65px;
			}

			&.mozambique {
				background-position: 0px -126px;
			}

			&.nigeria {
				background-position: -61px -126px;
			}

			&.palestine {
				background-position: -123px -126px;
			}

			&.peru {
				background-position: -184px -126px;
			}

			&.philippines {
				background-position: -245px -126px;
			}

			&.russia {
				background-position: 0px -187px;
			}

			&.senegal {
				background-position: -123px -187px;
			}

			&.southafrica {
				background-position: -184px -187px;
			}

			&.tanzania {
				background-position: -245px -187px;
			}

			&.thailand {
				background-position: 0 -249px;
			}

			&.uganda {
				background-position: -61px -249px;
			}

			&.vietnam {
				background-position: -123px -249px;
			}

			&.secretariat {
				background-position: -61px -187px;
			}
		}
	}
}
#secondary-nav {
	#partner-dropdown {
		right:0;
		left:auto;
		min-width: 280px;
		background-color: white;
		li {
			width: 129px;
			margin-bottom: 1.5em;
			border-color: transparent;
			font-size: 85%;
			img {
				width: 45px;
				height: auto;
				margin-right: 3px;
			}
			a {
				font-size:1.3em;
				background-image: $url_flag_sprite;
				height: 40px;
				width: 40px;
				padding-left:20px;
				display: inline-block;
				background-repeat: no-repeat;
				text-indent: 20px;
				background-size: 500%;
				&:hover {
					background-color:transparent;
				}
				&.brazil{
					background-position: 0px -3px;
				}
				&.chile{
					background-position: -40px -3px;
				}
				&.china{
					background-position: -80px -3px;
				}
				&.egypt{
					background-position: -120px -3px;
				}
				&.ghana{
					background-position: -160px -3px;
				}
				&.guatemala{
					background-position: 0px -43px;
				}
				&.india{
					background-position: -40px -43px;
				}
				&.indonesia{
					background-position: -80px -43px;
				}
				&.kenya{
					background-position: -120px -43px;
				}
				&.mexico{
					background-position: -160px -43px;
				}
				&.mozambique{
					background-position: 0px -83px;
				}
				&.nigeria{
					background-position: -40px -83px;
				}
				&.palestine{
					background-position: -80px -83px;
				}
				&.peru{
					background-position: -120px -83px;
				}
				&.philippines{
					background-position: -160px -83px;
				}
				&.russia{
					background-position: 0px -123px;
				}
				&.secretariat{
					background-position: -40px -123px;
				}
				&.senegal{
					background-position: -80px -123px;
				}
				&.southafrica{
					background-position: -120px -123px;
				}
				&.tanzania{
					background-position: -160px -123px;
				}
				&.thailand{
					background-position: 0px -163px;
				}
				&.uganda{
					background-position: -40px -163px;
				}
				&.vietnam{
					background-position: -80px -163px;
				}
			}
		}
	}
	#content {
		.document {
			&.list-view {
				margin-bottom: 1em;
				min-height: inherit;
				.thumbnail.col-sm-2 {
					max-height: 100%;
				}
			}
			.thumbnail {
				height: auto;
			}
			.tombstone {
				height: auto;
				.index-show-grid-fields h3 {
					margin-bottom: .25em;
				}
			}
		}
	}
}

#partner-image-grid {
	margin-bottom: 1em;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 1px 1px 2px map-get($theme-text-colors, 'primary');
	background-color: $primary;
	text-transform: uppercase;
	a {
		position: relative;
		display: block;
		vertical-align: bottom;
		overflow: hidden;
		background-size: cover;
		width: 100%;
		height: 160px;
		color: map-get($theme-text-colors, 'primary');
		span {
			position: absolute;
			font-weight: 200;
			text-shadow: none;
			top: 45%;
			text-align: center;
			width: 100%;
			display: inline-block;
		}
		&:first-child {
			position: relative;
			display: block;
			vertical-align: bottom;
			text-align: left;
			overflow: hidden;
			width: 100%;
			.lead {
				display: inline-block;
				text-align: left;
				padding: .5em;
				position: absolute;
				top: 35%;
				font-size: 140%;
			}
		}
		&:hover span {
			color: $primary;
			background-color: map-get($theme-text-colors, 'primary');
		}
	}
}
#home-global-data {
	&.well {
		border-radius: 0;
		font-size: 99%;
	}
	dl {
		dt {
			@extend %custom_dt;
			&:first-child {
				margin-top: 0;
			}
		}
		dd {
			margin-left: .5em;
			word-wrap: break-word;
		}
	}
}
#partner-index-right-sidebar {
	dl {
		dt {
			@extend %custom_dt;
			&:first-child {
				margin-top: 0;
			}
		}
		dd {
			margin-left: .5em;
			word-wrap: break-word;
		}
	}
	.square-bullets {
		color:$gray;
		list-style:square;
		padding-left:1em;
	}
}

.fs-crumbs {
	margin-bottom: 1em;
	border-radius: 0;
}

#dhig .thumbnail {
	margin-bottom: 1em;
}
#item-content dl {
	margin-bottom: 0;
}
#sidebar-thumb {
	#file-download-and-info {
		.btn {
			margin-bottom:1em;
		}
	}
	.dl-vertical {
		dd {
			margin-left:1em;
		}
	}
}
