<h2 class="nomar-t">Call for Applications for the IFP Research Award</h2>

<p>Columbia University Libraries is pleased to announce a research awards program in support of the soon to be opened Ford Foundation International Fellowships Program (IFP) Archive. A total of six awards will be made to scholars, philanthropic administrators, and other researchers whose work either focuses on the IFP program specifically or on issues of social justice, higher education and community building generally, and who are able to demonstrate that their work will benefit from sustained immersion in the extensive archive of the IFP program. </p>

<p>The awards will also be of interest to those who wish to study in-depth the design and implementation of a large, global scholarship program that spanned 22 countries. Three $5,000 awards each (domestic applicants) and three $7,000 awards each (overseas applicants) will be made this spring. During the summer of 2016 awardees will spend time working in the Ford IFP Archive at Columbia University’s Rare Book &amp; Manuscript Library. Each awardee will present his or her project’s preliminary findings at a symposium to be held on Thursday, September 8, 2016 at Columbia University’s Faculty House.</p>
 
<h3>To Apply for a Research Award</h3>
 
<p>To apply for a research award please send the following materials as a single pdf file to <a onclick="window.location = 'mailto:smq2109@columbia.edu'; return false;" href="#">smq2109@columbia.edu</a> by April 15, 2016. Winners will be notified in late April 2016.</p>
 
<ul>
	<li>A three-page proposal outlining the purpose of the research project and how the Ford IFP archive will enable its successful completion. The proposal should include a research plan, including a timeline that leads up to the Thursday, September 8 symposium at Columbia University. Applicants should make reference to the Ford IFP Archive website and/or materials described in the online finding aid (<a href="http://findingaids.cul.columbia.edu/staging/ead/nnc-rb/ldpd_9489034">http://findingaids.cul.columbia.edu/staging/ead/nnc-rb/ldpd_9489034</a>) to the archive.</li>
	<li>A précis curriculum vita totaling no more than two pages.</li>
	<li>Two letters of support.</li>
</ul>

