//body:after { content: 'Printing is currently disabled during this beta period.' }

body {
	padding-top:0!important;
}
#topnavbar { 
	display:none; 
}
#outer-wrapper {
	border-top-width:1px;
	border-top-style:solid;
}
.navbar { display:block; }
a:after { content:''; }
a[href]:after { content: none !important; }

// for top level DLC home page
.blacklight-home-index {
	#digital_projects {
		.col-sm-3 {
			width:25%;
			float:left;
		}
	}
}

// for chrome and ff
@media(max-width: 992px) {
	#search-results {
		.col-sm-9 { 
			width:75%; 
			float:left; 
		}
		.thumbnail {
			background-color:transparent!important;
		}
		.document:not(.list-view) {
			width:25%;
			float:left;
		}
		.document.list-view .thumbnail {
			width:16.6666666667%;
			float:left;
		}
	}
	.blacklight-durst {
		#search-results {
			.document:not(.list-view), .document.list-view .thumbnail {
				width:16.6666666667%;
				float:left;
			}
		}
	}
	#facets {
		display:none;
	}
	.blacklight-durst {
		#sidebar {
			display:none;
		}
		#dhss, h6 {
			display:none;
		}
	}
}
