@import '../palettes/monochromeDark';

#digital_projects {
	h3, .h3 {
		font-size: 1.1em;
		margin-top: 0;
	}
	.project-image-link {
		display: block;
		margin-bottom:.5em;
	}
	.card-body {
		padding: 0.25rem;
	}
}


#content {
	#digital_projects {
		h3, .h3 {
			margin-top: 1em;
		}
		.col-sm-2 {
			height: auto;
			.thumbnail {
				height: auto;
				width: 100%;
			}
		}
	}
}

@media(min-width: 768px) {
	#content #digital_projects h3, #content #digital_projects .h3 {
		margin-top: auto;
	}
}

// only in projects_and_exhibitions partials
.btn-dark {
	color: $body-color;
	background-color: $body-bg;
	border-color: map-get($theme-border-colors, 'primary');
	&:hover {
		background-color:map-get($theme-border-colors, 'primary');
	}
}

.proj-jav {
	width:100%;
}

#home-page-content {
	.inner {
		hr {
			border-color:#666;
			border-style:dotted;
		}
	}
	#home-page-tabs {
			.nav-tabs {
				font-size: .815em;
				text-transform: uppercase;
				.active {
					a {
						color:$body-color;
					}
				}
			}
			.non-tab {
				> a {
					text-transform:none;
					border:0;
				}
			}
			h3, .h3 {
				margin-top:.5em;
				font-size:1em;
				font-weight:normal;
				line-height:1.4;
				a {
					&:hover {
						color:lighten(map-get($theme-border-colors, 'secondary'), 20%);
						text-decoration:none;
					}
				}
			}
			.proj-nav {
				.btn {
				}
			}
			.small {
				color:inherit;
			}
	}
}
