.edit_site {
	color: black;
	.site_pages {
		tr.row td {
			padding: 2px 0;
		}
	}
}
.panel {
	background: inherit;
	.ui-sortable-helper {
		background: #bdf;
	}
}
fieldset.paneled {
	border-width: 0 0 2px 0;
}

button.collapse-toggle {
	&::before {
		content: "Hide ";
	}
	&::after {
		font-family: 'Glyphicons Halflings';
		content: "\e114";
	}
	&.collapsed {
		&::before {
			content: "Show ";
		}
		&::after {
			content: "\e080";
		}
	}
}
