<div class="row">
	<div id="content" class="col-md-12">
		<h2 class="text-center">About the Online Reading Room</h2>
		<hr>
		<div class="inner">
			<h3 class="text-center">Restricted Access</h3>
			<p>Works from the art collections are available for research consultation and curricular use, and also may be requested as external loans for special exhibitions and for on-campus installation in selected  Columbia University department and staff offices.</p>
			<p>A core objective of the Columbia University Libraries Art Properties is to make our archival collections accessible for research and scholarship. However, certain digital items cannot be published online due to copyright restrictions.</p>
			<p>These materials can only be viewed in the Art Properties Reading Room during its hours of operation. To learn more about Art Properties and aspects of the University art collection, please visit the <a href="https://library.columbia.edu/libraries/avery/art-properties.html">Art Properties website</a>.</p>
		</div>
	</div>
</div>
