#date-range-canvas {
  width:100%;
  border:1px solid #777777;
  background-color:#000;
  cursor: crosshair;
}

#date-range-graph-wrapper {
  margin:10px;
}

#date-range-widget {
  margin-top:10px;
}

#sidebar-date-range-slider {
  margin:10px 8px 0px;
}
