body {
  background-color:#000;
}
input {
  /*color: #202020;*/
}
#outer-wrapper {
  padding-top:0;
  padding-bottom:2em;
  margin-bottom:2em;
  background-color:rgb(36,36,36);
  border:1px solid #333;
  border-top:0;
}
#topnavbar {
  min-height: 50px;
  font-size:13px;
  color:#eee;
  background: rgb(68, 68, 68);
  border-top: 5px solid #002b7f;
  border-bottom: 1px solid #222222;
  border-top-color: rgb(0, 0, 0);
  #navbar-container {
    padding:0;
  }
  #cul_top-nosearch {
    padding-left:0;padding-right:10px;height:38px;background: rgb(0, 0, 0);
    #crowndown-nosearch {
      height:39px;margin-lef:-10px;padding-left:0;margin-top:-1px;background: rgb(0, 0, 0);
      .dropdown-toggle {
        background: transparent url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-bts-24x24.png) no-repeat 4px 30%;
		padding-right: 4px;
		padding-left: 34px;
		font-size: 103%;
		line-height: 120%;
		letter-spacing: 0;
		font-weight: normal;
		font-family: TrajanProRegular, trajan, serif;
		margin-top: 2px;
      }
    }
    #cul_top-right {
    }
    .dropdown-menu {
      background-color:#000;
      margin-top:-3px;
      i.icon-crown-white {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-position: -14px 0;
        background-image: url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-icon-sprite.png) !important;
        line-height: 14px;
        vertical-align: text-top;
        margin-top: 1px;
      }
      & li a:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #0081c2;
        background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
        background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
        background-image: -o-linear-gradient(top, #0088cc, #0077b3);
        background-image: linear-gradient(to bottom, #0088cc, #0077b3);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
        background-color: #2a2aa5;
        color: #ffffff !important;
      }
    }
  }
  a {
    color:#eee;
    &:hover {
      color:#fff;
    }
  }
}
#site-banner {
  padding:0 13px 1.4em;
  margin:0 -13px 20px -14px;
  background-color:#111;
  border-bottom:1px solid #333;
  &.slim {
    margin-bottom:.5em;
    #site-banner-inner {
      margin-top:.9em;
      img {
        max-width:100%;
        margin-top:1.4em;
      }
    }
  }
  #site-banner-left {
    margin-top:20px;
    background-color:#000;
    background-image:image-url('dcv/1836760843_267e9c947f_o-sm.jpg'); //! CC by-nc-sa, https://www.flickr.com/photos/mmj171188/1836760843/
    background-repeat:no-repeat;
    background-position:center center;
    background-size:104%;
    vertical-align:middle;
    height:80px;
    width:100%;
  }
  nav {border:0;}
  h1 {
    width:100%;
    padding:2px 0 0;
    margin-bottom:.75em;
    text-align:center;
    font-family: TrajanProRegular, trajan, georgia, serif;
    font-size: 220%;
    a {
      color:#ffffff;
      &:hover {
        text-decoration:none;
      }
      img {
        max-width:100%;
      }
    }
  }
}

#content #digital_projects h3 {
  margin-top:1em;
}

@media (min-width: 768px) {
  #content #digital_projects h3 {
    margin-top:auto;
  }
  
  #topnavbar {
    .topbarlogo {
      display:inline-block;
      letter-spacing:0;
    }
  }
  #site-banner {
    #site-banner-inner {
      margin-bottom:.1em;
      overflow:hidden;
    }
    #site-banner-left {
      height:80px;
    }
  }
}
@media (max-width: 991px) {
  #topnavbar {
    .topbarlogo {
      display:inline-block;
      letter-spacing:0;
    }
  }
}
@media (min-width: 992px) {
  #topnavbar {
	  .topbarlogo {
		display:inline-block;
		margin:0;
		letter-spacing:1px;
		margin-top:2px;
	  }
  }
  #site-banner {
    #site-banner-inner {
      margin-bottom:.3em;
      overflow:hidden;
    }
    #site-banner-left {
      height:105px;
    }
    &.slim {
     #site-banner-inner {
       img {
         margin-top:1.2em;
       }
     }
    }
  }
}
@media (min-width: 1200px) {
  #outer-wrapper {
    padding:0 10px 2em 10px;
  }
  #outer-wrapper, #navbar-container {
    width:1190px;
  }
  #topnavbar {
	  .topbarlogo {
		display:inline-block;
		margin:0;
        font-size:16px;
        line-height:18px;
		letter-spacing:0;
        #topbarslash {
          padding-left: .2em;
          padding-right: .2em;
        }
	  }
  }
  #site-banner {
    padding: 0 23px 1.4em;
    margin: 0 -23px 20px;
    #site-banner-inner {
      margin-bottom:.3em;
      overflow:hidden;
    }
    #site-banner-left {
      height:128px;
    }
    &.slim {
     #site-banner-inner {
       img {
         margin-top:1em;
       }
     }
    }
  }
}
@media (max-width: 600px) {
  #topnavbar {
	font-size:80%;
    line-height:17px;
  }
  #cul_top-right .dropdown-toggle{
    margin-top:-1px;
  }
}
@media (max-width: 640px) {
  #topnavbar {
	  .topbarlogo {
		display:none;
	  }
  }
}
#search-navbar {
  margin-top:-6px;
  margin-bottom:0;
  background-color:transparent;
  border:none;
  &.slim {
    margin-top:.5em;
  }
  #q {
    background-color:rgba(0,0,0,.6);
    color:#ccc;
    &:focus {
      background-color:#000;
      color:#fff;
    }
	&::-webkit-input-placeholder { /* WebKit browsers */
		color:    #bbc;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #bbc;
		opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #bbc;
		opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #bbc;
	}
  }
  .input-group-addon {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:#666;
    border-color:#ccc;
    font-size:1em;
    #search_field {
      background-color:transparent;
      border:0;
      color:#fff;
    }
  }
  .search-btn, .reset-btn {
    border-color:#ccc;
  }
  .reset-btn {
    &:hover {
      background-color:#c9302c;
    }
  }
  #search {
    border-color:#ccc;
  }
}
h2[itemprop="name"] {
  overflow: hidden;
  text-overflow: ellipsis;
}
.show h2[itemprop="name"] {
  margin-bottom:1em;
  font-size:20px;
}
.thumbnails {
  margin-left: 20px;
  list-style: none;
}
.thumbnail {
  display: block;
  padding: .25em;
  margin: 0;
  overflow:hidden;
  line-height: 1;
  background-color:#000000;
  border-color:#888888;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  > img {
    display: block;
    max-width:100%;
    max-height:100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
  }
  img {
    width:auto;
    max-height:100%;
  }
}
#main-container .inner {
  position:relative;
  padding: 1.2em;
  background-color: rgba(0,0,0,.7);
  border: 1px solid #777;
  .tab-content {
    margin-top:2em;
  }
}
#home-page-tabs {
  .nav-tabs {
    font-size:.815em;
    text-transform:uppercase;
  }
}
#content .col-sm-2 {
  height: 150px;
  .thumbnail {
    height:100px;
		text-align: center;
  }
}

#content #digital_projects .col-sm-2 {
  height: auto;
	.thumbnail {
    height:auto;
    width:100%;
	}
}

#content .col-sm-3.document {
  height: 200px;
  margin-bottom:2em;
  .tombstone {
    height:100%;
    font-size:1em;
    .index-show-tombstone-fields {
      font-size:.85em;
      h3 {
        margin-bottom: .5em;
      }
    }
    h3 {
      font-size:1em;
    }
    .index_title {
      margin-top:1em;
    }
  }
  .thumbnail {
    height:150px;
  }
  &.list-view {
    height:auto;
    min-height:136px;
    margin-bottom:.5em;
    padding-top:1em;
    border-top:1px solid #202020;
    &:first-child {
      padding-top:0;
      border-top:0;
    }
    .tombstone {
      display:table;
      width:100%;
      .index-show-tombstone-fields {
        font-size:1em;
        h3 {
          font-size:1em;
        }
      }
      .index_title {
        margin-top:0;
      }
    }
    .thumbnail {
      max-height:110px;
      margin-right:1em;
      img {
        max-height:98%;
      }
    }
  }
}
#view-options {
  margin-bottom:1em;
  text-align:right;
}
#sidebar {
  .panel-default {
    border-color:#666;
    border-style:solid;
  }
  .panel-body .nav a, .panel-body .nav .btn-link {
    padding:.25em 0;
    font-size:95%;
    color:#bbb;
    position:relative;
    display:block;
    text-decoration:none;
    &:hover {
      color:#fff;
    }
  }
  .panel-title {
    &:hover {
      text-decoration:none;
    }
  }
}
#facets {
  padding-bottom:0;
  margin-right:-15px;
  margin-left:-15px;
  h4 {
    padding-left:.9em;
    font-weight:100;
  }
  .panel {
    margin-bottom:.5em;
  }
  .panel-title {
    font-size:.86em;
    text-transform:uppercase;
  }
  .panel-default {
    border-right:0;
    border-left:0;
    border-color:#333;
    border-style:solid;
  }
  .panel-body {
    border-top-color:#333;
  }
  .top-panel-heading {
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
  }
  .facet_limit-active > .panel-heading {
    background-color:rgba(123,123,123,.25);
  }
  .facet-values {
    font-size:90%;
    margin-bottom:0;
    li:last-child .facet-label {
      padding-bottom:0;
    }
    .facet-label {
      padding-right:.4em;
      padding-bottom:.9em;
      padding-left:0;
      line-height:1.25em;
      text-indent:0;
    }
    li:before {
      padding-right:3px;
      margin-left:-5px;
      font-size:.7em;
      font-family:"Glyphicons Halflings";
      color:#888;
      content: "\e080";
    }
  }
  #facet-panel-collapse {
    margin-bottom: 10px;
  }
}

.section-heading {
  padding:15px 0;
  border:solid #E0E0E0;
  border-width:1px 0;
}

.index-show-list-fields ul {
  padding-left:0;
  list-style: none;
}
#child_items article .documentHeader h5 {
  overflow:hidden;
}
#child_items article {
  overflow:hidden;
}
#child_items article dl {
  background:#fff;
}
#child_items article:nth-child(odd) dl {
  background-color: #fafafe;
}
#child_items article dl {
  margin-top:0.25em;
  margin-bottom:0.25em;
}
#child_items article dl, #secondary ul, #secondary dl {
  padding:4px;
  border:1px solid #dde;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#child_items article dl dt {
  font-size:121%;
  line-height:1.2;
}
#child_items article dl dt .dtcount {
  display:inline-block;
  float:left;
  margin-left:-28px;
  font-size:90%;
  font-weight:normal;
  line-height:1.5;
  color:rgba(0,0,0,0.3);
}
#child_items article dl dd {
  margin-right:3px;
  margin-left:3px;
}
#child_items article dl .hl_snippet {
  display:block;
  margin-bottom:1px;
  overflow:hidden;
  font-size:11px;
}
#child_items article dl .result_url {
  font-size:110%;
  color:#999/*#009129*/;
  word-break:break-word;
}
#child_items article dl dd .toggler {
  display:block;
  margin:0.2em 0 0.1em 0;
}
#child_items article dl .result_aka {
  margin-top:1px;
  font-size:12px;
  font-style:italic;
}
#child_items article .caption p {
   line-height:1.3em;
}
#child_items article code {
  padding:0;
  font-size:.9em;
  color:#444;
  background-color:#FEE9CC;
}
#child_items article .caption .index_title, #documents .span3 article .index_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#child_items article .thumbnail {
  position:relative;
}
#child_items article .thumbnail i {
  position:absolute;
  top:2px;
  right:2px;
}
#child_items .dl-vertical dd {
  margin-left:1em;
}
#favorite-child {
  max-height:600px;
  margin-bottom:1em;
  text-align:center;
  img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:400px;
    cursor: pointer; /* Backup pointer in case browser doesn't support zoom pointer */
    cursor: -moz-zoom-in; cursor: -webkit-zoom-in; cursor: zoom-in;
  }
}
#child_gallery {
  padding-top:1em;
  margin-top:1em;
  background-color:#111;
  border:1px solid #333;
  border-width:1px 0;
  .child-scroll {
    //height:210px;
    //overflow:auto;
    .thumbnail {
      height:130px;
      width:99%;
      img {
        height:99%;
        max-width:99%;
      }
    }
  }
}
#colorbox {
	#cboxClose {
	  top:0;
      background-color:white;
      border-bottom-left-radius:4px;
	}
	#cboxCurrent {
	  top:0;
	  left:0;
	  background-color:white;
      color:#888;
	  height:1.8em;
	  line-height:22px;
      padding:2px 6px;
      border-bottom-right-radius:4px;
	}
    #dlwrapper {
      position: absolute;
      right: 0;
      bottom:-6px;
      .dropdown-toggle {
        padding:0;
        color:#888;
        &:hover {
          color:#000;
        }
      }
      .dropdown-menu {
        margin-bottom:4px;
        border:none;
        border-top-left-radius:6px;
        box-shadow:none;
        a {
          color:#429cec;
          &:hover {
            color:#1069b9;
          }
        }
      }
    }
}
.nomar { margin:0; }
.nomar-rl { margin-right:0;margin-left:0; }
.nomar-tb { margin-top:0;margin-bottom:0; }
.nopad { padding:0; }
.nopad-rl { padding-right:0;padding-left:0; }
.nopad-tb { padding-top:0;padding-bottom:0; }
.cols-one {-moz-column-count:1; -webkit-column-count:1; column-count:1;}
.cols-two {-moz-column-count:2; -webkit-column-count:2; column-count:2;}
.cols-three {-moz-column-count:3; -webkit-column-count:3; column-count:3;}

#item-description {
  dt {
    border-bottom:1px solid #444;
    font-size:.86em;
    text-transform:uppercase;
  }
  dd {
    margin:5px 0px;
    word-wrap:break-word;
  }
}

#sidebar-date-range-selector input.sliderValue {
  display:inline-block;
  width: 29%;
  text-align: center;
}

#sidebar-date-range-selector #sidebar-date-range-set-btn {
  float:right;
  width:30%;
}

.page_links {
  padding: 3px 12px 3px 0 !important;
}

#show-tools-dropdown {
  margin-left:5px;
}

#previousNextDocument {
  padding-bottom:1em;
  margin-bottom:0 !important;
  border-bottom:0 !important;
}

#ajax-modal .modal-content {
  color:#888;
  background-color: #000;
  border-color: #888;

  .modal-header,
  .modal-footer {
    border-color: #888;
  }

  button {
    color: #ddd;
    opacity: 1;
  }
}

#digital_projects {
  h3 {
    font-size: 1.1em;
    margin-top:0px;
  }
}

#search-index-tools {
  .search-index-tool-group {
    margin-left:5px;
  }
}

#search-results ul li {
  word-wrap:break-word;
}

#search-results {
	.img-responsive {
		width:auto;
		height:auto;
	}
}

@font-face {
    font-family: 'TrajanProRegular';
    src: url('//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot');
    src: url('//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.woff') format('woff'),
    url('//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.ttf') format('truetype'),
    url('//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.svg#TrajanProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
