#site-banner {
  h1 {
    width:100%;
    border:3px solid #000;
    border-width:3px 0;
    padding:30px 0;
    text-align:center;
    font-family: TrajanProRegular, trajan, georgia, serif;
    font-size: 200%;
    a {
      color:#000;
    }
  }
}
.thumbnail {
  display: block;
  padding: .25em;
  margin: 0;
  overflow:hidden;
  line-height: 1;
  border-color:#ddd;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  > img {
    display: block;
    max-width:100%;
    max-height:100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
  }
  img {
    width:auto;
    max-height:100%;
  }
}
#content .col-sm-2 {
  height: 150px;
  .thumbnail {
    height:100px;
  }
}
#content .col-sm-3 {
  height: 200px;
  margin-bottom:1em;
  .tombstone {
    height:100%;
    padding:.3em;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  }
  .thumbnail {
    height:150px;
  }
  &.list-view {
    height:auto;
    margin-bottom:1em;
    .tombstone {
      display:table;
      width:100%;
    }
    .thumbnail {
      max-height:110px;
      margin-right:1em;
      img {
        max-height:98%;
      }
    }
  }
}
#view-options {
  margin-bottom:1em;
  text-align:right;
}

.lead.section-heading {
  border:solid #E0E0E0;
  border-width:1px 0px;
  padding:15px 0px;
}

.index_show_fields ul {
  list-style: none;
  padding-left:0px;
}
