#cul-map-display-component-holder {
  position: relative;
  overflow: hidden;
  border: 1px solid #aaa;
  #cul-map-display-component {
    width: 100%;
    height: 240px;
    min-height: 240px;
    &.full-map-search { height: 400px; }
    .leaflet-popup-content {
      hr {
        margin: 10px 0;
      }
      .thumbnail {
        background-color: #ddd;
        img {
          margin: 0 auto;
          max-width: 100%;
          height: 120px;
        }
      }
    }
    .leaflet-control-attribution {
  		font-size: 85%;
  		a {
  			color: #333 !important;
  		}
  		&:hover {
  			background: #eee;
  		}
  	}
  }
}

#sidebar #cul-map-display-component,
#item-description #cul-map-display-component {
	width: 100%;
	height: 260px !important;
	.leaflet-popup-content-wrapper {
		max-width: 210px;
		max-height: 240px;
		.leaflet-popup-content .thumbnail {
			img {
				height: 100px;
			}
		}
	}
}
