.openseadragon {
  width: 100%;
  height: 570px;
  border: 1px solid black;
  color: #00ff00; /* text color for messages */
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.openseadragon-small {
  width: 40px;
  height: 30px;
  border: 1px solid black;
  color: #00ff00; /* text color for messages */
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.toolbar
{
    width:      100%;
    height:     33px;
    border:     none;
    color:      #333;
    padding:    4px;
    background-color: transparent;
}
.toolbar.fullpage{
    width:      100%;
    border:     none;
    position:   fixed;
    z-index:    999999;
    left:       0;
    top:        0;
    background-color: #ccc;
}
#zoom-toolbar {
  margin-left:2px;
}
#title-accordion .panel-heading {
  padding-left:0;
}
