<%#     Render the root element for our React App to attach to
        The React App Entrypoint is located at app/frontend/entrypoints/admin_ui.tsx
        The React App Stylesheet is located at app/frontend/stylesheets/admin_ui.scss

        The layout for this page is located at app/views/layouts/admin.html.erb,
        and that is where the asset tags are included
%>

<%# TODO: Content will flash for users when they first visit an /admin route (if there is content) %>
<div id="dlc-admin-app">(Rails View) Loading...</div>
