#outer-wrapper {
	border-color: map-get($theme-border-colors, 'body');
}

#site-banner {
	nav {
		border: 0;
	}
	h1 {
		width: 100%;
		padding: 2px 0 0;
		text-align: center;
		font-family: $font_0, $font_1, $font_4, $font_2;
		a {
			color: $info;
			&:hover {
				text-decoration: none;
			}
			img {
				max-width: 100%;
			}
		}
	}
	h2 {
		width: 100%;
		padding: 2px 0 0;
		margin-bottom: .5em;
		text-align: center;
		font-family: $font_0, $font_1, $font_4, $font_2;
		font-size: 180%;
		a {
			color: $info;
			&:hover {
				text-decoration: none;
			}
			img {
				max-width: 100%;
			}
		}
	}
}
#site-title {
	max-width: 100%;
	text-align:center;
	font-size:1.25rem;
	vertical-align:middle !important;
	color:inherit;
	text-decoration:none;
	text-transform: uppercase;
}

#secondary-nav {
	margin: 0 0 0 0;
	border:1px solid map-get($theme-border-colors, 'secondary');
	border-width:1px 0;
}

#search-navbar {
	.input-group-prepend {
		background-color: $primary;
		font-size: 1em;
	}
}

#content {
	.document {
		margin-bottom: .25em;
		&.list-view {
			margin-bottom: .5em;
		}
		.tombstone {
			height: 100%;
			.index-show-grid-fields {
				h3 {
					margin-bottom: .5em;
				}
			}
		}
	}
}
#view-options {
	margin-bottom: 1em;
	text-align: right;
}
#sidebar {
	clear: both;
	.card {
		background-color: $body-bg;
	}
	.card {
		border-color: map-get($theme-border-colors, 'secondary');
		border-style: solid;
		.card-header {
			background-color: gradeBgColor(2%);
			color: map-get($theme-text-colors, 'primary');
			border-color: map-get($theme-border-colors, 'primary');
			border: 0;
			&.home {
				background-color: transparent;
			}
		}
	}
	.card-body .nav {
		a, .btn-link {
			@extend %card_link_primary;
			&:hover {
				color: $info;
			}
		}
	}
	.card-title:hover {
		text-decoration: none;
	}
}

#facets {
	margin-right: -15px;
	margin-left: -15px;
	.card {
		border-right: 0;
		border-left: 0;
		border-color: map-get($theme-border-colors, 'body');
		border-style: solid;
	}
	.card-body {
		border-top-color: map-get($theme-border-colors, 'body');
	}
	@media(max-width: 768px) {
		.top-panel-heading {
			min-height: 2.3em;
		}
	}
}

.section-heading {
	padding: 15px 0;
	border: solid map-get($theme-border-colors, 'body');
	border-width: 1px 0;
}
#child_items {
	article {
		overflow: hidden;
		dl {
			background: $info;
			margin-top: 0.25em;
			margin-bottom: 0.25em;
			@extend %list_secondary;
			dt {
				font-size: 121%;
				line-height: 1.2;
				.dtcount {
					display: inline-block;
					float: left;
					margin-left: -28px;
					font-size: 90%;
					font-weight: normal;
					line-height: 1.5;
					color: rgba($body-bg, 0.3);
				}
			}
			dd {
				margin-right: 3px;
				margin-left: 3px;
				.toggler {
					display: block;
					margin: 0.2em 0 0.1em 0;
				}
			}
			.hl_snippet {
				display: block;
				margin-bottom: 1px;
				overflow: hidden;
				font-size: 11px;
			}
			.result_url {
				font-size: 110%;
				color: $link-color;
				word-break: break-word;
			}
			.result_aka {
				margin-top: 1px;
				font-size: 12px;
				font-style: italic;
			}
		}
		.caption {
			p {
				line-height: 1.3em;
			}
			.index_title {
				@extend %dotted_full;
			}
		}
		code {
			padding: 0;
			font-size: .9em;
			color: map-get($theme-border-colors, 'secondary');
			background-color: $gray-500;
		}
		.documentHeader h5 {
			overflow: hidden;
		}
		&:nth-child(odd) dl {
			background-color: map-get($theme-text-colors, 'info');
		}
	}
	.dl-vertical dd {
		margin-left: 1em;
		ul {
			padding-left:0;
			li.coordinates {
				padding:.25em;
			}
		}
	}
}
#secondary {
	ul, dl {
		@extend %list_secondary;
	}
}
#doc-item-title {
	margin: 0;
	font-size: 18px;
	word-wrap: break-word;
}
#favorite-child {
	max-height: 600px;
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	img {
		width: auto;
		height: auto;
		margin-left: -15px;
		padding-left: 15px;
		margin-right: -15px;
		padding-right: 15px;
		max-width: 100%;
		max-height: 400px;
		cursor: pointer;
		cursor: zoom-in;
	}

}

.appliedFilter .btn-secondary,
	.appliedFilter .constraint-value:hover,
	.appliedFilter .constraint-value:active {
		color: $body-color;
		background-color: $body-bg;
}
#main-container {
	.inner {
		padding: 1.2em;
		background-color: rgba($body-bg, 0.7);
		&.outline {
			border: 1px solid map-get($theme-border-colors, 'primary');
		}
	}
}

// home page tab panels
#home-page-content {
	.inner {
		hr {
			border-color: map-get($theme-border-colors, 'primary');
			border-style:dotted;
		}
	}
	#home-page-tabs {
			.nav-tabs {
				background-color: $body-bg;
				font-size: .815em;
				text-transform: uppercase;
				a.active {
					background-color: $body-bg;
					color:$body-color;
					text-decoration:none;
					border: 1px solid map-get($theme-border-colors, 'body');
					border-bottom-color: transparent;
					cursor:default
				}
				a {
					&:hover, &:active {
						color:$body-color;
						background-color:$body-bg;
						text-decoration:none;
					}
				}
			}
			.non-tab {
				> a {
					text-transform:none;
					border:0;
				}
			}
			h3 {
				margin-top:.5em;
				font-size:1em;
				font-weight:normal;
				line-height:1.4;
				a {
					&:hover {
						color:lighten($body-color, 20%);
						text-decoration:none;
					}
				}
			}
			.proj-nav {
				.btn {
				}
			}
			.small {
				color:inherit;
			}
	}
	// in the restricted home screen listing repositories
	h2.banner {
		width: 100%;
		padding: 2px 0 0;
		margin-bottom: .5em;
		text-align: center;
		font-size: 120%;
		a {
			color: $body-color;
			@extend %extend_brand_font;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
			img {
				max-width: 100%;
			}
		}
	}
}

@media(min-width: 768px) {
	#site-title {
		text-align: left;
	}
}

@import '../shared/search-modes';
@include searchModes();

@import 'bootstrap-dark-4/scss/dark/mixins/color-scheme';
@include prefers-color-scheme(dark) {
	@import './dark';
}

