//fonts
$font_0: TrajanProRegular;
$font_1: trajan;
$font_2: serif;
$font_3: trajan pro;
$font_4: georgia;
$font_6: serif;
$font_b: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_c: "Helvetica Rounded", Arial, sans-serif;
