<div class="row">
	<h3>Archival Collections Portal</h3>
	<p>View archival finding aids that include links to both open and restricted digital content.</p>
	<%= render template: '_archives_search_form' %>
</div>