html, body.home {
  height: 100%;
  padding-top: 0!important;
}

a:hover {
  text-decoration: none;
}

h4.lead {
  border-bottom: 1px solid #888;
}

#topnavbar {
  display: none;
  min-height: 44px;
  background-color: rgba(100, 100, 100, 0.4);
  * {
    text-shadow: 0 0 2px #000;
  }
}

#pane-1 .cover, .culpanel, .hide-until-load {
  display: none;
}

#topnavbar:hover {
  opacity: 1!important;
}

#navbar-container {
  width: 100%;
}

#cul_top-nosearch, #crowndown-nosearch {
  background: transparent !important;
}

#topnavbar #cul_top-nosearch .dropdown-menu {
  margin-top: 0;
  background: rgba(0, 0, 0, 0.7);
}

#navholder {
  position: relative;
}

.bgParallax {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -5px 5px -5px #888888;
}

#discover {
  background-color: #111;
  background-image: image-url("dcv/ldpd.treasures.243.jpg");
  background-position: center center;
}

#explore {
  background-image: image-url("dcv/rbml_0819r.jpg");
}

#about {
  /*background-image:url(<%= image-url('dcv/rbml_css_0912r.png')%>);*/
  background-image: image-url("dcv/1836760843_267e9c947f_o.jpg");
}

#home {
  /*background-image:url(<%= image-url('dcv/1836760843_267e9c947f_o-sepc.jpg')%>);*/
  background-image: image-url("dcv/1836760843_267e9c947f_o.jpg");
  a {
    color: #fff;
  }
  .carousel-indicators {
    left: 0;
    margin-left: 0;
    padding-left: 15px;
    width: 100%;
    li {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      background-color: rgba(255, 255, 255, 0.5);
      &.active {
        background-color: #fff;
      }
    }
  }
}

#slidecaps {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 26;
  display: inline-block;
  /*width:98%;*/
}

#home .bgslider-captions {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

.culinner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.culcontainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.culpanel {
  width: 100%;
  /*min-height:340px;*/
  padding: 20px 40px;
  margin: 0 auto 0 auto;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px dotted #666;
  /*box-shadow:0 0 86px rgba(255,255,255,.4);*/
}

#about .culpanel {
  max-width: 1200px;
  padding: 50px 10%;
}

#home .culpanel {
  max-width: 768px;
  padding: 20px;
}

#menuholder {
  a:hover {
    color: #429cec;
  }
  font-size: 85%;
}

/*
    @media (min-width: 768px) {
      .culpanel { width:740px; }
    }
    @media (min-width: 992px) {
      .culpanel { width:970px; }
    }
    @media (min-width: 1200px) {
      .culpanel { width:1190px; }
    }
*/

.blurb {
  margin: 2em 0 0;
  font-size: .9em;
  font-weight: 200;
  text-transform: uppercase;
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignjustify {
  text-align: justify;
}

.trajanpro {
  font-family: "trajan pro", trajan, serif;
}

.text-dim {
  color: rgba(255, 255, 255, 0.8);
}

.bgParallax {
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  /*text-shadow:0 0 10px rgba(0,0,0,0.7);*/
}

a.browse-link {
  font-size: 70%;
  color: white;
  text-transform: uppercase;
}

.updown {
  position: fixed;
  right: 20px;
  bottom: 24px;
  z-index: 25;
  font-size: 1.16em;
  text-align: center;
  a {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
    &:hover {
      color: #429cec;
      /*rgba(155,155,255,.9);*/
    }
  }
}

#spinner {
  position: fixed;
  top: 46%;
  left: 48%;
  font-size: 14px;
  text-transform: uppercase;
}

.icon-spin {
  display: block;
  margin-bottom: 8px;
  font-size: 28px;
  color: #eee;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* D3 Styles */

text {
  pointer-events: none;
  &.small {
    font-size: 66%;
  }
  &.large {
    font-size: 80%;
  }
  &.parent {
    fill: #333;
  }
}

circle {
  pointer-events: all;
  fill: #ccc;
  stroke: #999;
  &.parent {
    fill: #666;
    fill-opacity: .2;
    stroke: #999;
    &:hover {
      stroke: #ff7f0e;
      stroke-width: .5px;
    }
  }
  &.child {
    /** need to be able to zoom to a child **/
    /** pointer-events: none; **/
  }
}

.brick {
  padding: 0;
  overflow: hidden;
  border: thin solid black;
}

img.img-responsive {
  width: 100%;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
