<%
div_id ||= "home-sidebar-news"
%>
<div id="<%= div_id %>">
<p>A core objective of the Columbia University Libraries Music &amp; Arts Library is to make our archival collections accessible for research and scholarship. However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns.</p>
<p>These materials can only be consulted in the Music &amp; Arts Library reference reading area. Please see  the <a href="https://library.columbia.edu/libraries/music.html">Music &amp; Arts Library website</a> for more information on planning your visit.</p>
</div>
