<div class="row">
	<div id="content" class="col-md-12">
		<h2 class="text-center">About the Online Reading Room</h2>
		<hr>
		<div class="inner">
			<h3 class="text-center">Restricted Access</h3>
			<p>A core objective of the Columbia University Libraries Music &amp; Arts Library is to make our archival collections accessible for research and scholarship. However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns.</p>
			<p>These materials can only be consulted in the Music &amp; Arts Library reference reading area. Please see  the <a href="https://library.columbia.edu/libraries/music.html">Music &amp; Arts Library website</a> for more information on planning your visit.</p>
		</div>
		<div class="inner">
			<h3 class="text-center">Other Digital Collections in the Music &amp; Arts Library</h3>
			<p>The Creative Music Studio Archive, <a href="https://library.columbia.edu/libraries/music/ditson/about.html">Ditson Fund Recordings Archive</a>, and Shoichi Yui Collection may all be accessed by visiting the Music &amp; Arts Library. Please contact musiclibrary@columbia.edu to schedule your visit or for further information.</p>
		</div>
	</div>
</div>
