<h4>Other Digital Collections in the Music &amp; Arts Library</h4>
<p>The Creative Music Studio Archive, <a href="https://library.columbia.edu/libraries/music/ditson/about.html">Ditson Fund Recordings Archive</a>, and Shoichi Yui Collection may all be accessed by visiting the Music &amp; Arts Library. Please contact musiclibrary@columbia.edu to schedule your visit or for further information.</p>