#outer-wrapper {
	border-color: map-get($theme-border-colors, 'body');
}

#site-banner {
	background-color: navBgColor(5%);
	#site-banner-inner {
		.titlesub {
			color: navColor(5%);
		}
		#site-title {
			font-size: 200%;
			text-transform: uppercase;
			font-family: $font_b;
			font-weight: 400;
			color: navColor(5%);
		}
		#site-banner-subtitle {
			color: navColor(5%);
			font-family: $font_0, $font_3, $font_1, $font_2;
			font-size: 100%;
			text-align: center;
			@media(min-width: 768px) {
				text-align: left;
			}
			margin-top: 0;
		}
	}
	nav {
		border: 0;
	}
	h1 {
		width: 100%;
		padding: 2px 0 0;
		margin-bottom: .75em;
		text-align: center;
		font-family: $font_0, $font_1, $font_4, $font_2;
		font-size: 220%;
		a {
			color: map-get($theme-text-colors, 'info');
			&:hover {
				text-decoration: none;
			}
			img {
				max-width: 100%;
			}
		}
	}
	h2 {
		width: 100%;
		padding: 2px 0 0;
		margin-bottom: .5em;
		text-align: center;
		font-family: $font_0, $font_1, $font_4, $font_2;
		font-size: 180%;
		a {
			color: $info;
			&:hover {
				text-decoration: none;
			}
			img {
				max-width: 100%;
			}
		}
	}
	.note {
		text-align: center;
		max-width: 100%;
	}
	#site-banner-inner #site-title {
		display: inline-block;
		max-width: 100%;
	}
}
#search-navbar {
	&.slim {
		margin-top: .5em;
	}
	.input-group-prepend {
		color: lighten(map-get($theme-text-colors, 'primary'),10%);
		background-color: $primary;
	}
	#q-filter, .search_q {
		border: 1px solid map-get($theme-colors, 'user-input');
		border-width: 1px 0 1px 1px;
		.search_field {
			-webkit-appearance:none;
		}
	}
	#q {
		background-color: $body-bg;
		color: map-get($theme-text-colors, 'primary');
		&:focus {
			background-color: $body-bg;
			color: $info;
		}
	}
}

#secondary-nav {
	margin-top:-6px;
}

#content {
	.document {
		.inner {
			padding: 1.2em 0;
		}
		margin-bottom: .25em;
		&.list-view {
			margin-bottom: .5em;
		}
		.tombstone {
			height: 100%;
			.index-show-grid-fields {
				h3 {
					margin-bottom: .5em;
				}
			}
		}
	}
}
#view-options {
	margin-bottom: 1em;
	text-align: right;
}
#sidebar {
	clear: both;
	.panel-default {
		border-color: map-get($theme-border-colors, 'secondary');
		border-style: solid;
		.card-header {
			background-color: $body-bg;
			color: map-get($theme-text-colors, 'primary');
			border-color: map-get($theme-border-colors, 'primary');
			border: 0;
			&.home {
				background-color: transparent;
			}
		}
	}
	.card-body .nav {
		a, .btn-link {
			@extend %card_link_primary;
			&:hover {
				color: $info;
			}
		}
	}
	.card-title:hover {
		text-decoration: none;
	}
}

#facets {
	margin-right: -15px;
	margin-left: -15px;
	.panel-default {
		border-right: 0;
		border-left: 0;
		border-color: map-get($theme-border-colors, 'body');
		border-style: solid;
	}
	.card-body {
		border-top-color: map-get($theme-border-colors, 'body');
	}
	@media(max-width: 768px) {
		.top-panel-heading {
			min-height: 2.3em;
		}
	}
}

.section-heading {
	padding: 15px 0;
	border: solid map-get($theme-border-colors, 'body')_offset;
	border-width: 1px 0;
}
#child_items {
	article {
		overflow: hidden;
		dl {
			background: $info;
			margin-top: 0.25em;
			margin-bottom: 0.25em;
			@extend %list_secondary;
			dt {
				font-size: 121%;
				line-height: 1.2;
				.dtcount {
					display: inline-block;
					float: left;
					margin-left: -28px;
					font-size: 90%;
					font-weight: normal;
					line-height: 1.5;
					color: rgba($body-bg, 0.3);
				}
			}
			dd {
				margin-right: 3px;
				margin-left: 3px;
				.toggler {
					display: block;
					margin: 0.2em 0 0.1em 0;
				}
			}
			.hl_snippet {
				display: block;
				margin-bottom: 1px;
				overflow: hidden;
				font-size: 11px;
			}
			.result_url {
				font-size: 110%;
				color: $link-color;
				word-break: break-word;
			}
			.result_aka {
				margin-top: 1px;
				font-size: 12px;
				font-style: italic;
			}
		}
		.caption {
			p {
				line-height: 1.3em;
			}
			.index_title {
				@extend %dotted_full;
			}
		}
		code {
			padding: 0;
			font-size: .9em;
			color: map-get($theme-border-colors, 'secondary');
			background-color: $gray-500;
		}
		.documentHeader h5 {
			overflow: hidden;
		}
		&:nth-child(odd) dl {
			background-color: map-get($theme-text-colors, 'info');
		}
	}
	.dl-vertical dd {
		margin-left: 1em;
		ul {
			padding-left:0;
			li.coordinates {
				padding:.25em;
			}
		}
	}
}
#secondary {
	ul ,dl {
		@extend %list_secondary;
	}
}
#doc-item-title {
	margin: 0;
	font-size: 18px;
	word-wrap: break-word;
}
#favorite-child {
	max-height: 600px;
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	img {
		width: auto;
		height: auto;
		margin-left: -15px;
		padding-left: 15px;
		margin-right: -15px;
		padding-right: 15px;
		max-width: 100%;
		max-height: 400px;
		cursor: pointer;
		cursor: zoom-in;
	}

}
#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
  color: $light;
}

.appliedFilter .btn-secondary,
	.appliedFilter .constraint-value:hover,
	.appliedFilter .constraint-value:active {
		color: $body-color;
		background-color: $body-bg;
}

#main-container {
	.inner {
		padding: 1.2em;
		background-color: rgba($body-bg, 0.7);
		&.outline {
			border: 1px solid map-get($theme-border-colors, 'primary');
		}
		.sidenav {
			border: 1px solid map-get($theme-border-colors, 'body');
		}
	}
}

@import '../shared/search-modes';
@include searchModes();
