$(function() {

 $('body').on('click', '.dhp-img-holder', function() {
   $('#durst-image-home').trigger('click');
 });
 $('body').on('click', '#format_filter input', function(e) {
   e.stopPropagation();
 });
 var oph = $('#q').attr('placeholder');
 $('body').on('change', '#format_filter input', function(e) {
    var nph = $('#format_filter input:checkbox:checked').map(function() {
      return $(this).closest('li').text();
    }).get();
	if ( nph.length > 0 ) {
	  $('#q').attr('placeholder', 'Search'+nph);
	} else {
	  $('#q').attr('placeholder', oph);
	}
 });
 $('body').on('click', '.dhp-img-holder', function() {
   window.location = $('#carousel-example-generic').attr('data-format-search-url');
 });

 if ($('#durst_osm').length) {
	 $('#durst_osm').html('<h2 style="margin:.5em;color:#ccc;">Loading...</h2>');
   setTimeout(function(){ homeMap(); }, 100); //Better user experience if this is asynchronous.
 }
 $('body').on('click', '#map-attrib-icon', function() {
   $('#map-attrib-text').toggleClass('hidden');
 });

}); //ready

$(window).load(function() {
   if ($('#dhss').height() > 0) {
     $('.carousel-control').removeClass('hidden');
     $('#dhss').find('.inner img, .inner div').height($('#mapholder').height());
     $('#durst_osm').height($('#mapholder').height());
   }
   $('.leaflet-control-attribution').wrapInner('<span id="map-attrib-text" class="hidden"/>').append(
     '<div id="map-attrib-icon" class="pull-right text-danger"><i class="glyphicon glyphicon-copyright-mark"></i></div>'
   );
});

function scrollToBottomOfPage(){
	$('html, body').animate({
		scrollTop: $(document).height()-$(window).height()},
		1400,
		"easeOutQuint"
 );
};

function resizedw(){
    // Haven't resized in 100ms!
   if ($('#dhss').height() > 0) {
     $('#dhss').find('.inner img, .inner div').height($('#mapholder').height());
     $('#durst_osm').height($('#mapholder').height());
   }
}
var dorsz;
window.onresize = function(){
  clearTimeout(dorsz);
  dorsz = setTimeout(resizedw, 100);
};

var map;
var marker;
var tiles;

function homeMap() {

	  if($('#durst_osm.full-map-search').length > 0) {
		  $(window).on('resize', function(){
		    $('#durst_osm.full-map-search').height($(window).height()-300);
		  });
	    $('#durst_osm.full-map-search').height($(window).height()-300);
	  }

		tiles = L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png', {
				maxZoom: 18,
				attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors.'
			});

    if ( DCV.centerLat && DCV.centerLong ) {
			var latlng = L.latLng(DCV.centerLat, DCV.centerLong);
		} else {
			var latlng = L.latLng('40.7400', '-73.9802');
		}

		map = L.map('durst_osm', {center: latlng, zoom: 11, layers: [tiles]});

		//tiles.on('load', function(){
			var markers = L.markerClusterGroup({spiderfyOnMaxZoom: false});

			var allPoints = [];

			for (var i = 0; i < DCV.mapPlanes.length; i++) {
				var a = DCV.mapPlanes[i];

				var latAndLong = a['c'].split(',');
				var lat = latAndLong[0];
				var lng = latAndLong[1];
				var title = a['t'];
				var itemLink = '/durst/' + a['id'];
				var thumbnailUrl = a['b'] == 'y' ? DCV.bookIconUrl : DCV.mapImageThumbTemplate.replace('_document_id_', a['id']);

				var marker = L.marker(new L.LatLng(lat, lng), { title: title });
				allPoints.push([lat,lng]);
				if (!$('#durst_osm').hasClass('no-popup')) {
					marker.bindPopup(
						'<a href="' + itemLink + '" class="thumbnail"><img src="' + thumbnailUrl + '" /></a>' + '<br />' + '<a href="' + itemLink + '">' + title + '</a>'
					);
				}
				markers.addLayer(marker);
			}

			if ( !DCV.centerLat && !DCV.centerLong ) {
				map.fitBounds(allPoints);
			}

			markers.on('clusterclick', function (a) {

				var maxItemsToShow = 5;

				if (map.getZoom() == map.getMaxZoom()) {
						var allItemHtml = '';
						var childMarkers = a.layer.getAllChildMarkers();

						var viewAllUrl = DCV.mapCoordinateSearchUrl.replace('_lat_', childMarkers[0].getLatLng().lat).replace('_long_', childMarkers[0].getLatLng().lng);

						allItemHtml += '<h6>' + childMarkers.length + ' items found <a class="pull-right" href="' + viewAllUrl + '">View all &raquo &nbsp;</a></h6>';
						allItemHtml += '<div style="max-height:200px;max-width:200px;width:100%;overflow:auto;">'

						var numItemsToShow = childMarkers.length;
						if (childMarkers.length > maxItemsToShow) {
							numItemsToShow = maxItemsToShow;
						}

						for(var i = 0; i < numItemsToShow; i++) {
							var marker = childMarkers[i];
							allItemHtml += marker.getPopup().getContent() + '<hr />';
						}

						if (childMarkers.length > maxItemsToShow) {
							allItemHtml += '<a href="' + viewAllUrl + '">Click here to see the rest &raquo;</a><br />';
						}

						allItemHtml += '</div>';

						L.popup()
						.setLatLng(a.layer.getAllChildMarkers()[0].getLatLng())
						.setContent(allItemHtml)
						.openOn(map);
				}
			});

			map.on('popupopen', function(e) {
				var px = map.project(e.popup._latlng);
				px.y -= e.popup._container.clientHeight/2
				map.panTo(map.unproject(px),{animate: true});
			});

			map.addLayer(markers);
}
