.openseadragon {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  color: #00ff00; /* text color for messages */
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.openseadragon-small {
  width: 40px;
  height: 30px;
  border: 1px solid black;
  color: #00ff00; /* text color for messages */
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.toolbar
{
    border:     none;
    color:      #333;
    padding:    4px;
    background-color: transparent;
}
.toolbar.fullpage{
    width:      100%;
    border:     none;
    position:   fixed;
    z-index:    999999;
    left:       0;
    top:        0;
    background-color: #ccc;
}
#zoom-toolbar {
  padding-bottom:.5em;
  margin-left:2px;
  float:left;
  height:5vh;
}
#title-accordion {
    margin-bottom:0;
	.card-header {
	  padding-left:0;
	}
}
