<% audio_url = bytestream_content_path(catalog_id: child[:pid], bytestream_id: 'content') %>
<%# audio_url = 'http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' %>

<div style="height:500px; position:relative;">
  <div style="position:absolute; width:100%; bottom:45%;">
    <%= render_media_element_progressive_download_audio_player(audio_url) %>
  </div>
</div>
