<div id="zoom-controls">
  <button type="button" id="zoom-in-control" class="btn btn-default">
    <i class="glyphicon glyphicon-zoom-in"></i>
  </button>
  <button type="button" id="zoom-out-control" class="btn btn-default">
    <i class="glyphicon glyphicon-zoom-out"></i>
  </button>
  <button type="button" id="zoom-home-control" class="btn btn-default">
    <i class="glyphicon glyphicon-home"></i>
  </button>
  <button type="button" id="zoom-full-control" class="btn btn-default">
    <i class="glyphicon glyphicon-resize-full"></i>
  </button>
  <button type="button" id="zoom-prev-control" class="btn btn-default">
    <i class="glyphicon glyphicon-arrow-left"></i>
  </button>
  <button type="button" id="zoom-next-control" class="btn btn-default">
    <i class="glyphicon glyphicon-arrow-right"></i>
  </button>
  <div class="dropdown" id="dlwrapper" style="display:inline;">
    <button type="button" id="download-control" class="btn btn-default" data-toggle="dropdown">
      <i class="glyphicon glyphicon-download-alt"></i>
    </button>
    <ul id="downloads-list" class="dropdown-menu"></ul>
  </div>
</div>
