<div id="zoom-controls">
  <button type="button" id="zoom-in-control" class="btn-secondary btn-sm">
    <i class="fa fa-search-plus"></i>
  </button>
  <button type="button" id="zoom-out-control" class="btn-secondary btn-sm">
    <i class="fa fa-search-minus"></i>
  </button>
  <button type="button" id="zoom-home-control" class="btn-secondary btn-sm">
    <i class="fa fa-refresh"></i>
  </button>
  <button type="button" id="zoom-full-control" class="btn-secondary btn-sm">
    <i class="fa fa-expand"></i>
  </button>
  <button type="button" id="zoom-prev-control" class="btn-secondary btn-sm">
    <i class="fa fa-arrow-left"></i>
  </button>
  <button type="button" id="zoom-next-control" class="btn-secondary btn-sm">
    <i class="fa fa-arrow-right"></i>
  </button>
  <div class="dropdown" id="dlwrapper" style="display:inline;">
    <button type="button" id="download-button" class="btn-secondary btn-sm" data-toggle="dropdown">
      <i class="fa fa-cloud-download"></i>
    </button>
    <ul id="downloads-list" class="dropdown-menu"></ul>
  </div>
</div>
