<% # container for all documents in index view -%>

<%= render Dcv::Search::Ui::DateRangeSelectorComponent.new(date_year_segment_data: @date_year_segment_data) %>

<div id="search-results">
  <%- if results_include_restricted_material? && !reading_room_client? %>
    <%= render partial: current_user ? "restricted_results/logged_in" : "restricted_results/anonymous" %>
  <% end %>
  <div class="row">
    <% @items_per_row_counter = 1 %>
    <% search_view = (subsite_search_mode == :list) ? 'list-view' : 'grid-view' %>
    <%= render :partial=>'document',:collection=> documents, :as=> :document, :locals=> {row_offset: 0, show_counter: true, search_view: search_view} %>
  </div>
</div>
