<% # container for all documents in index view -%>

<% if controller.subsite_config.dig('date_search_configuration', 'show_timeline') %>
  <div id="search-results-date-graph" class="search-result-display hidden">
    <%= render 'date_range_selector' %>
  </div>
<% end %>

<div id="search-results">
  <%- if results_include_restricted_material? && !reading_room_client? %>
    <%= render partial: current_user ? "restricted_results/logged_in" : "restricted_results/anonymous" %>
  <% end %>
  <div class="row">
    <% @items_per_row_counter = 1 %>
    <% search_view = (subsite_search_mode == :list) ? 'list-view' : 'grid-view' %>
    <%= render :partial=>'document',:collection=> documents, :as=> :document, :locals=> {row_offset: 0, show_counter: true, search_view: search_view} %>
  </div>
</div>
