<% # main container for facets/limits menu -%>
<% if has_facet_values?(facet_field_names, @response)  %>
<div id="facets" class="facets sidenav">
  <% unless local_assigns[:hide_heading] %>
  <h4 data-toggle="collapse" data-target=".facets-collapse">
    <%= t('blacklight.search.facets.title') %>
  </h4>
  <% end %>
  <div class="facets-collapse">
    <%= render_facet_partials(facet_field_names, response: @response) %>
    <%= render :partial => 'sidebar_date_selector' %>
  </div>
</div>
<% end %>