<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_limit_list paginator, solr_field %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets_link"><%= link_to t('blacklight.search.facets.more'),
       params.permit!.to_h.merge(id: solr_field, action: "facet", page: nil), class: "facet-label more_facets_link" %></li>
  <% end %>
</ul>
