<section id="fat-footer" class="py-5 mb-2 bg-CULDarkBlue text-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<address>
					<strong>Columbia University Libraries</strong><br>
					535 West 114th St. New York, NY 10027
				</address>
			</div>
			<div class="col">
				<div class="row">
					<div class="col-1 fatf-icon text-light d-none d-sm-block">
						<i class="far fa-mobile-alt"></i>
					</div>
					<div class="col">
						<address>
							<strong>Phone</strong><br>
							<a class="text-light" href="tel:212-854-7309">212-854-7309</a>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-1 fatf-icon text-light d-none d-sm-block">
						<i class="fas fa-envelope"></i>
					</div>
					<div class="col">
						<address>
							<strong>Contact Us</strong><br>
							<a class="text-light" href="mailto:lio@columbia.edu">lio@columbia.edu</a>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-1 fatf-icon text-light d-none d-sm-block"></div>
					<div class="col">
						<address>
							<strong>Follow Us</strong><br>
							<a class="fatf-icon text-white mr-2" aria-label="CUL on Facebook"
								href="https://facebook.com/culibraries">
								<i class="fab fa-facebook"></i>
							</a>
						</address>
					</div>
				</div>
			</div>
			<div class="col">
				<ul class="list-unstyled">
					<li><a href="/about/policies/gifts-policy.html" class="text-white">Donate Books or Items</a></li>
					<li><a href="https://feedback.cul.columbia.edu/feedback_submission/lweb?submitted_from_page=https%3A%2F%2Flibrary.columbia.edu%2Findex"
							class="text-white" target="_blank">Suggestions &amp; Feedback</a></li>
					<li><a href="https://resolver.library.columbia.edu/lweb0006" class="text-white">Report an E-Resource
							Problem</a></li>
					<li><a href="/about/awards/bancroft.html" class="text-white">The Bancroft Prizes</a></li>
					<li><a href="/about/student_advisory_committee.html" class="text-white">Student Library Advisory
							Committee</a></li>
					<li><a href="/about/jobs-internships.html" class="text-white">Jobs &amp; Internships</a></li>
					<li><a href="/bts.html" class="text-white">Behind the Scenes at Columbia's Libraries</a></li>
					<li><a href="/about/policies.html" class="text-white">Policies</a></li>
					<li><a href="https://www.columbia.edu/content/copyright" class="text-white">Copyright</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
