<footer class="container">
	<hr />
	<div class="row">
		<div class="col-md-6">
			<p><small>535 West 114th St. New York, NY 10027 Telephone (212) 854-7309 Fax (212) 854-9099</small></p>
		</div>
		<div class="col-md-6 text-right">
			<p><small>Terms of Use | Suggestions &amp; Feedback</small></p>
		</div>
	</div>
</footer>
