<div class="container" id="site-banner">
  <h1><%= link_to 'Columbia Digital Collections Portal', root_path %></h1>
</div>
<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation" style="background-color:transparent;">
  <div class="container">
    <div class="navbar-header">
    <%= render_search_bar  %>
    </div>
  </div>
</div>
