<div class="container" id="site-banner">
  <h1><%= link_to 'Columbia Digital Collections Portal', root_path %></h1>
  <div id="search-navbar" class="navbar navbar-default" role="navigation">
    <%= render_search_bar  %>
  </div>
</div>
