<%- doc_presenter ||= index_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<ul>
  <% doc_presenter.fields_to_render.each do |field_name, field, field_presenter| %>
    <%- if field_presenter.any? && field_presenter.render_field? %>
		<li>
	    <strong><%= render_index_field_label document, field: field_name %></strong>
	    <%= Array(field_presenter.values).join(", ").html_safe %>
		</li>
    <% end %>
  <% end %>
</ul>
