<div class="row" id="child_items">
  <div class="col-md-12 ls-controls-dark">
    <%= render Dcv::Collection::FileSystemComponent.new(document: document, local_downloads: false) %>
    <%= render Dcv::Document::SidebarPanels::ItemDescriptionComponent.new(document: document, alignment: 'horizontal', link_helpers: []) %>
  </div>
</div>