<nav id="topnavbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> 
<div id="navbar-container" class="container"> 
<div class="col-sm-12" id="cul_top-nosearch"> 
<div class="row"><div class="col-sm-10"><ul class="nav pull-left" id="crowndown-nosearch"><li class="dropdown menu"><a href="#" class="dropdown-toggle menu" data-toggle="dropdown" title="Links @ Columbia"><span class="topbarlogo">Columbia University Libraries<span id="topbarslash">/</span>Information Services</span> <b class="caret"></b></a><ul class="dropdown-menu menu-dropdown"><li><a href="http://columbia.edu"><i class="icon-crown-white"></i> Columbia University » Home</a></li><li><a href="http://library.columbia.edu/index.html"><i class="glyphicon glyphicon-home"></i>  Libraries <span class="hidden-xs">/ Information Services </span>» Home</a></li><li class="divider"></li><li><a href="https://dcv-private-test.cul.columbia.edu/">Digital Collections Home</a></li></ul></li></ul></div><!--/span7--><div class="col-sm-2"><ul id="cul_top-right" class="nav pull-right"> 
   <li class="dropdown menu"><a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
    <ul class="dropdown-menu menu-dropdown dropdown-menu-right">
     <li><a href="https://dcv-private-test.cul.columbia.edu/about">About</a></li>
     <li><a>Ask a Librarian</a></li>
     <li><a>Suggestions and Feedback</a></li>
     <li><a href="http://hours.library.columbia.edu">Library Hours</a></li>
     <li><a href="http://www.columbia.edu/about_columbia/map/">Maps and Locations</a></li>
     <li><a>Terms of Use</a></li>
    </ul>
   </li>
  </ul></div><!--/span8--></div><!--/row--></div><!-- /cul_top -->
  <!-- //.nav-collapse collapse --></div>
</div>
</nav>
