<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="min-height: 50px; border-top: 5px solid #002b7f; border-bottom: 1px solid #222222; border-top-color: rgb(0, 0, 0); background: rgb(68, 68, 68);">
<div id="navbar-container" class="container" style="padding:0;">
<nav><div class="col-sm-12" id="cul_top-nosearch" style="padding-left:0;padding-right:10px;height:38px;background: rgb(0, 0, 0);"> <div class="row"><div class="col-sm-10"><ul class="nav pull-left" id="crowndown-nosearch" style="height:39px;margin-lef:-10px;padding-left:0;margin-top:-1px;background: rgb(0, 0, 0);"><li class="dropdown menu"><a href="#" class="dropdown-toggle menu" data-toggle="dropdown" title="Links @ Columbia" style="background: transparent url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-bts-24x24.png) no-repeat 4px 30%;
padding-right: 4px;
padding-left: 34px;
font-size: 103%;
line-height: 120%;
letter-spacing: 0;
font-weight: normal;
font-family: TrajanProRegular, trajan, serif;
margin-top: 2px;"><!--img alt="CU" src="../img/crown-bts-24x24.png"--><span class="topbarlogo">Columbia University Libraries<span id="topbarslash">/</span>Information Services</span> <b class="caret"></b></a><ul class="dropdown-menu menu-dropdown" style="background: rgb(0, 0, 0);"><li><a href="http://columbia.edu"><i class="icon-crown-white"></i> Columbia University » Home</a></li><li><a href="http://library.columbia.edu/index.html"><i class="icon-home icon-white"></i>  Libraries <span class="hidden-xs">/ Information Services </span>» Home</a></li><li class="divider"></li><li><a href="https://dcv-private-test.cul.columbia.edu/">Digital Collections Home</a></li></ul></li></ul></div><!--/span7--><div class="col-sm-2"><ul id="cul_top-right" class="nav pull-right" style="margin-top:-3px;">
   <li class="dropdown menu"><a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
    <ul class="dropdown-menu menu-dropdown dropdown-menu-right" style="background: rgb(0, 0, 0);">
     <li><a href="https://dcv-private-test.cul.columbia.edu/about">About</a></li>
     <li><a>Ask a Librarian</a></li>
     <li><a>Suggestions and Feedback</a></li>
     <li><a href="http://hours.library.columbia.edu">Library Hours</a></li>
     <li><a href="http://www.columbia.edu/about_columbia/map/">Maps and Locations</a></li>
     <li><a>Terms of Use</a></li>
    </ul>
   </li>
  </ul></div><!--/span8--></div><!--/row--></div><!-- /cul_top -->
  <!-- //.nav-collapse collapse --></div>
</div>
</nav>
</nav>
