<p class="affiliate-login">Columbia University affiliates may log on for access to this content <%= link_to 'here', send(:"user_#{controller.omniauth_provider_key}_omniauth_authorize_url", return_to: request.original_url) %>.</p>
