<p class="alert alert-warning" role="alert">This item is not available online. This description is provided as a citable reference to collections published without online content. This item may be unavailable due to copyright, contractual or privacy restrictions, or content may be added in the future if policy or ongoing digitization work permits. If you have questions, please <%= link_to 'contact a Libraries staff member', '#', data: {
				toggle: 'modal', target: '#dcvModal', 'modal-embed-func' => 'feedbackEmbedUrl', 'modal-size' => 'xl', 'modal-title' => 'Suggestions and Feedback'
			}, role: 'button' %>.</p>
