<p class="affiliate-login">Columbia University affiliates may log on for access to this content <%= link_to 'here', user_omniauth_authorize_url(provider: controller.omniauth_provider_key, return_to: request.original_url) %>.</p>
