<h2>No results found</h2>
<div id="documents" class="noresults">
  <h3>You can modify your search by:</h3>
  <ul>
    <li>Changing your search text.</li>
    <li>Removing any of the above constraints by clicking the X next to each term.</li>
    <li><%= link_to 'Clicking here to start over', search_action_path %></li>
  </ul>
</div>
