<div id="content">
	<% unless has_search_parameters? && (params[:q].present? || params[:f].present?) %>
		<h6 class="">FIND BY LOCATION</h6>
		<%= render partial: 'map_disclaimer' %>
	<% else %>
		<%= render((blacklight_config&.view_config(document_index_view_type)&.constraints_component || Blacklight::ConstraintsComponent).new(search_state: convert_to_search_state(controller.params != params ? params : search_state))) %>
	<% end %>
	<%= render Dcv::Search::Map::ShowScriptComponent.new %>
	<%= render Dcv::Search::Map::EmbeddedResultsComponent.new(
		document_list: nil,
		map_data_json: @map_data_json,
		map_search_settings: map_search_settings_for_subsite,
		force_use_default_center: true
	) %>
</div>
