<div class="tab-pane fade" id="sample_items">
	<small>Below, you'll find a randomly selected sample of items from several of our library locations.</small>
	<br /><br />
  <% if @document_list.present? %>
    <%= render :partial=>'catalog/document',:collection=> @document_list, :as=> :document, :locals=> {:row_offset=> 0} %>
  <% end %>
	<div class="clearfix"></div>
</div>
