<div class="culpanel">
<div class="aligncenter"><img style="width:106px;margin-bottom:18px;" src="<%= image_path('dcv/columbia_crown_outline.png'); %>"></div>
<img style="width:100%;max-width:500px;display:inline-block;margin-bottom:30px;" alt="Digital Library Collections" src="<%= image_path('dcv/dcv-banner-sm-b.png')%>">
<div class="culcontainer">


<div id="search-navbar" class="navbar navbar-light" role="navigation">
		  <form accept-charset="UTF-8" action="/catalog" class="clearfix" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>


    <div class="input-group input-group-lg" style="box-shadow: none;">
      <span class="input-group-prepend">
        <label for="search_field" class="sr-only">Search in</label>
        <select class="search_field" id="search_field" name="search_field" title="Targeted search options"><option value="all_text_teim">All Fields</option>
<option value="search_title_info_search_title_teim">Title</option>
<option value="lib_name_teim">Name</option></select>
        <span class="sr-only">for</span>
      </span>
      <label for="q" class="sr-only">Search...</label>
      <input class="search_q q form-control" id="q" name="q" placeholder="Start a new search…" tabindex="1" type="text">
      <div class="input-group-append">

        <button class="btn btn-default search-btn" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>

</form>
    </div>
<div id="menuholder" style="margin-top:40px;">
<ul class="list-inline list-unstyled">
<li style="color:#aaa;">SEARCH</li> &sdot;
<li><a href="#discover" class="scrollto">DISCOVER</a></li> &sdot;
<li><a href="#visualize" class="scrollto">VISUALIZE</a></li>
</ul>
</div>
</div>
</div>
