@import 'bootstrap/scss/functions';

@function color-shade($color, $shift: 8%) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq >= $yiq-contrasted-threshold) {
    @return darken($color, $shift);
  } @else {
    @return lighten($color, $shift);
  }
}

@function navBgColor($l: 12%) {
	@return color-shade($dark, $l);
}

@mixin navBg($l: 12%) {
	background: navBgColor($l);
}

@function navColor($l: 0%) {
	@return color-shade($light, $l);
}

@function gradeBgColor($l: 12%) {
	@return color-shade($body-bg, $l);
}

@mixin gradeBg($l: 12%) {
	background-color: gradeBgColor($l);
}

@function gradePrimaryColor($l: 2125%) {
	@return gradeColor($primary, $l);
}
