<% from_strict_reading_room = (has_restricted_children? and !has_unviewable_children? and !current_user) -%>
<% if has_restricted_children? and !from_strict_reading_room %>
	<% offer_login = has_unviewable_children? and !current_user -%>
	<div class="child-content alert alert-info" role="alert">
		<% if offer_login -%>
			<%= render :partial => 'shared/vrr_login' %>
		<% end -%>
		<%= render :partial => 'shared/vrr_disclaimer' %>
	</div>
<% end -%>
