<div id="child-viewer" class="position-relative<%= ' h-poster'  if (document['iiif_behavior_ssim']&.include?("paged")) -%>">
  <% parent_title = document.title %>
  <p id="child-viewer-subtitle">&nbsp;</p>

  <% if (structured_children.length == 0) && archive_org_id_for_document(document) %>
    <%= render Dcv::ContentAggregator::ArchiveOrgResourceComponent.new(document: document, local_downloads: false) %>
  <% elsif !has_viewable_children? %>
    <%= render Dcv::ContentAggregator::EmptyComponent.new(document: document, local_downloads: false, structured_children: structured_children, parent_title: parent_title) %>
  <% else %>
    <%= render Dcv::ContentAggregator::LocalResourceComponent.new(document: document, local_downloads: false, num_children: structured_children.length) %>
  <% end %>
</div>
