<div id="content">
<div class="home inner">
</div>
 <div class="row">
  <div class="col-md-8">
    <div class="home inner">
      <h6>ABOUT THE TIME BASED MEDIA INITIATIVE</h6>
      <p>
      This initiative focuses on at-risk unique audio and moving image content that CUL currently holds on analog media – specifically, enabling access to and preserving this content for teaching, learning, and research now and in the future.  Our goal is to come up with a three-track implementable, scalable plan:  (1) to make the most of the resources currently available, (2) while building out the technology infrastructure essential to preserving and especially to providing access to time-based media, and (3) to plan major fund-raising to pay for the staff and vendor costs needed to address our time-based media holdings at scale.  By the end of the five year period (if not sooner) the infrastructure should be fully in place and CUL should be raising sufficient funds to make significant inroads into the backlog of time-based media items.
      </p>
      <p>This site provides restricted access to materials digitize and published as part of the Time-Based Media initiative.</p>
    </div>
  </div>

  <div class="col-md-4">
     <div class="home inner">
        <h6 class="">BROWSE THE COLLECTION</h6>
        <%= render partial: 'facets', locals: {hide_refine_heading: true, no_id_attr: true} %>
     </div> <!--/.inner-->
  </div><!--/-->

</div>
</div>
