<div class="row">
	<div id="content" class="col-md-12">
		<div class="inner">
			<p>
				The <strong>Digital Library Collections (DLC)</strong> website is a gateway to digital reproductions and descriptions of photographs, posters, drawings, objects, ephemera, and manuscripts as well as other archival material from Columbia's rare and special collections.  The DLC repository includes more than <%= rounded_down_and_formatted_dcv_asset_count %> files comprising over <%= rounded_down_and_formatted_dcv_item_count %> unique items, a portion of which are restricted to onsite viewing in the Libraries. It will continue to grow as more of our earlier digital projects are loaded in, as more of our special collections are digitized and described, and as hybrid and born-digital archival collections are acquired. The DLC website does not at present include scans of our rare or out-of-copyright digitized books or digitized newspapers, however; these and other historical digital content can be located by searching our <a href="http://clio.columbia.edu/">CLIO</a> discovery system. 
			</p>
			<p>
				Digital content in the DLC website comes almost exclusively from Columbia University Libraries' distinctive collections, namely:
			</p>
			<ul>
				<li>
					<a href="http://library.columbia.edu/locations/avery.html">Avery Architectural &amp; Fine Arts Library</a>
				</li>
				<li>
					<a href="http://library.columbia.edu/locations/burke.html">Burke Library at Union Theological Seminary</a>
				</li>
				<li>
					<a href="http://library.columbia.edu/locations/eastasian.html">C.V. Starr East Asian Library</a>
				</li>
				<li>
					<a href="http://library.columbia.edu/locations/rbml.html">Rare Book &amp; Manuscript Library</a>
				</li>
			</ul>
			<p>
				It is important to note that many collections in the DLC also have separate customized websites where the same content is displayed within a broader or thematic context. Where this is the case, links are provided so that content can be viewed in either context.
			</p>
			<p>
				Columbia University is providing access to these materials for educational and research purposes only.  For instructions about obtaining reproductions of or republishing the items found in this site, please see the <%= link_to 'Terms of Use', terms_of_use_url %> page.
			</p>
			<p>
				More information about Columbia's archival collections, including collection finding aids, may be found within our <a href="http://www.columbia.edu/cgi-bin/cul/resolve/?lweb0106">Archival Collections Portal</a>.
			</p>
			<br>
			<p>
				<em>Home page image credit:  <a href="https://www.flickr.com/photos/mmj171188/1836760843">"Empty steps, 1 AM"</a> by <a href="https://www.flickr.com/photos/mmj171188/">Mira (on the wall)</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY NC SA 2.0</a>.</em>
			</p>
		</div>
	</div>
</div>
