<div class="row">
  <div id="content" class="col-md-12">
    <div class="inner">
		  <p>Columbia University has provided access to these materials for educational and research purposes only. The University does not authorize any use or reproduction whatsoever for commercial purposes. The materials are displayed "as is" and without warranties of any kind, either express or implied, including any warranties of title, non-infringement of copyright or other rights.</p>
			<p>If you wish to publish or reproduce materials in the Lindquist Collection, please see <a href="http://library.columbia.edu/services/preservation/publications_policy.html">Columbia University Libraries Publication &amp; Digital Reproduction Policy &amp; Procedures</a> page.</p>
    </div>
  </div>
</div>
