<footer class="container">
	<hr />
	<div class="row">
		<div class="col-md-6">
			<p><small>Avery Architectural &amp; Fine Arts Library<br>1172 Amsterdam Ave. New York, NY 10027 Phone (212) 854-6199</small></p>
		</div>
		<div class="col-md-6 text-right">
			<p><small><%= link_to 'Terms of Use', terms_of_use_url %> | <a href="#" onclick="return feedbackModal();">Suggestions &amp; Feedback</a></small></p>
		</div>
	</div>
</footer>
