<div class="d-flex flex-column w-100">
<a href="/durst" id="site-title" class="navbar-brand text-lg-left">Seymour B. Durst Old York Library</a>
<small id="site-banner-subtitle" class="text-lg-left">Avery Architectural &amp; Fine Arts Library</small>
</div>