<div class="">
			<div id="facets" class="facets sidenav">

  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    </div>

  <div id="facet-panel-collapse" class="collapse panel-group">

	<div class="panel panel-default facet_limit blacklight-lib_format_sim ">
	  <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-lib_format_sim">
		<h5 class="panel-title">
		  <a data-no-turbolink="true" href="#">Format</a>
		</h5>
	  </div>
	  <div id="facet-lib_format_sim" class="panel-collapse facet-content collapse">
		<div class="panel-body">
		  <ul class="facet-values list-unstyled">
		<li>
			<span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=photographs&amp;q=&amp;search_field=all_text_teim">photographs</a></span><span class="facet-count">1,320</span>
		</li>
		<li>
			<span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=negatives&amp;q=&amp;search_field=all_text_teim">negatives</a></span><span class="facet-count">388</span>
		</li>
		<li>
			<span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=postcards&amp;q=&amp;search_field=all_text_teim">postcards</a></span><span class="facet-count">123</span>
		</li>
		<li>
			<span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=ephemera&amp;q=&amp;search_field=all_text_teim">ephemera</a></span><span class="facet-count">36</span>
		</li>
		<li>
			<span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=lantern+slides&amp;q=&amp;search_field=all_text_teim">lantern slides</a></span><span class="facet-count">34</span>
		</li>
		<li>
			<span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=clippings&amp;q=&amp;search_field=all_text_teim">clippings</a></span><span class="facet-count">6</span>
		</li>


	</ul>

	<!--
	-->

		</div>
	  </div>
	</div>

    <div class="panel panel-default facet_limit blacklight-lib_name_sim ">
  <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-lib_name_sim">
    <h5 class="panel-title">
      <a data-no-turbolink="true" href="#">Borough</a>
    </h5>
  </div>
  <div id="facet-lib_name_sim" class="panel-collapse facet-content collapse">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Lindquist%2C+G.+E.+E.+%28Gustavus+Elmer+Emanuel%29%2C+1886-1967&amp;q=&amp;search_field=all_text_teim">Lindquist, G. E. E. (Gustavus Elmer Emanuel), 1886-1967</a></span><span class="facet-count">1,907</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Henshaw%2C+Clarence+M.&amp;q=&amp;search_field=all_text_teim">Henshaw, Clarence M.</a></span><span class="facet-count">5</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Frashers+Inc.&amp;q=&amp;search_field=all_text_teim">Frashers Inc.</a></span><span class="facet-count">4</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Fred+Harvey+%28Firm%29&amp;q=&amp;search_field=all_text_teim">Fred Harvey (Firm)</a></span><span class="facet-count">3</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Saint+Michael%27s+College+%28Santa+Fe%2C+N.M.%29&amp;q=&amp;search_field=all_text_teim">Saint Michael's College (Santa Fe, N.M.)</a></span><span class="facet-count">3</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Albertype+Co.&amp;q=&amp;search_field=all_text_teim">Albertype Co.</a></span><span class="facet-count">2</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Coulon%2C+E.+E.&amp;q=&amp;search_field=all_text_teim">Coulon, E. E.</a></span><span class="facet-count">2</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Gottlieb+Photo+and+Art+Co.&amp;q=&amp;search_field=all_text_teim">Gottlieb Photo and Art Co.</a></span><span class="facet-count">2</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Hall%2C+R.+D.+%28Robert+Dwight%29%2C+1878-1943&amp;q=&amp;search_field=all_text_teim">Hall, R. D. (Robert Dwight), 1878-1943</a></span><span class="facet-count">2</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_name_sim%5D%5B%5D=Johnson%2C+Walter+C.&amp;q=&amp;search_field=all_text_teim">Johnson, Walter C.</a></span><span class="facet-count">2</span>
    </li>

    <li class="more_facets_link">
			<a class="facet-label more_facets_link" href="/durst/facet/lib_name_sim?q=&amp;search_field=all_text_teim&amp;utf8=%E2%9C%93">more »</a>
			<span class="facet-count"></span>
		</li>

</ul>

    </div>
  </div>
</div>

    
<div class="panel panel-default facet_limit date-range ">
  <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#date-range-filter">
    <h5 class="panel-title">
      <a data-no-turbolink="true" href="#">Neighborhood</a>
    </h5>
  </div>
  <div id="date-range-filter" class="panel-collapse facet-content collapse">
    <div class="panel-body">

<ul class="facet-values list-unstyled">
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=photographs&amp;q=&amp;search_field=all_text_teim">soho</a></span><span class="facet-count">1,320</span>
    </li>
    <li>
        <span class="facet-label"><a class="facet_select" href="/durst?f%5Blib_format_sim%5D%5B%5D=negatives&amp;q=&amp;search_field=all_text_teim">morningside heights</a></span><span class="facet-count">388</span>
    </li>
</ul>

    </div>
  </div>
</div>

  </div>
</div>

		</div>
