<div id="content">
    <h2>Acknowledgements</h2>

	<p>The Seymour B. Durst Old York Library project is made possible by generous support from:</p>

	<ul class="list-unstyled">
		<li><a href="#">The Old York Library Foundation</a></li>
		<li><a href="#">The Durst Organization</a></li>
		<li><a href="#">Columbia University Libraries</a></li> 
		<li><a href="#">Columbia’s Graduate School of Architecture, Planning and Preservation (GSAPP)</a></li>
	</ul>

	<p>We are grateful to our talented project team for their generous collaboration, inspired creativity, and ongoing commitment to the project:</p>

	<ul class="list-unstyled">
		<li><strong>Seymour B. Durst Old York Library Project Development team</strong>:
			<ul>
			<li><strong>Project director</strong>: Carole Ann Fabian</li>
			<li><strong>Project manager</strong>: Leo Stezano</li>
			<li><strong>Project curator</strong>: Chris Sala </li>
			</ul>
		</li>
	</ul>

	<ul class="list-unstyled">
		<li><strong>Project Steering Committee</strong>:
			<ul>
			<li>Kitty Chibnik (Head, Avery Library Access Services)</li>
			<li>Stephen Davis (Director, Libraries Digital Programs Division)</li>
			<li>Carole Ann Fabian (Director, Avery Library &amp; Project Director)</li>
			<li>Janet Gertz (Director, Preservation and Reformatting Division)</li>
			<li>Kate Harcourt (Director, Original and Special Materials Cataloging)</li>
			<li>Chris Sala (Architecture Librarian &amp; Project Curator)</li>
			<li>Leo Stezano (Project Manager)</li>
			</ul>
		</li>
	</ul>

	<p><strong>Collection management</strong>: Bill Austin, Kitty Chibnik, Misha Harnick, Zak Rouse</p>

	<p><strong>Conservation</strong>: Alexis Hagadorn, Vasare Rastonis</p>

	<p><strong>Curatorial</strong>: Brooke Baldeschwiler, Roberto Ferrari, Teresa Harris, Lena Newman, Chris Sala, Carolyn Yerkes</p>
	 
	<p><strong>Data creation &amp; management</strong>: Everett Allgood, Terence Catapano, Fran Adams, Gary Bertchume, Roberta Blitz, Ryan Graham, Kate Harcourt, Shelley Hayreh, Irena Kandarasheva, Gabriella Karl-Johnson, Erin Leach, Stuart Marquis, Carol Pardo, Robert Rendell, Melanie Wacker</p>

	<p><strong>Digitization</strong>: Janet Gertz, Emily Holmes, Dave Ortiz, Dwight Primiano</p>

	<p><strong>Web team</strong>:  Ben Armintor, Stephen Davis, Eric O'Hanlon, E. Ryerson</p>

	<p><strong>Project consultants</strong>: Kate Ascher, Kenneth Crews, Andrew Dolkart, Aline Locascio, Thomas Mellins, Janet Parks, Jeremiah Trinidad-Christensen</p>

</div>
