<div id="content">
	<h2>Search Tips</h2>
	<p>The Seymour B. Durst Old York Library Collection supports simple and complex searching. At the top of each page, a simple search box allows for searching by keyword terms as well as search phrases using Boolean operators.</p>

	<h4>Home Page Search Modes</h4>
	<%= image_tag(asset_path('durst/durst_help.jpg'), class: 'img-responsive thumbnail col-md-7 pull-right', id: 'durst-help-img') %>

	<p>
		<ol>
			<li><strong>Keyword Search:</strong> Enter keywords in this search bar to perform a more targeted search. Use the format dropdown to limit your search result to specific types of objects.</li>
			<li><strong>Browse All:</strong> Click on this link to browse the entire collection.</li>
			<li><strong>Faceted Browse:</strong> Choose one of a set of facets (format, neighborhood, etc.) and browse the collection for objects that match specific values of that facet.</li>
			<li><strong>Find by Location:</strong> Access the site’s interactive map feature to browse for objects based on the geographical location of their subject matter.</li>
			<li><strong>Find Images:</strong> Browse records that include images (postcards, maps, ephemera, etc.)</li>
			<li><strong>Book Search:</strong> Limit your search to books and pamphlets only.</li>
		</ol>
	</p>

	<h4>Extended Search</h4>
	<p>Once you have accessed a search results page, you can easily transfer your search to other information sources external to the Durst collection by clicking on the Extended Search button in the top right menu. Available sources include the Avery Index (credentials required), the Brooklyn Historical Society Photographical collection, and New York Public Library’s Digital Collections.</p>

	<h4>Boolean Operators</h4>
	<p><strong>Using AND, OR, and NOT to refine your search</strong></p>
	<p>The operator AND narrows your search by instructing the search engine to search only for records containing all the terms in your search. You do not have to type in the word AND; by default all terms entered into the search box become Boolean AND searches. However, you can adjust your search by doing an OR search (broadens the search to include records containing any or all of the terms) or a NOT search (narrows your search by excluding unwanted terms).</p>
	<p>You should enter the Boolean operators in capitals. To search for an exact phrase put quotation marks around your search terms.</p>

	<p>Examples:</p>
	<p>
		<ul>
			<li>
				<strong>Waldorf Astoria</strong><br />
				Searches for the word "Waldorf" and the word "Astoria" in all fields (183 hits)
			</li>
			<li>
				<strong>Waldorf AND Astoria</strong><br />
				Searches for the word "Waldorf" and the word "Astoria" in all fields. Equivalent to <strong>Waldorf Astoria</strong>. (183 hits)
			</li>
			<li>
				<strong>Waldorf OR Astoria</strong><br />
				Searches for either "Waldorf" OR "Astoria," or both, in all fields. (206 hits)
			</li>
			<li>
				<strong>Waldorf NOT Astoria</strong><br />
				Searches for the word "Waldorf" AND NOT the word "Astoria" in all fields. (4 hits)
			</li>
			<li>
				<strong>"Waldorf Astoria"</strong><br />
				Search for the exact phrase "Waldorf Astoria" in all fields. (183 hits)
			</li>
		</ul>
	</p>

	<h4>Refine Your Search</h4>
	<p>On the left-hand side of your search results screen, under the heading "Refine Your Search," you will see a set of search terms that apply to your search results, organized by category: format, neighborhood, borough, and city. You can use this section to browse links in a particular category or select a link to refine your search results.</p>
	<p>For example, an advanced search for the keyword <strong>Waldorf</strong> returns a search results page with 187 hits. From that search results page, under Refine Your Search you can browse the list of neighborhoods and select the “Turtle Bay-East Midtown” to find items with Waldorf as a keyword and Turtle Bay-East Midtown as the neighborhood (73 hits).</p>

	<h4>Wildcards</h4>
	<p>You can use the asterisk (*) symbol as a wildcard to substitute for one or more characters at the end of a word. Note that this symbol cannot be used at the beginning of a word. For example, <strong>astor*</strong> will find terms that contain the word Astoria.</p>
	<p>For example, an advanced search for the keyword <strong>Waldorf</strong> returns a search results page with 187 hits. From that search results page, under Refine Your Search you can browse the list of neighborhoods and select the “Turtle Bay-East Midtown” to find items with Waldorf as a keyword and Turtle Bay-East Midtown as the neighborhood (73 hits).</p>

	<h2 id="glossary">Glossary</h2>

	<table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>CUL Term</th>
          <th>Definition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <code>books</code>
          </th>
          <td>Items comprising a collection of leaves of paper, parchment, wood, stiffened textile, ivory, metal tablets, or other flat material, that are blank, written on, or printed, and are strung or bound together in a volume. (aat)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>ephemera</code>
          </th>
          <td>Items created, manufactured, or used for a specific, limited use, and usually intended to be discarded thereafter; photographs, etchings, illustrations, etc. (aat)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>manuscripts</code>
          </th>
          <td>Handwritten documents. (gmgpc)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>maps</code>
          </th>
          <td>Graphic delineations at a set scale, of all or part of the earth or another celestial sphere indicating the relative position of selected artificial and natural features. (gmgpc)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>music</code>
          </th>
          <td>Use for recorded and printed music. If the resource is a musical sound recording, use "sound recording" in addition to "music." (cul form terms)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>objects</code>
          </th>
          <td>Material things that can be perceived by the senses. In the context of art history or art information, the term may be restricted to works of art or cultural heritage, including architecture, art works such as paintings, drawings, graphic arts, sculpture, decorative arts, photographs, and other cultural artifacts. An object may be a single item or it may be made up of many physical parts. (aat)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>periodicals</code>
          </th>
          <td>Publications issued at regular intervals, but not daily, containing articles on various subjects by different authors for the general reader. (aat)</td>
        </tr>
        <tr>
          <th scope="row">
            <code>postcards</code>
          </th>
          <td>Cards on which a message may be written or printed for mailing without an envelope; often include a pictorial, comic, or other scene on one side. (gmgpc)</td>
        </tr>
      </tbody>
    </table>

	<h4>Vocabulary Sources</h4>

	<ul class="list-unstyled">
		<li>aat = Art &amp; Architecture Thesaurus  (Getty Research Institute)</li>
		<li>gmgpc = Thesaurus for Graphic Materials (Library of Congress, Prints and Photographs Division)</li>
		<li>cul form terms = Columbia University Projects Metadata Documentation.</li>
	</ul>


</div>
