<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner"> 
       <div id="home-sidebar-news">
                  <h6>ABOUT THE COLLECTION</h6>
                  <p>Welcome to the Staff Beta Release version of the new Digital Library Collections (DLC) website.  CUL/IS staff are invited during the month of August to review this new site and offer suggestions and feedback. Please first take a look at the <a href="https://wiki.cul.columbia.edu/display/PDCV/DLC%3A+Staff+Beta+Release+Info+Page">Release Info/FAQ</a> page.</p>
                  <div class="clearfix"></div>
                 </div> 
      </div> 
  </div>

  <div id="content" class="col-md-9">

                        <div class="inner">
<iframe id="durst_osm" width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-73.97026062011719%2C40.80313871105938%2C-73.95225763320923%2C40.81483234091447&amp;layer=mapnik&amp;marker=40.80899%2C-73.96125" style="border: 0"></iframe>
                        </div> <!--/.inner-->
  </div>

  <div id="dhss" class="hide col-md-3">
                        <div class="inner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path("durst/cathedralofcomme00coch_1_0001.jpg") %>" alt="...">
    </div>
    <div class="item">
      <img src="<%= asset_path("durst/guidetonewyorkaq00dorn_0001.jpg") %>" alt="...">
    </div>
    <div class="item">
      <img src="<%= asset_path("durst/radiocitytheatre00roth_0001.jpg") %>" alt="...">
    </div>
  </div>

  </div>
                        </div> <!--/.inner-->

</div>
