<div id="content">
	<h6 class="">FIND BY LOCATION</h6>
	<script>
		DCV.mapPlanes = <%= @map_data_json.html_safe %>;
		DCV.mapCoordinateSearchUrl = decodeURIComponent('<%= CGI.escape(url_for(params.merge(:action => 'index', :lat => '_lat_', :long => '_long_', :search_field => params[:search_field] || 'all_text_teim', :q => params[:q] || ''))) %>');
		DCV.centerLat = 40.7570;
		DCV.centerLong = -73.9810;
	</script>

	<div id="mapholder-div">
		<div id="durst_osm" class="full-map-search"></div>
	</div>
</div>
