<div id="content">
	<h2>Old York Library Collection Categories</h2>
	<p>
	In order to facilitate access to his extensive collection, Mr. Durst designed a custom classification system using thematic groupings that reflected his particular interests and provide a window into his collecting philosophy. These categories are listed below, with explanations obtained from original Old York Library cataloging instructions.
	</p>


<ul id="motm-list" class="list-unstyled">
<li><strong>Art (Theater)</strong> - Theatre histories, vaudeville, plays, programs, scrapbooks. Search this topic...</li>

<li><strong>Atlas</strong> - Books containing maps/streets indices. Most are oversize books. Search this topic...</li>

<li><strong>Bibliography</strong> - Bibliographies, books about books, bookstores, book personalities &amp; libraries. Issues about the handling and care of books.</li>

<li><strong>Biography</strong>
<ul>
<li><strong>Biography (Diary)</strong></li>
<li><strong>Biography (Genealogy)</strong></li>
<li><strong>Biography (Multiple)</strong></li>
<li><strong>Biography (Reminiscences)</strong></li>
</ul>
</li>

<li><strong>Broadway</strong> - Books about the thoroughfare. Some of these books are particularly interesting visually. </li>

<li><strong>Brown, Henry Collins</strong> - Because there are so many books by this noted NYC historian, a shelf was reserved for him. </li>

<li><strong>Celebration</strong> - Special events such as building/statue dedications, Hudson-Fulton Celebration, tributes. </li>

<li><strong>Cities</strong></li>

<li><strong>Commerce</strong> - Markets &amp; economies, industries, trades, retain stores, unions, labor, some relevant biographies.
<ul>
<li><strong>Commerce (Finance)</strong></li>
<li><strong>Commerce (Legal)</strong></li>
<li><strong>Commerce (Real Estate)</strong></li>
</ul>
</li>


<li><strong>Crime</strong> - Formerly known as "Crime &amp; Sins" </li>

<li><strong>Directory</strong></li>

<li><strong>Economy</strong></li>

<li><strong>Education</strong></li>

<li><strong>Encyclopaedia Britannica</strong></li>

<li><strong>Environment</strong> - Wildlife, geology, quality of life issues like noise and population.
<ul>
<li><strong>Environment (Archeology)</strong> - Small section, a few papers related to the African-American burial grounds. </li>
<li><strong>Environment (Hudson)</strong> - View books, predominantly about excursions along the eponymous river. </li>
<li><strong>Environment (Parks)</strong> - NYC parks, government reports, and relevant biographies. Special section devoted to Central Park and Frederick L. Olmsted. </li>
</ul>
</li>

<li><strong>Ethnic</strong> - In depth look at various Ethnic groups making up NYC, including its first inhabitants, Native Americans, up through the waves of recent Caribbean immigrations. (This was one of the subjects that SBD collected new books actively.) </li>

<li><strong>Events</strong> - Moments that stand out in NYC's history: Strikes, Riots (Civil War - Draft Riots), Fires (Triangle Shirtwaist), Blizzards, Columbia Demonstration. 
<ul>
<li><strong>Events (Celebration)</strong></li>
</ul>
</li>

<li><strong>Fiction</strong></li>

<li><strong>Game</strong> - Collected games related to NYC. </li>

<li><strong>Geography</strong> - Geography is grouped by borough, and within each borough, by neighborhoods or areas. 
<ul>
<li><strong>Geography (Bronx)</strong></li>
<li><strong>Geography (Brooklyn)</strong></li>
<li><strong>Geography (Islands)</strong> - This includes Ellis, Gardiner, Governor, Roosevelt/Welfare/Blackwell's, Shelter. </strong></li>
<li><strong>Geography (Long Island)</strong> - Nassau and Suffolk Counties </strong></li>
<li><strong>Geography (Manhattan)</strong></li>
<li><strong>Geography (Miscellaneous)</strong> - Geography not specific to NYC, but includes adjacent regions of NJ, and a couple of things about Cuba, the Philippines and several foreign cities </li>
<li><strong>Geography (New York State)</strong> - Areas in NYS that are note considered suburbs of NYC. </li>
<li><strong>Geography (Queens)</strong></li>
<li><strong>Geography (Staten Island)</strong></li>
<li><strong>Geography (Suburban)</strong> - This is made up of Rockland and Westchester Counties. </li>
<li><strong>Geography (City)</strong></li>
<li><strong>Geography (National)</strong></li>
<li><strong>Geography (State)</strong></li>
</ul>
</li>

<li><strong>Green, Andrew H.</strong> - SBD's personal grouping of titles related to AHG. </li>

<li><strong>Guides</strong> - The guides are grouped into more than 14 topics: athletic, budget, general, cookbooks-food, entertainment-nightlife, ethnic-minority, parking, et al. </li>

<li><strong>Hall of Fame</strong> - These books represent the "makers" of NY: Belmont, Jervis, Roebling, etc. and works about specific building or engineering accomplishments. </li>

<li><strong>History</strong>
<ul>
<li><strong>History (Old)</strong> - 19th C. </li>
<li><strong>History (Old, Colonial)</strong></li>
<li><strong>History (Old, New Netherlands)</strong></li>
<li><strong>History (Old, Revolutionary)</strong></li>
<li><strong>History (Recent)</strong> - 20th C. or post-WWI </li>
</ul>
</li>

<li><strong>Humor</strong></li>

<li><strong>Infrastructure</strong>
<ul>
<li><strong>Infrastructure (Bridge)</strong> - Bridges &amp; Tunnels. Brooklyn Bridge, George Washington, Holland Tunnel, Lincoln Tunnel et al. </li>
<li><strong>Infrastructure (Canal)</strong> - Canals and Waterways. Mostly Erie. </li>
<li><strong>Infrastructure (Port)</strong> - Port/Port Authority. </li>
<li><strong>Infrastructure (Transportation)</strong> - Airports, Ferries-Ships, Highways-Roads, Railroads, Subways, Taxis, etc. </li>
<li><strong>Infrastructure (Utilities)</strong> - Gas, phone and underground maintenance. </li>
<li><strong>Infrastructure (Water)</strong> - Drinking Water Supply. Croton reservoir, the Catskill watershed and statistics. </li>
</ul>
</li>

<li><strong>Institution</strong> - Welfare, philanthropic, histories about various financial institutions (mostly banks, and NYSE). 
<ul>
<li><strong>Institution (Club)</strong> - Union League Club, Century Club, Harmonie, Knickerbocker, "21", etc. </li>
<li><strong>Institution (Sport)</strong> - Sports clubs/teams, personalities, baseball, boxing, tennis, racing, etc. </li>
</ul>
</li>

<li><strong>International</strong> - International Architecture. </li>

<li><strong>Juvenile</strong> - Books for children. </li>

<li><strong>King, Moses</strong></li>

<li><strong>Literature </strong>
<ul>
<li><strong>Literature (Anthology)</strong> - Books that contain collections of one or several authors. </li>
</ul>
</li>

<li><strong>Manual of the Corporation of the City of New York</strong></li>

<li><strong>Map</strong> - Oversize maps, atlases, or maps folded into books.</li> 

<li><strong>Medical</strong> - Medical History/Medicine. Hospitals, epidemic histories, public health.</li>

<li><strong>Military</strong> - Military history.</li>

<li><strong>New York Historical Society</strong> - Collected publications and discourses; most relate to early NYC history. </li>

<li><strong>Periodicals</strong></li>

<li><strong>Personal</strong> - SBD's choice of books to have in his room and those works that he referred to regularly. </li>

<li><strong>Photography</strong> - Books that were primarily in the Pictorial room, which are all photographs or where photography is the main type of illustration within the book. 
<ul>
<li><strong>Photography (Art, City Architecture)</strong></li>
</ul>
</li>

<li><strong>Pictorial</strong> - Books whose illustrations are not primarily photographic in nature.</li>

<li><strong>Place</strong> - Specific locales in NYC. E.g., famous restaurants, hotels, the U.N., sites.</li>

<li><strong>Planning</strong> - Urban planning issues. Predominantly NYC, but includes books about the Northeast 
<ul>
<li><strong>Planning (Housing)</strong> - Covers many aspects of housing in NYC: availability statistics, legal issues, In Rem, subsidized housing. </li>
<li><strong>Planning (Infrastructure, Transportation)</strong></li>
<li><strong>Planning (Zoning)</strong></li>
</ul>
</li>

<li><strong>Politics</strong> - NYC politicians and much on Tammany Hall. Many are biographies. </li>

<li><strong>Postcards</strong> - Books with reprinted collected postcards, some of which tear out for mailing. </li>

<li><strong>Press</strong> - Press, media, journalism, and printing trades 
<ul>
<li><strong>Press (Planning)</strong></li>
<li><strong>Press (Periodical)</strong> - Bound periodicals </li>
</ul>
</li>

<li><strong>Puzzle</strong> - Part of the games about NYC. </li>

<li><strong>Reference</strong></li>

<li><strong>Religion</strong> - Histories of various "houses of worship," congregations and orders. </li>

<li><strong>Riis, Jacob A.</strong> - Special personal collection of SBD.</li>

<li><strong>Seymour B. Durst (as subject)</strong> - Books written by or inscribed to; and other favorites </li>

<li><strong>Social Services</strong> - Sociology &amp; Social Welfare. Social conditions, public welfare institutions, studies. </li>

<li><strong>Society</strong> - Class and society notables. Some "blue" books and various registers.</li>

<li><strong>Statue of Liberty</strong></li>
<li><strong>Text</strong> - Text books. This ranges from early American to mid-20th C.</li>

<li><strong>Times Square</strong> -Works whose content is considered more a part of the "state of being" Times Square and less about its "geographical nature." </li>

<li><strong>Travel &amp; Voyages</strong> - The books of explorers and settlers. </li>

<li><strong>Unbuilt</strong> - NYC architectural ideas or plans that were never actualized. </li>

<li><strong>Views</strong> - NYC illustrations, photographs, posters. </li>

<li><strong>World's Fair</strong> - This includes the 1939 and 1964 World's Fairs in NYC and a few items relating to the NY Exposition at the Crystal Palace in 1853 &amp; Columbia Exposition of 1893. </li>

<li><strong>Women</strong> - Histories by and/or about women.
<ul>
<li><strong>Women (Social Services, Biography, Reminiscences)</strong></li>
</ul>
</li>
<li><strong>Zoning</strong> - Part of planning. </li>
</ul>


</div>
