<div id="content">
	<h2>Old York Library Collection Categories</h2>
	<p>
	The Old York Library is divided into the following categories:
	</p>


    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-6">
      </colgroup>
      <tbody>
			
		<tr>
			<th scope="row">Almanacs</th>
			<td></td>
		</tr>
			
		<tr>
			<th scope="row">Architecture:</th>
			<td> This means not specific to NYC. NYC-specific architecture books are contained in “City Architecture”.</td>

		</tr>
			
		<tr>
			<th scope="row">Art:</th>
			<td> Museums, artists, movements in art integral to NYC.</td>

		</tr>
			
		<tr>
			<th scope="row">Art (Entertainment):</th>
			<td> The club scene, Jazz, cabaret, personalities generally known as entertainers.</td>

		</tr>
			
		<tr>
			<th scope="row">Art (Music):</th>
			<td> Concert halls/music venues, symphony &amp; operatic histories. Includes a group of programs from Town Hall.</td>

		</tr>
			
		<tr>
			<th scope="row">Art (Theater):</th>
			<td> Theatre histories, vaudeville, plays, programs, scrapbooks.</td>

		</tr>
			
		<tr>
			<th scope="row">Art, History Old:</th>
			<td> This is a special designation to honor Stokes' "The Iconography of Manhattan Island." Also included are two works views issued by the Society of Iconophiles.</td>
		</tr>
			
		<tr>
			<th scope="row">Atlas: </th>
			<td>Books containing maps/streets indices. Most are oversize books.</td>

		</tr>
			
		<tr>
			<th scope="row">Bibliography:</th>
			<td> Bibliographies, books about books, bookstores, book personalities &amp; libraries. Issues about the handling and care of books.</td>

		</tr>
			
		<tr>
			<th scope="row">Biography:</th>
			<td> Organized according to the person that the biography is about.</td>

		</tr>
			
		<tr>
			<th scope="row">Biography (Diary):</th>
			<td> Diaries and journals. </td>

		</tr>
			
		<tr>
			<th scope="row">Biography (Genealogy)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Biography (Multiple):</th>
			<td> Books which have biographical essays, sketches, articles, etc. on more than one person.</td>

		</tr>
			
		<tr>
			<th scope="row">Biography (Reminiscences):</th>
			<td> Memoirs and works considered fictionalized or specifically about a milieu of the writer, and not strictly biographical.</td>

		</tr>
			
		<tr>
			<th scope="row">Broadway:</th>
			<td> Books about the thoroughfare.</td>

		</tr>
			
		<tr>
			<th scope="row">Brown, Henry Collins</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Celebration:</th>
			<td> Special events such as building/statue dedications, Hudson-Fulton Celebration, tributes.</td>

		</tr>
			
		<tr>
			<th scope="row">Cities</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">City Architecture:</th>
			<td> Books about NYC-specific architecture.</td>

		</tr>
			
		<tr>
			<th scope="row">Commerce:</th>
			<td> Markets &amp; economies, industries, trades, retail stores, unions, labor, some relevant biographies.</td>

		</tr>
			
		<tr>
			<th scope="row">Commerce (Finance):</th>
			<td> Finance, banking, Wall Street, Insurance.</td>

		</tr>
			
		<tr>
			<th scope="row">Commerce (Legal):</th>
			<td> Association of the Bar of NY &amp; law firms.</td>

		</tr>
			
		<tr>
			<th scope="row">Commerce (Real Estate):</th>
			<td> Real Estate industry, buildings &amp; skyscrapers, developers and development.</td>

		</tr>
			
		<tr>
			<th scope="row">Crime</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Directory:</th>
			<td> City directories.</td>

		</tr>
			
		<tr>
			<th scope="row">Economy</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Education</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Encyclopaedia Britannica</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Environment:</th>
			<td> Wildlife, geology, quality of life issues like noise and population.</td>

		</tr>
			
		<tr>
			<th scope="row">Environment (Archeology):</th>
			<td> Small section, a few papers relating to the African-American burial grounds.</td>

		</tr>
			
		<tr>
			<th scope="row">Environment (Hudson):</th>
			<td> View books, predominantly about excursions along the eponymous river.</td>

		</tr>
			
		<tr>
			<th scope="row">Environment (Parks):</th>
			<td> NYC parks, government reports, and relevant biographies. Special section devoted to Central park and Frederick L. Olmsted.</td>

		</tr>
			
		<tr>
			<th scope="row">Ethnic:</th>
			<td> In depth look at various Ethnic groups making up NYC, including its first inhabitants, Native Americans up through the waves of recent Caribbean immigration.</td>

		</tr>
			
		<tr>
			<th scope="row">Events:</th>
			<td> Moments that stand out in NYC's history: Strikes, Riots (Civil War, Draft Riots), Fires (Triangle Shirtwaist), Blizzards, Columbia Demonstration. </td>

		</tr>
			
		<tr>
			<th scope="row">Events (Celebration)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Fiction:</th>
			<td> see Literature.</td>

		</tr>
			
		<tr>
			<th scope="row">Game:</th>
			<td> Collected games related to NYC.</td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Bronx)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Brooklyn)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Islands):</th>
			<td> This includes Ellis, Gardiner, Governor, Roosevelt/Welfare/Blackwell's, Shelter.</td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Long Island):</th>
			<td> Nassau and Suffolk Counties.</td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Manhattan)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Miscellaneous):</th>
			<td> This is geography not specific to NYC, but includes adjacent regions of NJ, and a couple of things about Cuba, the Philippines and several foreign cities.</td>

		</tr>
			
		<tr>
			<th scope="row">Geography (New York State):</th>
			<td> Areas in NYS which are not considered suburbs of NYC.</td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Queens)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Staten Island)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Geography (Suburban):</th>
			<td> This is made up of Rockland and Westchester Counties.</td>

		</tr>
			
		<tr>
			<th scope="row">Government (City):</th>
			<td> Covers basic government, charters, law and corruption.</td>

		</tr>
			
		<tr>
			<th scope="row">Government (National):</th>
			<td> Constitution, WPA, Postal Service, the NY Customs House, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Government (State):</th>
			<td> Legislative Records, Governors, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Green, Andrew H.</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Guides:</th>
			<td> Athletic, budget, general, cookbooks/food, entertainment/nightlife, ethnic minority, parking, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Hall of Fame:</th>
			<td> These books represent the "makers" of NY: Belmont, Jervis, Roebling, etc., and works about specific building or engineering accomplishments.</td>

		</tr>
			
		<tr>
			<th scope="row">History (Old)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">History (Old, Colonial)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">History (Old, New Netherlands)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">History (Old, Revolutionary):</th>
			<td> Very similar to “Military,” with significant crossover.</td>

		</tr>
			
		<tr>
			<th scope="row">History (Recent):</th>
			<td> Post WWII.</td>

		</tr>
			
		<tr>
			<th scope="row">Humor</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Infrastructure (Bridge):</th>
			<td> Brooklyn Bridge, George Washington, Holland Tunnel, Lincoln Tunnel, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Infrastructure (Canal):</th>
			<td> Canals and Waterways, mostly Erie.</td>

		</tr>
			
		<tr>
			<th scope="row">Infrastructure (Port)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Infrastructure (Transportation):</th>
			<td> Airports, Ferries/Ships, Highways/Roads, Railroads, Subways, Taxis, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Infrastructure (Utilities):</th>
			<td> Gas, Phone and underground maintenance.</td>

		</tr>
			
		<tr>
			<th scope="row">Infrastructure (Water):</th>
			<td> Croton reservoir, the Catskill watershed.</td>

		</tr>
			
		<tr>
			<th scope="row">Institution:</th>
			<td> Welfare, philanthropic, additional copies of histories about various financial institutions (mostly banks and NYSE.) Some similarities to “Social Services.”</td>

		</tr>
			
		<tr>
			<th scope="row">Institution (Club):</th>
			<td> Union League Club, Century Club, Harmonie, Knickerbocker, "21", etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Institution (Sport):</th>
			<td> Sports clubs/teams, personalities. Baseball, boxing, tennis, racing, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">International:</th>
			<td> International Architecture.</td>

		</tr>
			
		<tr>
			<th scope="row">Juvenile:</th>
			<td> Books for children.</td>

		</tr>
			
		<tr>
			<th scope="row">King, Moses</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Literature:</th>
			<td> Significant overlap with “Fiction,” but not all Fiction is Literature and not all Literature is Fiction. Many of these books are personal accounts of the writer's NY experiences, which also qualifies them as "Biography (Reminiscences)." </td>

		</tr>
			
		<tr>
			<th scope="row">Literature (Anthology):</th>
			<td> Books which contain collections of one or several authors.</td>

		</tr>
			
		<tr>
			<th scope="row">Manual of the Corporation of the City of New York</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Map:</th>
			<td> Oversize maps, duplicate copies of "atlas" type books, or maps folded into books.</td>

		</tr>
			
		<tr>
			<th scope="row">Medical:</th>
			<td> Hospitals, epidemic histories, public health.</td>

		</tr>
			
		<tr>
			<th scope="row">Military:</th>
			<td> Military history.</td>

		</tr>
			
		<tr>
			<th scope="row">New York Historical Society:</th>
			<td> Collected publications and discourses. </td>

		</tr>
			
		<tr>
			<th scope="row">Periodicals:</th>
			<td> This does not denote subject matter, but type of work. </td>

		</tr>
			
		<tr>
			<th scope="row">Personal:</th>
			<td> Works that Mr. Durst referred to regularly.</td>

		</tr>
			
		<tr>
			<th scope="row">Photography:</th>
			<td> Books which either contain only photographs or where photography is the main type of illustration within the book. Arranged by location depicted, specific photographers, and books containing general views of NYC. </td>

		</tr>
			
		<tr>
			<th scope="row">Photography (Art, City Architecture)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Pictorial:</th>
			<td> Books whose illustrations are not primarily photographic in nature.</td>

		</tr>
			
		<tr>
			<th scope="row">Place:</th>
			<td> Specific locales in NYC. e.g., famous restaurants, hotels, the U.N., sites, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Planning:</th>
			<td> Urban planning issues, predominantly NYC, but includes books about the Northeast and other regions.</td>

		</tr>
			
		<tr>
			<th scope="row">Planning (Infrastructure, Transportation)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Planning (Zoning)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Planning (Housing):</th>
			<td> Covers many aspects of housing in NYC: availability statistics, legal issues, In Rem, subsidized housing.</td>

		</tr>
			
		<tr>
			<th scope="row">Politics:</th>
			<td> NYC politicians and much on Tammany Hall. Many are biographies.</td>

		</tr>
			
		<tr>
			<th scope="row">Postcards:</th>
			<td> Books of reprinted postcards, some which tear out for mailing. </td>

		</tr>
			
		<tr>
			<th scope="row">Press:</th>
			<td> Press, media, journalism, and printing trades.</td>

		</tr>
			
		<tr>
			<th scope="row">Press (Planning):</th>
			<td> Press related to planning events.</td>

		</tr>
			
		<tr>
			<th scope="row">Press (Periodical):</th>
			<td>Bound periodicals: Harper's Weekly, Scientific American, New York Times, The New York, etc.</td>

		</tr>
			
		<tr>
			<th scope="row">Puzzle:</th>
			<td> Closely related to “Game.”</td>

		</tr>
			
		<tr>
			<th scope="row">Reference:</th>
			<td> This was mostly a designation for duplicate books. </td>

		</tr>
			
		<tr>
			<th scope="row">Religion:</th>
			<td> Histories of various houses of worship, congregations, and orders. Sermons and missions are a secondary topic.</td>

		</tr>
			
		<tr>
			<th scope="row">Riis, Jacob A.</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Statue of Liberty:</th>
			<td> Closely related to”Place.”</td>

		</tr>
			
		<tr>
			<th scope="row">Seymour B. Durst (as subject):</th>
			<td> Books written by or inscribed to, or other favorite works not included in “Personal.”</td>

		</tr>
			
		<tr>
			<th scope="row">Social Services:</th>
			<td> Social conditions, public welfare institutions, studies. Significant crossover with “Ethnic.”</td>

		</tr>
			
		<tr>
			<th scope="row">Society:</th>
			<td> Class and society notables. Some "blue" books and various registers. </td>

		</tr>
			
		<tr>
			<th scope="row">Times Square:</th>
			<td> Works whose content focuses more on the "state of being" Times Square and less about its geographical nature.</td>

		</tr>
			
		<tr>
			<th scope="row">Text:</th>
			<td> Ranges from early American to mid- 20th Century.</td>

		</tr>
			
		<tr>
			<th scope="row">Travel &amp; Voyages:</th>
			<td> The books of explorers and settlers. </td>

		</tr>
			
		<tr>
			<th scope="row">Unbuilt:</th>
			<td> Architectural ideas or plans which were never actualized.</td>

		</tr>
			
		<tr>
			<th scope="row">Views:</th>
			<td> Illustrations, photographs, posters. Usually oversized.</td>

		</tr>
			
		<tr>
			<th scope="row">World's Fair:</th>
			<td> Includes the 1939 and 1964 World's Fairs in NYC and a few items relating to the NY Exposition at the Crystal Palace in 1853 &amp; the Columbia Exposition of 1893.</td>

		</tr>
			
		<tr>
			<th scope="row">Women:</th>
			<td> Histories by and/or about women.</td>

		</tr>
			
		<tr>
			<th scope="row">Women (Social Services, Biography, Reminiscences)</th>
			<td></td>

		</tr>
			
		<tr>
			<th scope="row">Zoning:</th>
			<td> Closely related to “Planning.”</td>
		</tr>

	</tbody>
	</table>
</div>
