<%
div_id ||= "home-sidebar-news"
%>
<div id="<%= div_id %>">
<p>A core objective of the Columbia University Libraries is to make our archival collections accessible for research and scholarship. However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns.</p>
<p>Oral histories, recordings, videos, etc., can be found in many collections of Avery Drawings & Archives. These materials can only be viewed in the Avery Drawings & Archives reading room. <a href="https://library.columbia.edu/libraries/avery/da/consult.html">Please see this webpage on how to make an appointment</a>. Requests for obtaining copies of these materials are subject to approval by designated staff members.</p>
</div>
