<div class="row">
	<div id="content" class="col-md-12">
		<h2 class="text-center">About the Online Reading Room</h2>
		<hr>
		<div class="inner">
			<h3 class="text-center">Restricted Access</h3>
			<p>A core objective of the Columbia University Libraries is to make our archival collections accessible for research and scholarship. However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns.</p>
			<p>Oral histories, recordings, videos, etc., can be found in many collections of Avery Drawings & Archives. These materials can only be viewed in the Avery Drawings & Archives reading room. <a href="https://library.columbia.edu/libraries/avery/da/consult.html">Please see this webpage on how to make an appointment</a>. Requests for obtaining copies of these materials are subject to approval by designated staff members.</p>
			<p><a href="<%= about_url %>">Learn more about the DLC &raquo;</a></p>
		</div>
	</div>
</div>