<h4>Avery Drawings &amp; Archives Collections</h4>
<p><a href="https://library.columbia.edu/libraries/avery/da/collections.html">Avery Drawings & Archives collections list</a></p>
<hr>
<p><a href="https://library.columbia.edu/libraries/avery/da/consult.html">Avery Drawings &amp; Archives Research and appointments</a></p>
