<div class="col-3">
  <% if widgets? -%>
    <div class="btn-group btn-group-sm float-right">
      <%= mods_widget -%>
      <%= iiif_widget -%>
      <%= citation_widget -%>
    </div>
  <% end -%>
</div>
