<% if has_unviewable_children? %>
	<div class="alert alert-info" role="alert">
		<%= render :partial => 'shared/vrr_disclaimer' %>
		<% if !current_user -%>
			<%= render :partial => 'shared/vrr_login' %>
		<% end -%>		
	</div>
<% elsif (restricted_doc = has_embargoed_children? ) %>
  <p class="alert alert-info" role="alert">Due to copyright, contractual or privacy restrictions, this item is not available until <%= restricted_doc['access_control_embargo_dtsi'] %>.</p>
<% else %>
  <p class="alert alert-warning" role="alert">Due to copyright, contractual or privacy restrictions, this item is not available online.</p>
<% end %>
