<div class="card">
  <div class="card-body">
    <h2 class="card-title">Authentication successful!</h5>
    <p class="card-text"><button type="button" class="btn btn-success" onclick="window.close();">Click to return to the webpage.</button></p>
  </div>
</div>
