<div class="row">
	<div id="content" class="col-md-12">
		<h2 class="text-center">About the Online Reading Room</h2>
		<hr>
		<div class="inner">
			<h3 class="text-center">Restricted Access</h3>
			<p>A core objective of Columbia University Libraries C.V. Starr East Asian Library is to make our archival collections accessible for research and
			scholarship. However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns.</p>
			<p>These materials can only be viewed in the Starr rare book reading room during its hours of operation. Requests for obtaining copies of these materials are subject to approval by designated staff members. Please see the <a href="https://library.columbia.edu/libraries/eastasian.html">Starr Library website</a> for more information on planning your visit.</p>
		</div>
	</div>
</div>

