<% # container for all documents in index view -%>

<% if controller.subsite_config['date_search'].present? && controller.subsite_config['date_search'].fetch('timeline', false) %>
  <div id="search-results-date-graph" class="search-result-display hidden">
    <%= render 'date_range_selector' %>
  </div>
<% end %>

<div id="search-results">
  <div class="row">
    <% @items_per_row_counter = 1 %>
    <% if subsite_layout.eql? 'durst' %>
      <%= render :partial=>'document',:collection=> documents, :as=> :document, :locals=> {:row_offset=> 0} %>
    <% else %>
      <% if subsite_search_mode == :list %>
        <%= render :partial=>'document/list',:collection=> documents, :as=> :document, :locals=> {:row_offset=> 0} %>
      <% else %>
        <%= render :partial=>'document/grid',:collection=> documents, :as=> :document, :locals=> {:row_offset=> 0} %>
      <% end %>
    <% end %>
  </div>
</div>
