<% # container for all documents in index view -%>
<div id="documents col-sm-8">
<div id="view-options">
  <div class="hidden-xs btn-group btn-group-xs">
    <button id="grid-mode" type="button" class="btn btn-success result-type-button"><i class="glyphicon glyphicon-th"></i></button>
    <button id="list-mode" type="button" class="btn btn-default result-type-button"><i class="glyphicon glyphicon-th-list"></i></button>
    <button id="date-graph-mode" type="button" class="btn btn-default result-type-button"><i class="glyphicon glyphicon-stats"></i></button>
  </div>
</div>
  <div class="row">
    <div id="search-results-standard" class="search-result-display">
      <%= render :partial=>'document',:collection=> documents, :as=> :document, :locals=> {:row_offset=> 0} %>
    </div>
    <div id="search-results-date-graph" class="search-result-display">
      <%= render 'date_range_selector' %>
    </div>
  </div>
</div>