<div id="digital_projects">
	<% proj_counter = 0 %>
	<div class="row">
		<% controller.digital_projects.each do |digital_project| %>
			<% if digital_project[:browse_url].present? %>
				<div class="col-sm-3 mb-2">
					<%= render Dcv::ProjectCardComponent.new(project_data: digital_project, counter: proj_counter, additional_classes: ["h-100"]) -%>
				</div>
				<% if (proj_counter += 1) % 4 == 0 %><div class="clearfix"></div><br /><% end -%>
			<% end %>
		<% end %>
	</div>
</div>
