		<footer class="container">
			<hr />
			<div class="row">
				<div class="col-md-6">
					<p><small>535 West 114th St. New York, NY 10027 Telephone (212) 854-7309</small></p>
				</div>
				<div class="col-md-6 text-right">
					<p><small><%= link_to 'Terms of Use', terms_of_use_path %> | <a href="#" onclick="return DCV.FeedbackModal.show();">Suggestions &amp; Feedback</a></small></p>
				</div>
			</div>
		</footer>
