<%# default partial to display solr document fields in catalog index view -%>
<ul>
  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
			<li>
	    <strong><%= render_index_field_label document, :field => solr_fname %></strong>
	    <%= render_index_field_value document, :field => solr_fname %>
			</li>
    <% end -%>
  <% end -%>
</ul>
