<%
	# For some documents, we need to convert the title to a string using to_str (NOT to_s) before using CGI::escape.
	# For more info: http://pjkh.com/articles/cgi-escape-undefined-method-bytesize-for-nil-class/
	str_title = document_show_html_title.to_str
%>

<% coins_data_to_print =

  'ctx_ver=Z39.88-2004&amp;' +
  'rft_val_fmt=info:ofi/fmt:kev:mtx:dc&amp;' +
  'rfr_id=info:sid/ocoins.info:generator&amp;' +

  'rft.identifier=' + CGI::escape(url_for(:action=>'show', :id => @document, :host => request.host)) + '&amp;' +
  'rft.title=' + CGI::escape(str_title) + '&amp;' +
  'rft.type=' + CGI::escape('Web Page') + '&amp;' +
  (@document['lib_format_ssm'].present? ? ('rft.format=' + CGI::escape(@document['lib_format_ssm'].join(', ')) + '&amp;') : '') +
  'rft.source=' + CGI::escape(application_name) + '&amp;' +
  (@document['abstract_ssm'].present? ? ('rft.description=' + CGI::escape(@document['abstract_ssm'].join(', ')) + '&amp;') : '') +
  (@document['lib_date_textual_ssm'].present? ? ('rft.date=' + CGI::escape(@document['lib_date_textual_ssm'].join(', ')) + '&amp;') : '') +
  'rft.language=English'

%><span class="Z3988" title="<%= coins_data_to_print.html_safe %>"></span>
