<div class="inner">
  <%= render partial: 'facets', locals: {hide_refine_heading: (defined?(hide_refine_heading) ? hide_refine_heading : false),
  no_id_attr: (defined?(no_id_attr) ? no_id_attr : false)} %>
</div>
<% if controller.subsite_config.fetch('map_search', {}).fetch('sidebar', false) %>
  <div class="inner" style="margin-top:1em;">
    <%= render 'mapped_results_sidebar' %>
  </div>
<% end %>
