<a class="btn btn-default" title="Open in new window" onclick="window.open('<%= details_url(id: document[:id], layout:(request.path.split('/')[1])) %>'); return false;"><i class="glyphicon glyphicon-new-window"></i></a>
<div class="btn-group btn-group-xs">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Download file"><i class="glyphicon glyphicon-download"></i> <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span></button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
  <% resources_as_list_items(document, "").each do |item| -%>
    <%= item %>
  <% end -%>
  </ul>
</div>
