<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="pull-right search-widgets btn-group btn-group-xs">
  <%= render_document_partials @document, ['show_tools'] %>
  <div class="btn-group btn-group-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Share this">
      <i class="glyphicon glyphicon-share-alt"></i> <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li class="hide">
          <%= render_show_doc_actions @document %>
        </li>
      <% if @document.respond_to?( :to_email_text ) %>
        <li class="email">
        <%= link_to '<i class="glyphicon glyphicon-envelope"></i> '.html_safe+t('blacklight.tools.email'), email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}} %>
        </li>
      <%- end -%>
      <li class="twitter">
        <a href="" onclick="return false;" style="pointer-events:none;"><i class="glyphicon glyphicon-send"></i> Throw it</a>
      </li>
    </ul>
  </div>
</div>
