<% if structured_children.first -%>
  <a class="btn btn-default item-cbox" data-original-title="<%= document_show_html_title %>" href="#" onclick="return DCV.ZoomingImageModal.show();"><i class="glyphicon glyphicon-eye-open"></i></a>
  <a class="btn btn-default" href="#" data-original-title="<%= document_show_html_title %>" title="Open in new window" onclick="return DCV.ZoomingImageModal.openInNewWindow();"><i class="glyphicon glyphicon-new-window"></i></a>
<% end -%>
