<div class="row" id="child_items">
  <div class="col-md-12 filesystem">
    <div class="inner">
      <h3 id="doc-item-title" class="nomar"><%= document_show_html_title %></h3>
      </div>
    <% end %>
    <%= render_document_partials @document, @document['dc_type_ssm'].collect{|x| x.underscore} %>
    </div>
  </div>
</div>
