<li>
  <a data-toggle="dropdown" onclick="loadByteStreams('<%= bytestreams_url(catalog_id: params[:id], format: 'json') %>'); return false;" href="">
    <i class="glyphicon glyphicon-download"></i> Download Assets
  </a>
</li>
