<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/china.png") %>" alt=""> China</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/china-01.jpg") %>" class="pull-right">
Ford Foundation International Fellowship Program in China started in 2001 and selected its last cohort in 2010 with the Beijing Office of the Institute of International Education, as its International Partner institution. The program was focused on the social groups with lack of opportunity to study: the poor, minorities, women and persons with disabilities. To this end, the project did not fund applicants who lived or worked in Beijing, Shanghai, Tianjin, Guangzhou, Nanjing, Shenzhen, Hong Kong, Macao and Taiwan. The IFP office in China selected a total of 355 fellows from 27 provinces, municipalities and autonomous regions. The website of the program also houses the still-active "IFP China Fellows Resource Platform" - a growing collection of information about the IFP China Fellows and Alumni and a networking resource.
	</p>
	<p>
The IFP China office was closed in 2013. The archive received 4.3 GB of digital materials and 43.75 l.f. of paper materials in July 2013. The documents include outreach materials, selection records and interview materials, post selection activities , publications and media coverage, alumni-related materials, photos, PowerPoint presentations, multimedia and internal correspondence in English and Chinese, as well as website captures. 238 Chinese fellows gave their consent to open most of their files to researchers in the Reading Room.
	</p>
  </div><!--/#content-->
  <div id="right-sidebar" class="col-lg-3">
      <h6 class="">PARTNER SPECIFIC THINGS</h6>
      T/K
  </div><!--/#right-sidebar-->
</div><!--/row-->
