<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/ghana.png") %>" alt=""> Ghana</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/ghana-01.jpg") %>" class="pull-right col-sm-5 col-xs-12 img-responsive">
The Ford Foundation International Fellowships Programs in Ghana, Nigeria and Senegal was coordinated by the Association of African Universities. The Association of African Universities (AAU), with its headquarters in Accra, Ghana, is the apex organization and forum for consultation, exchange of information and co-operation among institutions of higher education in Africa that represents the voice of African higher education on regional and international bodies and supports networking by institutions of higher education in teaching, research, information exchange and dissemination. 106 fellows from Ghana were selected for the program. 
	</p>
	<p>
Digital materials on a flash drive (4.92 GB) were delivered in July 2013 and contained administrative records of the Ghanaian office; materials dealing with recruitment, selection, and monitoring of the fellows; reports and other materials relating to publicity and advertising.  The paper records arrived in two installments, 9 l.f. in May 2013 and 1.25 l.f. in July 2013. The materials are in English.  84 IFP fellows consented to give researchers access to their files.  
	</p>
  </div><!--/#content-->
  <div id="right-sidebar" class="col-lg-3">
      <h6 class="">PARTNER SPECIFIC THINGS</h6>
      T/K
  </div><!--/#right-sidebar-->
</div><!--/row-->
