<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/guatemala.png") %>" alt=""> Guatemala</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/guatemala-01.jpg") %>" class="pull-right col-sm-5 col-xs-12 img-responsive">
The IFP program in Guatemala, since its inception in 2001 was under technical and administrative management of the Regional Research Center of Mesoamerica (CIRMA), an IFP international partner.  One of CIRMA’s key objectives support programs to facilitate wider access of the Guatemalan population to education. The IFP program in the country has been directed at Guatemalans and Central Americans living in the country, belonging to social groups and communities that have had limited access to education and who have a history of working for the development of Guatemala. Recipients were selected based on their leadership potential, social commitment of his career, as well as academic excellence. Between 2001 and 2010, 127 Guatemalans IFP have received scholarships to complete graduate studies. The CIRMA also ran the monitoring program, which included support in the search for top universities around the world, strengthening and remedial education prior to starting graduate studies, counseling sessions, and participation in learning activities and discussions designed for sharing experiences with large and diverse audiences. Currently, the program supports the creation of a network of scholarship, generating opportunities for dialogue, discussion and reflection on topics linked to the various disciplines and areas of intervention of the scholarship and the national context. CIRMA continues to maintain the site of the IFP Guatemala Alumni Association (www.ifpguatemala.org).
	</p>
	<p>
The full set of digital materials from Guatemala office has never been received; the digital records in the archive all come from the 281 MB sample, received in February 2013. Materials represent administrative records of the office; materials dealing with recruitment, selection, and monitoring of the fellows; reports and other materials relating to publicity and advertising, as office files, images and databases. The 8.75 l.f. of paper records arrived in July 2013. The materials are in English and Spanish. 92 fellows gave their consent to granting researchers access to their files.
	</p>
  </div><!--/#content-->
  <div id="right-sidebar" class="col-lg-3">
      <h6 class="">PARTNER SPECIFIC THINGS</h6>
      T/K
  </div><!--/#right-sidebar-->
</div><!--/row-->
