<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/indonesia.png") %>" alt=""> Indonesia</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/indonesia-01.jpg") %>" class="pull-right col-sm-5 col-xs-12 img-responsive">
The Indonesian International Education Foundation (IIEF) - an Indonesian not-for-profit organization that promotes the development of the Indonesian people through international education served as the IFP International Partner in Indonesia. This organization has been the Indonesian partner organization of the Institute of International Education (IIE) for over thirty years. In 2002-2010, IFP Indonesia selected 365 fellows from 33 provinces, including people living in remote areas, indigenous people, marginalized communities, or communities are located in conflict or post-conflict areas. Upon their return to Indonesia, the IFP program alumni formed an alumni organization, Indonesia Social Justice Network (ISJN), whose first founding meeting was held in June 2006 in Jakarta. Is meetings have since been attended by a number of IFP alumni from India, Vietnam, The Philippines, China, and Thailand. The organization seeks to strengthen the network among ISJN members and any other IFP Alumni associations and to work collaboratively to promote and ensure social justice in their communities. 
	</p>
	<p>
The IFP office in Indonesia closed its operations in 2013. 267 fellows gave their consent to granting researchers access to their files.. The materials include administrative program files, fellow files, audiovisual materials and archived websites of IIEF and ISJN. 
61.6 GB of digital materials were received in June 2013. Paper materials, totalling 40.5 l.f., arrived in 6 shipments in June-July 2013, they also included a number of optical multimedia disks, the contents of which were transferred and grouped with other digital materials of Indonesian office. The documents are in English and Indonesian. 
	</p>
  </div><!--/#content-->
  <div id="right-sidebar" class="col-lg-3">
      <h6 class="">PARTNER SPECIFIC THINGS</h6>
      T/K
  </div><!--/#right-sidebar-->
</div><!--/row-->
