<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/mexico.png") %>" alt=""> Mexico</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/mexico-01.jpg") %>" class="pull-right col-sm-5 col-xs-12 img-responsive">
For Mexico, the Ford Foundation has joined forces with the Center for Research and Higher Studies in Social Anthropology (CIESAS) as an International Partner to give the program a local identity and a strong institutional basis. The IIE office for Latin America played an important role in the project as well. In 2002-2010, the Mexican office selected 225 Fellows. The IFP program in Mexico started in 2002 and was aimed at supporting indigenous students. The goal was to help educating indigenous researchers and professionals with high academic standards who can actively participate in solving the problems facing the country, develop new fields of knowledge and commit to improving social and economic conditions of the indigenous population.
	</p>
	<p>
The IFP office was closed in June 2013. 11.25 l. f. of paper materials arrived in July 2013 and the set of digital materials was received in September. The materials include administrative program files, fellow files, audiovisual materials and archived websites. 186 fellows gave their consent to granting researchers access to their files. The materials are in English and Spanish.
	</p>
  </div><!--/#content-->
  <div id="right-sidebar" class="col-lg-3">
      <h6 class="">PARTNER SPECIFIC SIDEBAR</h6>
      T/K
  </div><!--/#right-sidebar-->
</div><!--/row-->
