<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/russia.png") %>" alt=""> Russia</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/russia-01.jpg") %>" class="pull-right">
The IFP program in Russia was among the four pilot IFP programs. In October 2000 the Ford Foundation invited the Moscow office of the Institute of International Education, to develop and manage the program, and, it was launched in November 2001 in close consultation with the Moscow office of the Ford Foundation and representatives of the educational community and NGOs. In the Russian Federation, the program supported candidates who reside outside of large metropolitan areas, persons with disabilities, refugees, internally displaced persons, and individuals who were raised in orphanages or state-supported boarding schools. The fellows were selected in 2001-2009 by an independent panel of Russian citizens to which IIE-Moscow acts as secretariat. Fellows of the program, whose number eventually reached 255, represented 77 regions of the Russian Federation, with 171  of them going for a Master-level degree and 84 for a Ph. D. About sixty percent of the Fellows chose to attend graduate schools in Russia; others went to study abroad, predominantly in the US, Canada, European countries. Alumni Association of IFP in the Russian Federation was established in 2005 in order to enable graduates of the program to implement joint projects, communicate and to be aware of the professional interests of each other, and to support each other during the period of "re-adaptation "after the end of the program.
	</p>
	<p>
The Russian IFP office in Moscow was the first international office to close in March 2012. The set of digital materials was delivered in July 2012, and 6 l.f. of paper materials arrived in September 2013. The archived documents include administrative program files, fellow files, publicity materials and audiovisual materials, and the program website. 127 fellows consented to provide researchers with access to their files. The materials are in English and Russian. 
	</p>
  </div><!--/#content-->
  <div id="right-sidebar" class="col-lg-3">
      <h6 class="">PARTNER SPECIFIC THINGS</h6>
      T/K
  </div><!--/#right-sidebar-->
</div><!--/row-->
