<div class="row">
  <div id="content" class="col-lg-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:60px;" src="<%= asset_path("ifp/office-flags/secretariat.png") %>" alt=""> Secretariat</h2>
	<p>
    <img alt="" src="<%= asset_path("ifp/partner_pics/secretariat-01.jpg") %>" class="pull-right col-sm-5 col-xs-12 img-responsive">
One of the major innovations of IFP is a decentralized operational structure linking implementing organizations in the twenty-two IFP participating countries with the IFP Secretariat in New York City, which managed the program as a whole to maintain 
global consistency of policy and implementation. This model of delegating authority stems from the realization that a blueprint approach to selecting Fellows would not be replicable or effective across the diverse human geographies, cultures, educational systems, and socio-economic settings of IFP countries. From the outset the Secretariat worked with IPs to pilot-test, refine, and evaluate approaches for defining, reaching, and selecting the IFP target group. The resulting system is a fine-tuned interplay of local and global features, policy parameters, and implementation strategies. The selection was a local processes, with final authority vested in national selection bodies. Once local selection committees had made their decisions, lists of “Fellows-designate” were reviewed by the IFP Secretariat to ensure overall consistency without overriding the national committee process. The secretariate also monitored the overall performance of the program and collected relevant information from all the participants.  Thus, in 2007, the IFP Secretariat instituted an “alumni census,” which compiles alumni data provided directly by the International Partners and is therefore based on a head count rather than voluntary survey responses. Starting in 2007, a joint CHEPS-IFP alumni survey has been carried out annually. 
	</p>
	<p>
The secretariat was in operation in 2001 – 2013, headed by Executive Director Joan Dassin. Joan coordinated the initial design process for IFP, which began in December 1999, and assumed the position of Executive Director of IFP when the organization was created in April 2001. She was responsible for overall coordination of the IFP worldwide and the IFP evaluation project, worked closely with several outside consultants on program communications, and also oversaw all aspects of program implementation in Latin America. The secretariat staff also included 
Mary Zurbuchen (Director for Asia and Russia); Rob Oppegard (Director of Finance &amp; Administration), Barbara Wanasek (Grants Manager), Alan Divack (Senior Project Manager, Archives and Knowledge Management), Diana Whitten (Director of Communications), Rachel Clift (Communications Officer), Daniel Reisner (Multimedia and Archives Officer) and Adriana Thoen(Administrative Manager). The Secretariat archival records on paper comprise 160 l.f.; a large digital archive (over 3.5 TB) includes a multimedia library and digitized audiovisual materials, in addition to administrative and program files. 
	</p>
	<p>
	</p>
  </div><!--/#content-->
  <%= render partial: "ifp/partner/office_sidebar" %>
</div><!--/row-->
