<div id="digital_projects" class="d-flex w-100 justify-content-around">
	<% all_proj_counter = 0 %>
	<% proj_counter = 0 %>
	<% controller.digital_projects.each do |digital_project| %>
		<div class="col-sm-12 col-md-3">
			<%= render Dcv::ProjectCardComponent.new(project_data: digital_project, counter: proj_counter) -%>
		</div>
		<% if (proj_counter += 1) % 4 == 0 %><div class="clearfix"></div><br /><% end -%>
	<% end %>
	<% all_proj_counter += 1 %>
</div>

<div style="display:none;">
	<hr>
		<p class="small">Displaying <%= proj_counter %> of <%= all_proj_counter %> total Collections.</p>
</div>
