@import './base/functions';
@import './base/variables';

//colors
$body-bg: #fafafa;
$body-color: #111;
$body-border-color: #ccc;
$theme-colors: map-merge($theme-colors, ('body': $body-bg));
$theme-text-colors: map-merge($theme-text-colors, ('body': $body-color));
$theme-border-colors: map-merge($theme-border-colors, ('body': $body-border-color));

$primary: #475581;
$primary-color: $white;
$primary-border-color: #222;
$theme-colors: map-merge($theme-colors, ('primary': $primary));
$theme-text-colors: map-merge($theme-text-colors, ('primary': $primary-color));
$theme-border-colors: map-merge($theme-border-colors, ('primary': $primary-border-color));

$secondary: $body-bg;
$secondary-color: #333;
$secondary-border-color: #222;
$theme-colors: map-merge($theme-colors, ('secondary': $secondary));
$theme-text-colors: map-merge($theme-text-colors, ('secondary': $secondary-color));
$theme-border-colors: map-merge($theme-border-colors, ('secondary': $secondary-border-color));

$info: #1a1f2f; //rgb(68,89,116);
$info-color: #e6e6e6;
$theme-colors: map-merge($theme-colors, ('info': $info));
$theme-text-colors: map-merge($theme-text-colors, ('info': $info-color));
$theme-border-colors: map-merge($theme-border-colors, ('info': $info));

$link-color: darken($info, 25%);
$theme-colors: map-merge($theme-colors, ('user-input': $black));

@import './base/post';
