<footer class="container">
	<hr />
	<div class="row">
		<div class="col-md-6">
			<p><small>535 West 114th St. New York, NY 10027 &bull; Telephone (212) 854-7309</small></p>
		</div>
		<div class="col-md-6 text-right">
			<p><small><%= link_to 'Order a Reproduction', 'http://library.columbia.edu/services/preservation/publications_policy.html' %> | <%= link_to 'Copyright and Permissions', terms_of_use_url %> | <a href="#" onclick="return DCV.FeedbackModal.show();">Suggestions &amp; Feedback</a><%= site_edit_link(sep: ' | ') %></small></p>
		</div>
	</div>
</footer>
