<footer class="container">
	<hr />
	<div class="row">
		<div class="col-md-6">
			<p><small>C.V. Starr East Asian Library &bull; 300 Kent Hall &bull; starr@library.columbia.edu</small></p>
		</div>
		<div class="col-md-6 text-right">
			<p><small><%= link_to 'Copyright and Permissions', terms_of_use_url %> | <%= link_to 'Suggestions & Feedback', '#', data: {
				toggle: 'modal', target: '#dcvModal', 'modal-embed-func' => 'feedbackEmbedUrl', 'modal-large' => 'true'
			}, role: 'button' %><%= site_edit_link(sep: ' | ') %></small></p>
		</div>
	</div>
</footer>
