#topnavbar {
	border-top: map-get($theme-colors-alt, 'secondary') 5px solid;
	background-color: map-get($theme-colors-alt, 'primary');
	color: map-get($theme-text-colors-alt, 'primary');
	#navbar-container {
		border-left: map-get($theme-border-colors-alt, 'primary') 1px solid;
		border-right: map-get($theme-border-colors-alt, 'primary') 1px solid;
		border-bottom: map-get($theme-border-colors-alt, 'primary') 1px solid;
	}
	#crowndown-nosearch {
		.dropdown-toggle {
			color: map-get($theme-text-colors-alt, 'primary');
		}
	}
}
