      <div id="browse-lists" class="page_links btn-group btn-group-sm">
        <a class="btn btn-secondary <%= 'btn-success btn-disabled active' if (params[:action] == 'projects') -%>" href="/browse/projects">Projects</a>
        <a class="btn btn-secondary <%= 'btn-success btn-disabled active' if (params[:action] == 'formats') -%>" href="/browse/formats">Formats</a>
        <a class="btn btn-secondary <%= 'btn-success btn-disabled active' if (params[:action] == 'names') -%>" href="/browse/names">Names</a>
        <a class="btn btn-secondary <%= 'btn-success btn-disabled active' if (params[:action] == 'libraries') -%>" href="/browse/libraries">Library Locations</a>
      </div>
