<div class="row">
  <div id="nav" class="col-md-12">
    <div id="sortAndPerPage" style="border-bottom:0; margin-bottom:0;">
      <%= render 'nav' -%>
      <div id="search-index-tools" class="float-right">
        <div id="view-options" class="hidden-xs btn-group btn-group-sm float-right search-index-tool-group">
          <button id="grid-mode" type="button" class="btn btn-success result-type-button" data-toggle="tooltip" title="grid view"><i class="fa fa-th"></i></button>
          <button id="list-mode" type="button" class="btn btn-secondary result-type-button" data-toggle="tooltip" title="list view"><i class="fa fa-th-list"></i></button>
        </div>
      </div>
    </div>
  </div>
	<div id="sidebar" class="col-md-3">
		<div class="inner">
      <div id="facets" class="facets sidenav">
        <h4>Refine This List</h4>
        <div id="facet=panel-collapse">
          <div class="panel panel-default">
            <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-localContent">
              <h5 class="panel-title">CONTENT IN DCV</h5>
            </div>
            <div id="facet-localContent" class="panel-collapse facet-content collapse">
              <div class="panel-body">
                <ul class="facet-values list-unstyled">
                  <li id="dcv-yes">
                    <span class="facet-label">
                      <a href="" onclick="DCV.Browse.PseudoFacet.onClickLocal(); return false;">Yes</a>
                    </span>
                    <span class="facet-count"><%= ( controller.digital_projects.inject(0) {|m,p| p[:facet_value] ? m+=1 : m } ) -%></span>
                  </li>
                  <li id="dcv-no">
                    <span class="facet-label">
                      <a href="" onclick="DCV.Browse.PseudoFacet.onClickExternal(); return false;">No</a>
                    </span>
                    <span class="facet-count"><%= ( controller.digital_projects.inject(0) {|m,p| p[:facet_value] ? m : m+=1 } ) -%></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

	<div id="content" class="col-md-9">

		<div class="inner">
      <h2 class="sr-only top-content-title">Browse Projects</h2>
      <div id="appliedParams" class="clearfix inner constraints-container" style="line-height: normal;">
<strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.<div id="pseudo-facet" style="padding:0.5em 0 0 0;"></div></div>
        <div id="search-results">
          <div class="row">
            <%= render :partial=>'project',:collection=> controller.digital_projects, :as=> :project, :locals=> {:row_offset=> 0} %>
          </div>
        </div>
      </div>
  </div>

</div>
