<div id="search-results-date-graph" class="search-result-display hidden">
	<div id="date-range-graph-wrapper">

	<script>
		DCV.dateWidgetData = <%= @date_year_segment_data.to_json.html_safe %>;
	</script>

	<% if @date_year_segment_data.present? %>
		Click and drag inside of the date range graph to selects results from that range.
		<%= link_to 'Reset Date Range Filter', reset_range_filter_params, :class => 'btn btn-outline-secondary btn-sm float-right' if has_range_filter_params? %>
		<div id="date-range-widget" data-palette="<%= active_site_palette %>"></div>
	<% else %>
		There is no date data available for your search results.
	<% end %>
	</div>
</div>