<%
div_id ||= "home-sidebar-news"
%>
<div id="<%= div_id %>">
<p>A core objective of the Columbia University Libraries Rare Book &amp; Manuscript Library is to make our archival collections accessible for research and scholarship. However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns.</p>
<p>These materials can only be consulted in the Rare Book &amp; Manuscript Library reading rooms. Please see the <a href="https://library.columbia.edu/libraries/rbml.html">Rare Books &amp; Manuscript Library website</a> for more information on planning your visit.
</div>

