<div id="search-results">
  <div class="row">
    <% view_config = local_assigns[:view_config] || blacklight_config&.view_config(document_index_view_type) %>
    <% document_presenters = controller.featured_items.map { |doc| document_presenter(doc) } -%>
    <%= render view_config.document_component.with_collection(document_presenters, partials: view_config.partials, do_not_link_to_search: true, show_counter: false, search_view: 'grid-view') %>
  </div>
</div>

