<h1 id="site-title" class="navbar-brand col">
	<%= link_to @subsite.title.html_safe, "/#{@subsite.slug}" %>
<%- if @subsite.alternative_title.present? || @subsite.repository_id.present? -%>
<small id="site-banner-subtitle"><%= @subsite.alternative_title.present? ? @subsite.alternative_title : t("cul.archives.physical_location.#{@subsite.repository_id}") %></small>
<%- end -%>
</h1>
