<div id="content" class="col-md-12">
	<h2 class="text-center"><%= @page.title %></h2>
	<hr>
	<%- @page.site_text_blocks.sort { |a,b| a.sort_label <=> b.sort_label }.each do |text_block| -%>
		<div class="inner">
			<%- if text_block.label.present? -%>
				<h3 class="text-center"><%= text_block.label %></h3>
			<%- end -%>
			<%= controller.render_markdown(text_block.markdown) %>
		</div>
	<%- end -%>
</div>
