$fa-font-path: "~font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';
@import './bootstrap_layout';
@import './blacklight';
@import './brand_topnav';
@import './base_layout/utilities';
@import './base_layout/carousel';
 //fonts
$font_glyphs: FontAwesome;

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  //margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '…';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

//@extend-elements
//original selectors
//#sidebar .panel-body .nav a, #sidebar .panel-body .nav .btn-link
%card_link_primary {
	padding: .25em 0;
	font-size: 95%;
	color: map-get($theme-text-colors, 'primary');
	position: relative;
	display: block;
	text-decoration: none;
}

//original selectors
//#child_items article dl, #secondary ul, #secondary dl
%list_secondary {
	padding: 4px;
	border: 1px solid map-get($theme-border-colors, 'secondary');
	border-radius: 3px;
}

//original selectors
//#child_items article .caption .index_title, #documents .span3 article .index_title
%dotted_full {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%active_pagination_ui {
	@extend .bg-info;
  color: map-get($theme-text-colors, "info");
	border-color: $info;
}

@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    background-color: $value;
    color: map-get($theme-text-colors, $color);
  }
  .invert-#{$color} {
    background-color: map-get($theme-text-colors, $color);
    color: $value;
  }
}

@include bg-variant(".bg-body", $body-bg, true);

@if $enable-gradients {
   @include bg-gradient-variant(".bg-gradient-body", $body-bg, true);
}

.hidden {
	display: none;
}

body {
	background-color: $body-bg;
	color: $body-color;
	&.citation {
		@extend .swatch-info;
	}
}

a {
	color: $link-color;
	font-family: $font_c;
	&:hover {
		color: color-shade($link-color);
	}
	&.thumbnail {
		border-color: map-get($theme-border-colors, 'body');
		background-color: transparent;
		&:hover {
			border-color: $info;
		}
	}
}

.dropdown-menu {
  background-color: $primary;
  &>li {
    padding:0;
  }
  &>li>a{
      padding: 0.1em 0.5em;
      display: block;
      clear: both;
      /* TODO for DLC-938 */
      color: map-get($theme-text-colors, 'primary');
      &:hover {
        background-color:map-get($theme-text-colors, 'secondary');
        color: map-get($theme-text-colors, 'primary');
      }
  }
}


#outer-wrapper {
	padding-top: 0;
	padding-bottom: 2em;
	margin-bottom: 2em;
	background-color: $body-bg;
	border: 1px solid map-get($theme-border-colors, 'body');
	border-top: 0;
	@media(min-width: 768px) {
		overflow-x: hidden;
	}
}

// Navbar themes
//
// Additonal style for switching between navbars with theme-specific background.

// Dark links against a light background
.navbar-primary {
  background-color: $primary;
  .navbar-brand {
    color: $navbar-primary-brand-color;

    @include hover-focus() {
      color: $navbar-primary-brand-hover-color;
    }
  }

  .navbar-nav, .nav {
    .nav-link, .nav-link a {
      color: $navbar-primary-color;
    }
    .nav-link a, .nav-link .btn {
      @include hover-focus() {
        color: $navbar-primary-hover-color;
      }

      &.disabled {
        color: $navbar-primary-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-primary-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-primary-color;
    border-color: $navbar-primary-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-primary-toggler-icon-bg);
  }

  .navbar-text {
    color: $navbar-primary-color;
    a {
      color: $navbar-primary-active-color;

      @include hover-focus() {
        color: $navbar-primary-active-color;
      }
    }
  }
}

// button theme adjustments
.btn-outline-secondary {
	background-color: map-get($theme-text-colors, 'secondary');
  &,&:hover {
    border-color: map-get($theme-border-colors, 'secondary')
  }
}

#site-banner {
  background-color: color-shade($body-bg);
	border-bottom: map-get($theme-border-colors, 'secondary') 1px solid;
	&.slim {
		margin-bottom: .5em;
		img {
			max-width: 100%;
			margin-top: 1.4em;
		}
		#site-title {
			display: block;
			padding-top: 8px;
			padding-bottom: 0;
			font-size: 1.80em;
			text-decoration: none;
			text-align: center;
			@media(min-width: 768px) {
				text-align: left;
			}
			vertical-align: bottom;
		}
	}
	nav {
		border: 0;
	}
	.note {
		text-align: center;
		max-width: 100%;
	}
	#site-title {
		a:hover {
			text-decoration: none;
		}
	}
	#site-banner-inner {
		#site-title {
			max-width: 100%;
		}
	}
}

.nav-tabs {
	border-bottom:0;
}

#search-navbar {
	margin-top: -6px;
	margin-bottom: 0;
	background-color: transparent;
	border: none;
}
#search-navbar, #site-banner {
	.input-group-prepend {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		background-color: $primary;
		color:map-get($theme-text-colors, 'primary');
		border-color: map-get($theme-border-colors, 'primary');
		select {
			background-color: inherit;
		}
		.btn {
			border-top-left-radius:0.25rem;
			border-bottom-left-radius:0.25rem;
		}
	}
	.input-group-append {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		.btn {
			border-top-right-radius:0.25rem;
			border-bottom-right-radius:0.25rem;
		}
	}

	#q-filter, .search_q {
		display: table-cell;
		border: 1px solid map-get($theme-colors, 'user-input');
		border-width: 1px 0 1px 1px;
		.search_field {
			padding: .5em;
			-webkit-appearance:none;
				&:hover {
					color:map-get($theme-colors, 'user-input');
					cursor: pointer;
			}
		}
	}
	#q {
		&:focus {
			border-color: $primary;
		}
	}

	.search-btn {
		border-color: map-get($theme-colors, 'user-input');
		&:focus {
			outline: 0;
		}
	}
	.reset-btn {
		border-color: map-get($theme-colors, 'user-input');
		&:hover {
			background-color:  map_get($theme-colors, 'danger');
		}
	}
	#search {
		border-color: map-get($theme-border-colors, 'primary');
	}
}

#secondary-nav {
	padding: 0 12px;
	border-bottom: 1px solid;
	@extend .swatch-secondary;
  .dropdown-menu {
    background-color: $secondary;
  }
	.nav {
		width: 100%;
		@media(min-width: 768px) {
			width: auto;
		}
		> li {
			display: block;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			border-bottom: 0;
			@media(min-width: 768px) {
				text-align: left;
				width: auto;
				text-align: left;
			}
			> .nav-link {
				font-size:.825em;
				font-family: $font_b;
				text-transform:uppercase;
				> .glyphicon {
					line-height: inherit;
				}
			}
		}
	}

	li {
		@media(min-width: 768px) {
			border-left: 1px solid;
		}
		&:first-child, .dropdown-menu li {
			border-left: 0;
		}
		.dropdown-menu {
			width: 100%;
			text-align: center;
			@media(min-width: 768px) {
				width: auto;
				text-align: left;
			}
			border: 1px solid;
			border-top-color: transparent;
			border-radius: 0;
			box-shadow: 0 6px 12px;
			background-clip: padding-box;
			font-size: .95em;
			li {
				margin: 0.1rem 0;
			}
		}
		a, .nav-link {
			&:hover {
				background-color: transparent;
				color: map-get($theme-text-colors, 'secondary');
			}
			&.active {
				background-color: transparent;
			}
		}
    .nav-link {
      border-radius:0;
    }
		li {
			a:hover, a:active {
				@extend .swatch-info;
        /* TODO for DLC-938 */
        color: map-get($theme-text-colors, 'primary');
			}
		}
		&.open a.dropdown-toggle {
			background-color: transparent;
			color: $info;
		}
	}
	a {
		color: map-get($theme-text-colors, 'secondary');
    background-color: transparent;
	}
	.btn-secondary {
		padding-left: 1rem;
		padding-right: 1rem;
		border: 0;
		@extend .swatch-secondary;
		font-family: $font_c;
		text-transform: uppercase;
		&:hover {
			@extend .swatch-info;
		}
	}
}
.lead {
	font-size: 1.1em;
	a.continued {
		white-space:nowrap;
		font-size: .8em;
	}
}
#content {
	.document {
		margin-bottom: .25em;
		#child_gallery {
			padding-top: 1em;
			margin-top: 1em;
			background-color: transparent;
			border: 1px solid map-get($theme-border-colors, 'body');
			border-width: 1px 0;
			.child-container {
				margin-bottom: 1em;
			}
			a.blacklight-photographs {
				border: 1px solid map-get($theme-border-colors, 'body');
				width:99%;
			}
			.card-img-top {
				height: 130px;
				margin-left: auto;
				margin-right: auto;
				display:block;
				width: auto;
				background-color: transparent;
			}
			.child-scroll .thumbnail {
				height: 130px;
				width: 99%;
				img {
					max-width: 99%;
				}
			}
			.index_alert {
				@extend .swatch-info;
				font-weight: bolder;
				font-style: italic;
			}
			a.document.selected {
				box-shadow: 0 0 3px $info;
			}
		}
		.fulltext-snippet {
			font-size: .9em;
			.highlight {
				@extend .swatch-info;
				padding: 2px 3px 1px;
				border-radius: 3px;
			}
		}
		.card {
			background-color: $body-bg;
			font-size: 1rem;
			.index-show-grid-fields {
				font-size: .75em;
			}
			card-title {
				font-size: .85em;
			}
			.index_title {
				margin-top: .5em;
			}
			.img-square {
				background-color: map-get($theme-border-colors, 'primary');
			}
		}
		&.list-view {
			height: auto;
			min-height: 136px;
			padding-top: 1em;
			border-top: 1px solid map-get($theme-border-colors, 'body');
			&.compact {
			  min-height: auto;
				&:first-child {
					padding-top: 1em;
					border-top: 0;
				}
			}
			&:first-child {
				padding-top: 0;
				border-top: 0;
			}
			.card {
				width: 100%;
				word-wrap: break-word;
				.index-show-grid-fields {
					font-size: 1em;
					h3 {
						font-size: 1em;
					}
				}
				.index_title {
					margin-top: 0;
				}
				.img-square {
					width: 320px;
					height: auto;
				}
			}
			img.card-img-top {
				max-height: 98%;
			}
		}
	}
	.col-sm-2 .thumbnail {
		height: 100px;
		text-align: center;
	}
  #appliedParams {
    border-width: 0 0 1px 0;
    box-shadow: none;
    .applied-filter {
      margin: .1em 0;
      .constraint-value {
        pointer-events: none;
      }
    }
  }
}
@media(min-width: 768px) {
	#site-banner {
		#site-banner-inner {
			margin-bottom: .1em;
			overflow: hidden;
		}
		#site-banner-left {
			height: 80px;
		}
		&.slim #site-banner-inner #site-title {
			display: inline-block;
			padding-top: 16px;
			padding-bottom: 0;
			font-size: .96em;
		}
	}
}
@media(min-width: 992px) {
	#site-banner {
		#site-banner-inner {
			margin-bottom: .3em;
			overflow: hidden;
		}
		#site-banner-left {
			height: 105px;
		}
		&.slim #site-banner-inner {
			img {
				margin-top: 1.2em;
			}
			#site-title {
				display: inline-block;
				padding-top: 12px;
				padding-bottom: 0;
				font-size: 1.27em;
			}
		}
	}
}
@media(min-width: 1200px) {
	#outer-wrapper {
		padding: 0 10px 2em;
		width: 1190px;
		max-width:1190px;
	}
	#site-banner {
		#site-banner-inner {
			margin-bottom: .3em;
			overflow: hidden;
		}
		#site-banner-left {
			height: 128px;
		}
		&.slim #site-banner-inner {
			img {
				margin-top: 1em;
				height: 21px;
				width: auto;
			}
			#site-title {
				display: inline-block;
				padding-top: 8px;
				padding-bottom: 0;
				font-size: 1.58em;
			}
		}
	}
}
.blacklight-home-restricted #search-navbar {
    display:none;
}
h2[itemprop="name"] {
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumbnails {
	margin-left: 20px;
	list-style: none;
}
.thumbnail {
	display: block;
	padding: .25em;
	margin: 0;
	overflow: hidden;
	line-height: 1;
	background-color: $body-bg;
	border-color: map-get($theme-border-colors, 'body');
	border-radius: 0;
	img {
		width: auto;
		max-height: 100%;
	}
	&.placeholder {
		background-color: map-get($theme-text-colors, 'primary');
	}
	> img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		border: 0;
	}
}
#home-sidebar-news {
	font-size: 90%;
	.home-sidebar-heading {
		color: $gray-500;
	}
	hr {
		margin: 1em auto;
		border-color: color-shade(map-get($theme-border-colors, 'primary'));
		border-style: dotted;
	}
	img {
		width: 80px;
		height: 80px;
		margin-left: .5em;
	}
	.collection-title {
		color:map-get($theme-text-colors, 'primary');
		font-size:1.15em;
		font-style:italic;
	}
}
#home-sidebar-about {
	margin-top: 1em;
	font-size: 88%;
	text-align: center;
	text-transform: uppercase;
	a {
		color: $gray-500;
		text-decoration: none;
		&:hover {
			color: $info;
		}
	}
}
#view-options {
	margin-bottom: 1em;
	text-align: right;
}
#sidebar {
	clear: both;
	.card {
		border-color: map-get($theme-border-colors, 'secondary');
		border-style: solid;
	}
	.card-body .nav {
		a, .btn-link {
			@extend %card_link_primary;
			&:hover {
				color: $info;
			}
		}
	}
	.card-title:hover {
		text-decoration: none;
	}
}
#sidebar-right {
	.card {
		border-color: map-get($theme-border-colors, 'secondary');
		border-style: solid;
	}
	.card-body .nav {
		a, .btn-link {
			@extend %card_link_primary;
			&:hover {
				color: $info;
			}
		}
	}
	.card-title:hover {
		text-decoration: none;
	}
}

#facets {
	padding-bottom: 0;
	h4 {
		padding-left: .9em;
		font-weight: 100;
	}
	.card {
		margin-bottom: .5em;
	}
	.card-title {
		font-size: .86em;
		text-transform: uppercase;
		a {
			color: $body-color;
		}
	}
	.top-panel-heading {
		padding-left: 0;
		padding-top: 0;
		padding-right: 0;
		border: 0;
	}
	.facet-values {
		font-size: 90%;
		margin-bottom: 0;
		table-layout: auto; // 'fixed' from BL skews layout
		li {
			&:before {
				padding-right: 3px;
				margin-left: -5px;
				font-size: .7em;
				font-family: $font_glyphs;
				color: map-get($theme-border-colors, 'body');
				content: "\f105";
			}
			&:last-child .facet-label {
				padding-bottom: 0;
			}
			&.selected {
				.remove {
					color: $link-color;
					&:hover {
						color: $danger;
					}
				}
			}
			.selected {
				color: $body-color !important;
			}
		}
		.facet-label {
			padding-right: .4em;
			padding-bottom: .9em;
			padding-left: 0;
			line-height: 1.25em;
			text-indent: 0;
		}
	}
	#facet-panel-collapse {
		clear: both;
		margin-bottom: 10px;
	}
	.facet_limit {
		background-color: inherit;
	}
	.facet_limit-active > .card-header {
		background-color: rgba($primary, 0.25);
	}
}
@media(max-width: 768px) {
	#facets .top-panel-heading {
		min-height: 2.3em;
	}
}
.section-heading {
	padding: 15px 0;
	border: solid map-get($theme-border-colors, 'body');
	border-width: 1px 0;
}
#child_items {
	article {
		overflow: hidden;
		dl {
			background: $info;
			margin-top: 0.25em;
			margin-bottom: 0.25em;
			@extend %list_secondary;
			dt {
				font-size: 121%;
				line-height: 1.2;
				.dtcount {
					display: inline-block;
					float: left;
					margin-left: -28px;
					font-size: 90%;
					font-weight: normal;
					line-height: 1.5;
					color: rgba($body-bg, 0.3);
				}
			}
			dd {
				margin-right: 3px;
				margin-left: 3px;
				.toggler {
					display: block;
					margin: 0.2em 0 0.1em 0;
				}
			}
			.hl_snippet {
				display: block;
				margin-bottom: 1px;
				overflow: hidden;
				font-size: 11px;
			}
			.result_url {
				font-size: 110%;
				color: $link-color;
				word-break: break-word;
			}
			.result_aka {
				margin-top: 1px;
				font-size: 12px;
				font-style: italic;
			}
		}
		.caption {
			p {
				line-height: 1.3em;
			}
			.index_title {
				@extend %dotted_full;
			}
		}
		code {
			padding: 0;
			font-size: .9em;
			color: map-get($theme-border-colors, 'secondary');
			background-color: $gray-500;
		}
		.documentHeader h5 {
			overflow: hidden;
		}
		&:nth-child(odd) dl {
			background-color: $info;
		}
	}
	.dl-vertical dd {
		margin-left: 1em;
		ul {
			padding-left:0;
			li.coordinates {
				padding:.25em;
			}
		}
	}
}
#secondary {
	ul, dl {
		@extend %list_secondary;
	}
}
#doc-item-title {
	margin: 0;
	font-size: 18px;
	word-wrap: break-word;
}
#favorite-child {
	max-height: 600px;
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	img {
		width: auto;
		height: auto;
		margin-left: -15px;
		padding-left: 15px;
		margin-right: -15px;
		padding-right: 15px;
		max-width: 100%;
		max-height: 400px;
		cursor: pointer;
		cursor: zoom-in;
	}

}

#colorbox {
	#cboxClose {
	  @extend .swatch-info;
		top: 0;
		border-bottom-left-radius: 4px;
		&:hover {
		  @extend .invert-info;
		}
	}
	#cboxCurrent {
		top: 0;
		left: 0;
	  @extend .swatch-info;
		height: 1.8em;
		line-height: 22px;
		padding: 2px 6px;
		border-bottom-right-radius: 4px;
	}
	#dlwrapper {
		position: absolute;
		right: 0;
		bottom: -6px;
		.dropdown-toggle {
			padding: 0;
			color: $primary;
			&:hover {
				color: map-get($theme-border-colors, 'body');
			}
		}
		.dropdown-menu {
			margin-bottom: 4px;
			border: none;
			border-top-left-radius: 6px;
			box-shadow: none;
			a {
				color: $primary;
				&:hover {
					color: $secondary;
				}
			}
		}
	}
	&.cul-no-colorbox-title-bar #cboxLoadedContent {
		height: 100% !important;
	}
	#cboxWrapper {
	  &:hover, &:active {
	    cursor: move;
	  }
	}
}

.page_links {
	padding: 3px 12px 3px 0 !important;
}

#item-description {
	dt {
		border-bottom: 1px solid map-get($theme-border-colors, 'secondary');
		font-size: .86em;
		text-transform: uppercase;
	}
	dd {
		margin: 5px 0;
		word-wrap: break-word;
	}
}

#show-generic-resource {
	.inner {
		border-color: map-get($theme-border-colors, 'secondary');
	}
	.dl-horizontal {
		word-break: break-word;
	}
	#sidebar-thumb {
		margin: .5em 0;
		padding: 0 1em;
		img {
			margin: 0 auto;
		}
		#file-download-and-info {
			margin-top: 1em;
			.border-bottom {
				padding-bottom: .5em;
				margin-bottom: .5em;
				margin-top: 1em;
				border-bottom: 1px solid map-get($theme-border-colors, 'primary');
			}
		}
	}
	#generic-resource-title {
		margin-bottom: 1em;
	}
	#generic-resource-content {
		margin-bottom: 1em;
		#favorite-child {
			padding: 1em 0;
		}
	}
}

.btn {
  &.active {
  	background-color:lighten($info, 10%);
  	border-color:darken($info,30%);
  }
  &.disabled {
    color: map-get($theme-border-colors, 'primary');
    background-color: $color_disabled_background;
    //border-color: map-get($theme-border-colors, 'primary');
  }
}

.media-wrapper.thumbnail {
	border-color: map-get($theme-border-colors, 'primary');
	background-color: transparent;
	.caption {
		color: inherit;
	}
}

.show h2[itemprop="name"] {
	margin-bottom: 1em;
	font-size: 20px;
}

#main-container {
	.inner {
		position: relative;
		padding: 1.2em;
		.tab-content {
			margin-top: 2em;
		}
	}
}

/*****************
 * MODAL WIDGETS *
 *****************/

#ajax-modal .modal-content {
	@extend .swatch-primary;
	border-color: map-get($theme-border-colors, 'primary');
	.modal-header {
		border-color: map-get($theme-border-colors, 'primary');
	}
	.modal-footer {
		border-color: map-get($theme-border-colors, 'primary');
	}
	button {
		color: map-get($theme-text-colors, 'primary');
		background-color: $primary;
		opacity: 1;
	}
	.sort_options {
		.btn {
			background-color:inherit;
			color:map-get($theme-text-colors, 'primary');
			&.active {
				background-color:map-get($theme-border-colors, 'primary');
				border-color:map-get($theme-border-colors, 'primary');
				color:$primary;
			}
		}
	}
}

/*********************
 * SEARCH INDEX PAGE *
 *********************/

.index-show-list-fields ul {
	padding-left: 0;
	list-style: none;
}
#documents .span3 article .index_title {
	@extend %dotted_full;
}

#search-index-tools .search-index-tool-group {
	margin-left: 5px;
}

#search-results {
	.card {
		border: 0;
		.card-img-top {
			border: 1px solid map-get($theme-border-colors, 'body');
		}
		.card-title {
			font-size:.85em;
		}
		.card-body {
			padding:0.25em;
		}
	}
	.site-result a.thumbnail:hover {
		text-decoration: none !important;
	}
	.site-result a.thumbnail {
		position: relative;
	}
	.site-result a.thumbnail::after {
		@extend .swatch-info;
		content: 'Collection';
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:21px;
		border:1px solid $primary;
		border-width:1px 0 0;
		text-align: center;
		text-transform: uppercase;
		margin-top:-21px;
		line-height:20px;
		font-weight:normal;
		font-size:13px;
	}
}

#date-range-canvas {
	@extend .swatch-primary;
  width:100%;
  border:1px solid map-get($theme-border-colors, 'primary');
  cursor: crosshair;
}

#date-range-graph-wrapper {
  margin-bottom:10px;
}

#date-range-widget {
  margin-top:10px;
}

#sidebar-date-range-slider {
  margin:10px 8px 0px;
}

.pagination > {
	li > {
		.page-link {
			color: $info;
			background-color: transparent;
		}
		span {
			color: $info;
			background-color: transparent;
		}
	}
	.active > {
		.page-link {
			@extend %active_pagination_ui;
			&:hover {
				@extend %active_pagination_ui;
			}
			&:focus {
				@extend %active_pagination_ui;
			}
		}
		span {
			@extend %active_pagination_ui;
			&:hover {
				@extend %active_pagination_ui;
			}
			&:focus {
				@extend %active_pagination_ui;
			}
		}
	}
	.disabled > {
		span {
			background-color: transparent;
			&:hover {
				background-color: $color_disabled_background;
			}
			&:focus {
				background-color: $color_disabled_background;
			}
		}
		.page-link {
			background-color: transparent;
			&:hover {
				background-color: $color_disabled_background;
			}
			&:focus {
				background-color: $color_disabled_background;
			}
		}
	}
}

/******************
 * ITEM SHOW PAGE *
 ******************/

#previousNextDocument {
	padding-bottom: 1em;
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
	a.previous, a.next {
		@extend .btn;
		@extend .btn-secondary;
	}
}

#child-viewer {

	.btn {
		border-radius:0 !important;
	}
	#child-viewer-title {
		margin-top:0;
		margin-bottom:0;
		font-size:1.5em;
	}

	#image-unavailable-img {
		margin:1.5em auto;
		border:1px solid #6c6c6c;
		max-width:200px;
	}

	#child-viewer-carousel {
		margin: 0 55px .5em;

		.carousel-control-prev, .carousel-control-next {
			width:55px;
			margin:0 -65px;
			color: $body-color;
			background-image:none;
			.fa-chevron-left,
			.fa-chevron-right {
				top: 48.3%;
			}
		}

		.media-container {
			border: 1px solid #6C6C6C;
			text-align: left;
			margin-top: 60px;
		}
		.view-synchronized-media {
			margin-top: 1em;
			margin-right:0.5rem;
		}

		.carousel-item {

			.child-content {
				text-align: center;
				img {
					max-height: 397px;
					max-width: 100%;
					border: 1px solid #888;

					&.zoomable {
						cursor: -moz-zoom-in;
						cursor: -webkit-zoom-in;
						cursor: zoom-in;
					}
				}
			}
		}
	}
}

#child_items {
	.inner {
		.dl-horizontal {
			dt {
				text-overflow: clip;
			}
		}
	}
}

/* be like glyphicons with the iiif icon */
.localicon-iiif {
	height: 1em;
	width: auto;
	margin-top:-3px;
}

/* grabby styles for dragndrop icons */

/* Apply a grabby hand to grabbable things */
.grabbable:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

 /* Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* archive.org iframe */
.archive_embed {
	visibility: visible;
	width: 100%;
	height: 480px; /* IA recommended value and height of embedded images */
	margin-top: 10px;
}

DD .collapse.show {
  display:inline;
}

.list-view.document .collapse.show {
  display:inline;
}

/* show/hide content in a collapse toggle */
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
