$url_brand_eot: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot);
$url_brand_eot_ie: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot?#iefix);
$url_brand_woff: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.woff);
$url_brand_ttf: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.ttf);
$url_brand_svg: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.svg#TrajanProRegular);

@font-face {
	font-family: TrajanProRegular;
	src: $url_brand_eot;
	src: $url_brand_eot_ie format("embedded-opentype"), $url_brand_woff format("woff"), $url_brand_ttf format("truetype"), $url_brand_svg format("svg");
	font-weight: normal;
	font-style: normal;
}

%extend_brand_font {
	font-family: TrajanProRegular, trajan, serif;
}

@font-face {
	font-family: 'crown';
	src:  url('fonts/crown.eot?ubi5ca');
	src:  url('fonts/crown.eot?ubi5ca#iefix') format('embedded-opentype'),
		url('fonts/crown.ttf?ubi5ca') format('truetype'),
		url('fonts/crown.woff?ubi5ca') format('woff'),
		url('fonts/crown.svg?ubi5ca#crown') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.icon-columbia-crown {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'crown' !important;
	speak: never;
	color:inherit;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		content: "\265a";
	}
}
