<% restricted_doc = structured_children.detect { |doc| !can_access_asset?(doc) } -%>
<% if restricted_doc && restricted_doc.fetch('access_control_levels_ssim',[]).include?('On-site Access') %>
  <p><%= show_repository_location_with_contact(document: document, field: ActiveFedora::SolrService.solr_name('lib_repo_full', :symbol, type: :string)) %></p>
<% elsif restricted_doc && restricted_doc.fetch('access_control_levels_ssim',[]).include?('Embargoed') %>
  <p>Due to copyright, contractual or privacy restrictions, this item is not available until <%= restricted_doc['access_control_embargo_dtsi'] %>.</p>
<% elsif restricted_doc && restricted_doc.fetch('access_control_levels_ssim',[]).include?('Closed') %>
  <p>Due to copyright, contractual or privacy restrictions, this item is not available online.</p>
<% end %>
