.alignright {
  text-align:right;
}

.aligncenter {
  text-align:center;
}

.ellipsis {
  display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}

body.empty {
  padding:10px;
}

#q-filter {
  display: none;
}
