//= require 'dcv/dcv.namespace'
//= require 'dcv/dcv.general'
//= require 'dcv/dcv.date-range'
//= require 'dcv/dcv.squares'
//= require 'dcv/dcv.browse'
//= require 'dcv/dcv.show'
//= require 'dcv/dcv.show.zooming_and_downloads'




$(document).ready(function(){

	$('.mediaelement-player video').mediaelementplayer({
		success: function (mediaElement, domObject) {
			//Optional triggers when the video has loaded
		},
	});

//	var idCounter = 0; //Used for generating unique ids for JWPlayer instances
//	$('.mediaelement-player').each(function(){
//		$(this).attr('id', 'jwplayer_instance_' + idCounter);
//		jwplayer($(this).attr('id')).setup({
//      file: $(this).find('video source[type="video/rtmp"]').attr('src'),
//      image: "/uploads/myPoster.jpg",
//      width: "100%",
//      aspectratio: "16:9"
//    });
//		idCounter++;
//	});

});


function mosaicDemo(container, proj) {
  var width = Math.max($(container).parent().width(),$(container).width());
  var height = Math.max($(container).parent().height(),$(container).height());
  var winHeight = $(window).height();
  height = Math.floor(winHeight * .55);

  var total = Math.floor((12*height)/width) * 12;
  var assets = "<%= asset_url("digital_projects_page/chinese_paper_gods.jpeg").split('/')[0...-1].join('/') %>/";

  var thumbs = "/thumbs/";

  for (var i=0; i< total; i++) {
    $(container).append('<div class="col-xs-1 brick"> \
  <img class="img-responsive" src="' + assets + 'chinese_paper_gods.jpeg" />\
</div>');
  }
  if (total == 0) return;

  var all_img_names = {
    'cpg' : Dcv.Squares.CPG,
    'ricop' : Dcv.Squares.RICOP
  }

  img_names = all_img_names[proj].random(Math.ceil(total));

  var imgs = $(".brick img");
  var cix = -1;

  imgs.each(
    function(){
      cix++;

      var img_name = img_names[cix%img_names.length];
      var id_name = img_name['id'];

      if (cix < total) {
          if (typeof(img_name) == 'undefined') {window.console.log(ix + ': no image name: ' + img_names[ix] + ", length: " + img_names.length);
        }
        $(this).attr('src',img_name['small']);
        $(this).attr('data-default',img_name['small']);
        $(this).attr('data-detail',img_name['medium']);
        $(this).attr('data-scaled',thumbs + id_name);
        //$(this).hide();
        //$(this).attr('data-object-id', img_name.substring(0,img_name.lastIndexOf('.')).replace('_',':'));
        $(this).hover(
            function(){
            $(this).attr('src', $(this).attr('data-detail'));
          },
          function(){
            $(this).attr('src', $(this).attr('data-default'));
          }
        );
        $(this).on('click', window.mosaicClick);
      }

    }
  );
  $(window).load(function(){$(container + " .img-responsive").fadeIn();});
}

function mosaicClick() {
	//$('#burrito').attr('src',$(this).attr('data-scaled'));
	$('#burrito').css('background-image','url('+$(this).attr('data-scaled')+')');
}
