.alignright {
  text-align:right;
}

.aligncenter {
  text-align:center;
}

.ellipsis {
  display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}

body.empty {
  padding:10px;
}

#q-filter {
  display: none;
}

/** collapse UI heleprs */
.btn[aria-expanded="true"] > .toggle-pressed { display: none }
.btn[aria-expanded="true"] > .toggle-unpressed { display: inline-block;  }

.btn[aria-expanded="false"] > .toggle-pressed { display: inline-block }
.btn[aria-expanded="false"] > .toggle-unpressed { display: none;  }
