<div class="inner noprint-sm" style="margin-bottom:1em;">
	<%= render partial: 'map_search/coordinate_show_script' %>

	<% map_search_settings = map_search_settings_for_subsite %>
	<% latlong = document['geo'].present? ? document['geo'][0].split(',') : [map_search_settings['default_lat'] || 0, map_search_settings['default_long'] || 0] %>
	<%= render partial: 'map_search/embedded_results', locals: {
	  map_data_json: extract_map_data_from_document_list([document]).to_json.html_safe,
	  map_default_center_lat: latlong[0],
	  map_default_center_long: latlong[1],
	  map_max_zoom_level: map_search_settings['max_zoom'] || 13,
	  map_default_zoom_level: map_search_settings['default_zoom'] || 11,
	  map_show_items: false
	} %>

	<div class="clearfix"></div>
</div>
