<h1 id="site-title" class="mt-0"><%= link_to @subsite.title.html_safe,
"/#{@subsite.slug}" %></h1>
<%- if @subsite.alternative_title.present? || @subsite.repository_id.present? -%>
<h2 id="site-banner-subtitle" class="h3"><%= @subsite.alternative_title.present? ? @subsite.alternative_title : t("cul.archives.physical_location.#{@subsite.repository_id}") %></h2>
<%- end -%>
