@charset "UTF-8";

body.lindquist {
	color: #505050;
  background-color: #FFF8E8;
  background-image: url(asset_path("lindquist/bg.jpg"));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
