$dcv-transblack: rgba(0,0,0,.5);
$dcvgray: #888888;
$border-radius-base: 0;
$text-color: #DDDDDD;
$link-color:#429cec;
$state-success-bg:#555555;
$state-success-text:#bbbbbb;
$btn-default-bg: $dcv-transblack;
$btn-default-color:$text-color;
$btn-default-border: $dcvgray;
$panel-bg: $dcv-transblack;
$panel-heading: $dcv-transblack;
$panel-default-heading-bg: $dcv-transblack;
$panel-default-border: $dcvgray;
$panel-default-text:$text-color;
$nav-link-hover-bg: $dcv-transblack;
$nav-link-hover-color: $link-color;
$pagination-bg: $dcv-transblack;
$pagination-disabled-bg:#222222;
$pagination-disabled-border:$dcvgray;
$pagination-hover-bg: black;
$pagination-border: $dcvgray;
$pagination-hover-border: $dcvgray;
