$dcv-transblack: rgba(0,0,0,.5);
$dcvgray: #888888;
$border-radius-base: 0;
$text-color: #DDDDDD;
$link-color:#429cec;
$state-success-bg:#555555;
$state-success-text:#bbbbbb;
$navbar-height:30px;
$navbar-inverse-bg:rgba(44,44,44,.15);
$navbar-inverse-border: black;
$navbar-inverse-link-color:darken(white,20%);
$navbar-inverse-link-hover-bg:black;
$navbar-inverse-link-active-bg:black;
$navbar-inverse-brand-hover-bg:black;
$btn-default-bg: $dcv-transblack;
$btn-default-color:$text-color;
$btn-default-border: $dcvgray;
$panel-bg: $dcv-transblack;
$panel-heading: $dcv-transblack;
$panel-default-heading-bg: $dcv-transblack;
$panel-default-border: $dcvgray;
$panel-default-text:$text-color;
$nav-link-hover-bg: $dcv-transblack;
$nav-link-hover-color: $link-color;
$nav-tabs-border-color: lighten($dcvgray,20%);
$nav-tabs-active-link-hover-border-color: lighten($dcvgray,20%);
$nav-tabs-active-link-hover-bg: black;
$nav-tabs-active-link-hover-color: lighten($dcvgray,20%);
$nav-tabs-link-hover-border-color: $dcvgray;
$pagination-bg: $dcv-transblack;
$pagination-disabled-bg:#222222;
$pagination-disabled-border:$dcvgray;
$pagination-hover-bg: #eeeeee;
$pagination-border: $dcvgray;
$pagination-hover-border: $dcvgray;
