//colors
$color_21: #ddd;
$splash: #591300;
$splash-color: #fff;
$splash-hover: #6a2400;
.durst {
	.btn-primary, #site-banner .search-btn {
		background: $splash !important;
		color: $splash-color;
		&:hover {
			background: $splash-hover !important;
		}
	}
	#main-container {
		a {
			&:not(.btn, .page-link, [role='button']) {
				color: $splash;	
				&:hover {
					color: $splash-hover;
				}			
			}
		}
		.inner {
			&.home {
				#facets {
					margin-left:0;
					margin-right:0;
					border:0;
				}
			}
		}
	}
	#content {
		.appliedFilter .filterName:after {
			color: $color_21;
		}
		#motm-list {
			> li {
				margin-bottom:1em;
			}
		}
	}
	#map-attrib-icon {
		margin-left: .25em;
		cursor: pointer;
	}
}

#durst-map-image {
	width: 100%;
	height: auto;
}
#durst-help-img {
	margin-left: .5em;
}
#dhig .thumbnail {
	margin-bottom: 1em;
}
