//colors
$color_1: #fff;
$color_4: #900;
$color_14: rgba(0, 0, 0, 0.2);
$color_15: rgba(0, 0, 0, 0.25);
$color_21: #ddd;

#main-container {
	.inner {
		&.home {
			#imgholder-div .thumbnail {
				background-color: transparent;
				h3 {
					color: $color_1;
					background: $color_14;
				}
				&:hover {
					border-color: $color_4;
					h3 {
						background: $color_15;
					}
				}
			}
			#facets {
				margin-left:0;
				margin-right:0;
				border:0;
			}
		}
	}
}
#content {
	#durst-map-image {
		width: 100%;
		height: auto;
	}
	.appliedFilter .filterName:after {
		color: $color_21;
	}
	#motm-list {
		> li {
			margin-bottom:1em;
		}
	}
}
#map-attrib-icon {
	margin-left: .25em;
	cursor: pointer;
}
.nodec {
	text-decoration: none !important;
}
#durst-help-img {
	margin-left: .5em;
}
#dhig .thumbnail {
	margin-bottom: 1em;
}
