<% child_title = child[:title].present? ? child[:title].strip : '' -%>
<div>
  <div>
    <img alt="<%= child_title %>" class="<%= ['StillImage','Text'].include?(child[:dc_type]) ? 'zoomable' : '' %>" src="<%= poster_url(child) %>" />

    <%= render partial: "content_aggregator/child_viewer/archive_org/button_panel", locals: { child: child, child_index: child_index, document: document, local_downloads: true } %>
  </div>
</div>