<%
poster_url = get_resolved_asset_url(id: child[:id], pid: child[:pid], size: 768, type: 'full', format: 'jpg')
has_captions = child.fetch(:datastreams_ssim, []).include?('captions')
captions_url = bytestream_content_path(catalog_id: child[:id], bytestream_id: 'captions') if has_captions
if (media_url = wowza_media_token_url(child))
  player_src = render_media_element_streaming_player(media_url, poster_url, captions_url, 1024, 500)
else
  media_url = bytestream_content_path(catalog_id: child[:pid], bytestream_id: 'access')
  player_src = render_media_element_progressive_download_video_player(media_url, poster_url, captions_url, 1024, 500)
end
%>

<div>
  <div>
    <%= player_src %>
    <%= render partial: "content_aggregator/child_viewer/button_panel", locals: { child: SolrDocument.new(child), child_index: child_index, document: document, local_downloads: local_downloads } %>
  </div>
</div>

