<%
has_captions = child.fetch(:datastreams_ssim, []).include?('captions')
options = {}
options[:captions_path] = bytestream_content_path(catalog_id: child[:id], bytestream_id: 'captions') if has_captions
unless (media_url = wowza_media_token_url(child))
  media_url = bytestream_content_path(catalog_id: child[:pid], bytestream_id: 'access')
  options[:media_type] = 'audio/mp4'
end
%>

<div>
  <div>
    <%= render_media_element_streaming_audio_player(media_url, nil, **options) %>
    <%= render Dcv::ContentAggregator::ChildViewer::ButtonPanelComponent.new(child: SolrDocument.new(child), child_index: child_index, document: document, local_downloads: local_downloads) %>
  </div>
</div>
