<footer class="container small clear-both swatch-brand">
	<hr />
	<%= render(Dcv::Footer::ContactComponent.new) %>
</footer>
<footer id="site-footer" class="text-muted small py-2">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<a href="http://www.columbia.edu">
                    <span class="brand sr-only">Columbia University</span>
                    <img src="https://toolkit.library.columbia.edu/v3/img/cu-blue-logo.svg" alt="Columbia University Logo" class="img-responsive hidden-xs w-100">
                </a>
			</div>
			<div class="col text-right">
				<span class="copyright mr-1">©<%= Time.now.year %> Columbia University Libraries</span>
			</div>
		</div>
	</div>
</footer>
<div class="d-none" id="palette-swatches">
	<p class="swatch-body"></p>
	<p class="swatch-primary"></p>
	<p class="swatch-secondary"></p>
</div>
<div class="modal fade" id="dcvModal" tabindex="-1" role="dialog" aria-labelledby="dcvModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" id="dcvModalWrapper">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title h5" id="dcvModalLabel"></div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body" id="dcvModalBody">
			</div>
		</div>
	</div>
</div>