<figure class="figure mx-auto" role="button" onclick="document.getElementById('hero-link').click();" tabindex="0">
    <a class="sr-only" id="hero-link" href="<%= reference_url %>" target="_new"><%= image_caption %></a>
    <img alt="Family with Friendly Visitor" src="<%= image_url %>" class="figure-img img-fluid rounded mx-auto"/>
    <figcaption class="figure-caption text-primary"><%= image_caption %></figcaption>
</figure>
