<% #Using the Bootstrap Pagination class  -%>
<div id="previousNextDocument" class="row justify-content-center">
  <div class="col col-md-3 text-center text-md-left">
    <%= render Dcv::SearchContext::PaginationComponent.new(search_context: @search_context, search_session: @search_session) %>
  </div>
</div>
