<%- config_form.object.facets.each_with_index do |facet_field, ix| %>
<%= config_form.fields_for "facets", facet_field, index: ix do |field_form| %>
	<%= render partial: 'sites/search_configuration/facet_field_form', locals: {field_form: field_form} %>
<%- end %>
<%- end %>
<fieldset id="add_facet_field" style="border-width: 0;">
	<button class="btn btn-info" type="button" onclick="addFacetFieldFields(this.parentElement);">
		<span class="fa fa-plus"></span> Add a facet field
	</button>
</fieldset>
<div class="hidden tooltips">
  <span id="tooltip-facets-field" title="Facet Field Name">Solr field name to facet on; this field name is subject to the general DLC indexing rules. If two comma-delimited values are entered, facet will be configured as a pivot facet.</span>
  <span id="tooltip-facets-label" title="Facet Field Label">How this field should be labeled in the facet sidebar and search interface</span>
  <span id="tooltip-facets-limit" title="Value Limit">The number of facet values to display in the facet sidebar and search interface. Additional values are browsable in a "More" modal window.</span>
  <span id="tooltip-facets-sort" title="Value Sort">How this facet's values should be sorted in the facet sidebar and search interface, either by "natural order" (index) or by number of matching results (count)</span>
  <span id="tooltip-facets-exclusions" title="Value Exclusions">Values that should be excluded from display for this facet in the facet sidebar and search interface</span>
  <span id="tooltip-facets-display-transforms" title="Value Transforms">How this facet's values should be labeled in facet sidebar and search interface</span>
  <span id="tooltip-facets-display-map" title="Value Map">A translation map for facet value labels; this requires developer support</span>
</div>
