<%- config_form.object.search_fields.each_with_index do |search_field, ix| %>
<%= config_form.fields_for "search_fields", search_field, index: ix do |field_form| %>
	<%= render partial: 'sites/search_configuration/search_field_form', locals: {field_form: field_form} %>
<%- end %>
<%- end %>
<fieldset id="add_search_field" style="border-width: 0;">
	<button class="btn btn-info" type="button" onclick="addSearchFieldFields(this.parentElement);">
		<span class="fa fa-plus"></span> Add a search field
	</button>
</fieldset>
<div class="hidden tooltips">
  <span id="tooltip-search-fields-type" title="Search Field Type">Type of data searched when this field is used.</span>
  <span id="tooltip-search-fields-label" title="Search Field Label">How this field should be labeled in dropdown menus, etc.</span>
</div>
