<div id="secondary-nav" class="">
	<div class="subnav">
		<div class="row">
			<div class="col-sm-12">
			<ul class="nav nav-pills pull-left">
			  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
					<ul class="dropdown-menu list-unstyled dropdown-menu-left">
						<li><a href="<%=lehman_about_path()%>#about_the_project">About the Project</a></li>
</li>
					</ul>
  			</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">Related </span>Resources <b class="caret"></b></a>
					<ul class="dropdown-menu list-unstyled dropdown-menu-left">
						<li><a target="_blank" rel="noopener noreferrer" href="http://library.columbia.edu/locations/rbml/units/lehman.html">Lehman Collections at Columbia <sup class="glyphicon glyphicon-new-window" aria-hidden="true"></sup></a></li>
						<li><a target="_blank" rel="noopener noreferrer" href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4078518/">Archival Finding Aid <sup class="glyphicon glyphicon-new-window" aria-hidden="true"></sup></a></li>
					</ul>
				</li>
			<li>
				<a href="<%=lehman_faq_path()%>" title="Frequently Asked Questions">FAQ</a>
			</li>
			</ul>
			</div><!--/-->
		</div><!--/row-->
	</div><!--/subnav-->
</div>
