<div class="d-flex flex-column w-100">
	<a id="site-title" class="navbar-brand" href="/lehman">Lehman Special Correspondence Files</a>
	<small id="site-banner-subtitle">from the <%= link_to 'Herbert H. Lehman Collections'.html_safe, 'http://library.columbia.edu/locations/rbml/units/lehman.html' %></small>
</div>