<%= link_to 'Lehman Special Correspondence Files'.html_safe,
lehman_index_path, { :id => 'site-title' } %>
<h2 id="site-banner-subtitle">from the <%= link_to 'Herbert H. Lehman Collections'.html_safe, 'http://library.columbia.edu/locations/rbml/units/lehman.html' %></h2>
<h1 class="sr-only">Carnegie Corporation of New York Digital Archive</h1>
