<h1 id="site-title" class="my-0"><%= link_to 'Lehman Special Correspondence Files'.html_safe,
search_lehman_path %></h1>
<h2 id="site-banner-subtitle">from the <%= link_to 'Herbert H. Lehman Collections'.html_safe, 'http://library.columbia.edu/locations/rbml/units/lehman.html' %></h2>
