<div class="col-md-8 col-md-offset-2">

	<section class="ff" id="about_the_project">
	<h2 class="h4">About the Lehman Special Correspondence Files</h2>
		<p>
		The Columbia University Libraries has scanned and made available here electronically the Special Correspondence Files of Herbert Lehman. More than 37,000 documents are included. Typed documents have also been OCRed, permitting full-text searching.
		</p>
		<p>
		The Special Correspondence Files of the Herbert Lehman Papers contain correspondence with nearly 1,000 individuals from 1895 through 1963. Beginning with letters from Lehman's family in the late nineteenth century, the series documents the range and scope of Lehman's long career in public service. Lehman started the series in an attempt to isolate materials he wanted for his own personal use. The series expanded over the years to include exchanges with many of the most important people of his day. Thus, in addition to family letters, the Special Correspondence Files contain letters from every President of the U. S. from Franklin Roosevelt to Lyndon Johnson, as well as from notables such as Martin Luther King, Jr., Frances Perkins, Robert F. Kennedy, Mary McLeod Bethune, Fiorello La Guardia, Henry Morgenthau, Alfred E. Smith, Adlai Stevenson, and Robert Wagner, among many others.
		</p>
	</section>
</div>
