<div class="col-md-8 col-md-offset-2">
	<h2 class="text-center">Frequently Asked Questions</h2>
	<hr>

	<ul>
		<li>
			<h3>Is the entire archival collection for the Herman H. Lehman Papers now available online?</h3>
			<p>No: The Columbia University Libraries has scanned and made available here the Special Correspondence Files of Herbert Lehman. More than 37,000 documents are included. Typed documents have also been OCRed, permitting full-text searching. However, there are many documents in the collection that are not included in this site.</p>
		</li>
		<li>
			<h3>How do I access materials that are not available digitally?</h3>
			<p>Discover what materials are available in the complete <a href="https://findingaids.library.columbia.edu/ead/nnc-rb/ldpd_4078518/" target="_blank">Herman H. Lehman Papers finding aid</a>. To consult these materials you will need to visit the <a href="https://library.columbia.edu/locations/rbml.html" target="_blank">Rare Book &amp; Manuscript Library</a> in person. You can register with us by creating a <a href="https://aeon.cul.columbia.edu/" target="_blank">Special Collections Research Account</a> and can then request material in advance via the finding aid.</p>
		</li>
		<li>
			<h3>Why don't I see the full-text search results I expect?</h3>
			<p>The accuracy of full text search results may vary. Full text searching is enabled through the OCR (optical character recognition) process. The results of this process depend on the characteristics of the original documents, for example the font and paper quality.</p>
		</li>
		<li>
			<h3>Why don't I see all the documents in a date search?</h3>
			<p>Some correspondence is not dated; a date-restriction search will eliminate these materials from your search.</p>
		</li>
	</ul>
</div>
