<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_limit_list paginator, solr_field %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets_link"><%= link_to t('blacklight.search.facets.more'),
       @subsite.routing_params(params.permit!.to_h.merge(id: facet_field.key, action: "facet", page: nil, f: @subsite.default_filters)), class: "facet-label more_facets_link" %></li>
  <% end %>
</ul>
