<div class="panel-group" id="title-accordion">
  <div class="panel">
  	<div class="panel-heading">
      <h2 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#title-accordion" href="#collapseDesc"><%= @page_title -%><i class="more glyphicon glyphicon-chevron-right"></i></a>
      </h2>
    </div>
    <div id="collapseDesc" class="panel-collapse collapse">
      <div class="panel-body">
        This is where I'm putting the description.
      </div>
    </div>
  </div>
</div>