<div>
  <div>
    <%= render_media_element_streaming_audio_player(media_url, nil, **player_options) %>
    <%= render Dcv::ContentAggregator::ChildViewer::ButtonPanel::DefaultComponent.new(child: SolrDocument.new(@child), child_index: @child_index, document: @document, local_downloads: @local_downloads) %>
  </div>
</div>
