<h3 class="nomar-t">History and Description of the Jay Papers Project</h3>

<ul>
	<li><a href="#about">About the Project</a></li>
	<li><a href="#acknowledgements">Acknowledgments</a></li>
	<li><a href="<%= jay_participating_institutions_path %>">Participating Institutions</a></li>
	<li><a href="#quotes">Quotes &amp; Comments</a></li>
</ul>
<a name="about"> </a>
<p>
      <em>The Papers of John Jay</em> is an image database and indexing tool
          comprising some 13,000 documents (more than 30,000
          page images) scanned chiefly from photocopies of the
          originals. Most of the source material was
          assembled by Columbia University's John Jay publication
          project staff during the 1960s and 1970s under the
          direction of the late Professor Richard B. Morris. These
          photocopies were originally intended to be used as
          source texts for documents to be included in a planned
          four-volume letterpress series entitled <i>The Selected Unpublished Papers of John Jay</i>.
</p>
            <p class="justified12px">Unfortunately only two
              volumes of the series appeared before Morris’s
              death in 1989<i>, John Jay: The Making of a Revolutionary,
               Unpublished Papers 1745-1780 (New York: Harper &amp; Row,
               1975) 
                </i>and <i>John Jay: The</i> <i>Winning of the
                Peace, Unpublished  Papers, 1780-1784</i> <em>(New York: Harper &amp; Row, 1980).</em>
			</p>
            <p>
				When the project closed in 1996, the 
                photocopied documents were transferred to the
              Rare Book and Manuscript  Library. Shortly thereafter
              Elaine Sloan, then University Librarian, established
              an Advisory Board, consisting of Barbara Black,
              George Welwood Murray Professor of Legal History
              at Columbia; Patricia Bonomi, Professor of History
              Emerita at New York University; Barbara
                Oberg, then editor of the Benjamin Franklin Papers
                at Yale University; and Herbert Sloan, Professor
                of History at Barnard College, and convened by
                Gouverneur Morris Professor of History Richard
            L. Bushman, to make recommendations about the future
              of the project. </p>
            <p class="justified12px"><strong>Letterpress
                Edition and Database.</strong> The
              Advisory Board recommended that Columbia continue
                to pursue plans for the letterpress edition under
                a new editor. Funding
                 was secured in
                2004 from the National Historical Publication
                and Records Commission for a revised and updated
                selective letterpress edition that would include
                seven volumes  and be completed by 2012. The
                Advisory Board also recommended, however, that
                the Libraries address the more immediate need
                for scholars to have access to the still-unpublished
                material collected for the original project by seeking
                funding to digitize and mount those documents
              on the Web. </p>
            <p class="justified12px"> The
            National Endowment for the Humanities agreed with
            this aim and provided a two-year grant for the
            project for the years 2000-2002. Additional funding
            was provided in 2001 by the Florence Gould Foundation.The <em>Papers
            of John Jay</em> database was launched initially
            in December 2002.</p>
            <p class="justified12px"><strong>Expansion
                &amp; Enhancement Initiative.</strong> From
                March 2003 to March 2006 Columbia University
                Libraries continued to expand the content and
                enhance the functionality of the database, drawing
                upon staff and funding provided by the new Columbia
                Libraries Digital Program initiative, which had
                been established in 2002. At the
                time of its initial launch in December 2002
                the database included Jay documents from about
                fifty institutions; by 2006 this number had risen
                to ninety. During
              this period over 1,500 new documents ( ca.
                12,000 page images)
              were also added, including 1,300 color scans from
              original documents in Columbia’s
              Rare Book &amp; Manuscript
            Library. </p>
            <p class="justified12px"><strong>Future
                Prospects.</strong><i> The
                Papers of John Jay Papers</i> is designed to
                be a working tool for students, scholars and
                the interested public. It remains 
                  a work in progress. New documents can 
                be added, corrections to existing information
                  made, and identifications  completed by using
                  the <a href="#" onclick="return DCV.FeedbackModal.show();"><strong>comments form</strong></a> or by writing to the Rare
                   Book and Manuscript Library at Columbia. We
                   look forward to  collaborating with our users
            in making this an effective and useful  resource.</p>
            <p class="justified12px"><strong>Rights
                and Permissions. </strong> Intellectual property rights to the materials
             on this database remain with the owning repositories.
              People wishing to publish or otherwise use images
              found on this database must contact these institutions
              for information
              and permission. Please 
                consult as well the <b><a href="http://library.columbia.edu/about/policies/copyright-online-collections.html">Copyright &amp; 
                Use </a></b>statement referenced on the John
                Jay Papers home page.</p>
            <p class="justified"><strong>Image Quality.</strong> Please
                note: the quality of some of the images is not
                ideal. Because we were attempting to make
                available as soon as possible material that had
                been collected forty years ago, salvaging some
                of the hard work that had been done by various
                generations of project editors and assistants,
                we approached the project differently than we
                would have had we been starting from scratch
                with new scans and new photography. Although
                digitization has in some cases made the documents
                far more legible than they are in the original,
                we are aware that in other cases they remain
                hard to read. Scans, photocopies and microfilmed
                images of 18th-century manuscripts under the
                best of circumstances are not always clear, due
                to deterioration of ink or paper, bleed-through,
                and uneven surfaces. The quality of computer
                monitors also varies dramatically. To assist
                readers, we have provided some capacity to enlarge
                and enhance the images. Better images
                and information about the documents themselves
                may be found by contacting the owning repositories,
                using the contact information provided. Messages
                indicating that images are not available at this
                time may occur for a variety of reasons, including
                the reluctance of an owning institution to allow
                its property to be included. In the few
                cases where we have not been able to decipher
                a repository name and the source is listed as “Unknown,” questions
                may be directed to the Columbia University Libraries
            by using the “Comments” field.</p>
      <a name="acknowledgements"></a>
        
<h4>Acknowledgments</h4> <p class="justified12px">We
         are grateful to the many people whose hard work and
        generosity have made  this project possible. Among
        these are James Baird (Project Editor,  2000-2002), Alison
        Ward, Rose Bautista, Bernard Crystal, Ellen Wurtzel,
         James Basker, Theodore Crackel, Janet Gertz, Beryl Abrams,
        Robert Wolven,  Patricia Renfro, Mary-Jo Kline, Pat Moran,
        Kari Smith, and Matt Hampel;  Columbia Libraries' Digital
        Program and Systems Office staff members Angela  Bukowy,
        David Arjanik, Roberta Blitz, David Ortiz, Dmitri Laury,
        Emily Holmes, Stephen P. Davis, Gary Bertchume and Breck
        Witte; and the members of the Advisory Board. Alix
        Schnee, Alan Weinreb  and the very loyal staff of volunteers
        at the John Jay Homestead in Katonah,  New York have
        also been of great assistance. Michael Hall, at
        the  National Endowment for the Humanities, gave helpful
        advice. Financial  help from the Florence Gould Foundation
        and the Peck Stacpoole Foundation  came at crucial moments
        as we moved forward. Elaine Sloan, University  Librarian
        and Vice President for Information Services, encouraged
        the  project; her successor, James Neal, has continued
        to support it with energy  and enthusiasm. </p>
            <p class="justified12px">Without the hard work of Richard B. Morris 
                and the many researchers and assistants who served as his staff 
                over the years, there would have been no material to digitize. 
                Particular credit must go to Ene Sirvet, Editor of the Jay papers 
                until 1996, whose efforts on behalf of the Jay papers were long-lasting 
                and heroic. 
            </p>

          <a name="quotes"></a><h4>Comments &amp; Quotes </h4>
        <p><strong>Dr. Richard Bushman, Gouverneur Morris Professor Emeritus of
              History at Columbia University,  (March
              2006): </strong></p>
        <blockquote>
          <p>"John Jay is no longer the forgotten founding
              father. The Columbia Jay Papers project has
              installed a nearly comprehensive collection of
              the Jay Papers manuscript on line for all to peruse. Constant
              improvements have made the site more and more convenient
              to use. In a time when the founding fathers
              are coming back into a spotlight, we can now get
              better acquainted with this critical contributor
              to the establishment of the Constitution and the
          beginnings of the new republic."</p>
        </blockquote>
        <p><strong>Diane Shewchuk,
            Director of the John Jay Homestead State Historic
        Site in Katonah, N.Y (Feb. 2006): </strong></p>
          <blockquote>
            <p><em>The
                  Papers of John Jay</em> is
                a marvel of accessibility that makes it possible
                for anyone to make detailed searches of documents
                without having to travel to multiple repositories,
                or spend hours reading page after fragile page
                seeking that one elusive bit of information.
                  It allows one to follow up each
                 new discovery quickly with a fresh inquiry,
                 taking one on an investigatory odyssey that
                 would be far slower and more difficult without
                 it.” </p>
          </blockquote><p><strong>Dr. Elizabeth M. Nuxoll, editor of
          the new Jay letterpress edition:</strong></p><blockquote>
            <p>All
                  of us will find our work simplified by the
              improved search capacities and revised abstracts
              now being made available, and enhanced by the addition
              of so many documents to this publicly available
              database. So too will the countless teachers,
                  students, writers, genealogists, and history
              buffs unknown to us, who will log on to explore
              these varied and fascinating documents and to use
              them as building blocks for the scholarship of
              the future.”</p>
          </blockquote>

