<h3 class="nomar-t">Select Bibliography</h3>

<h4>Collections of  Selected John Jay Correspondence</h4>

<p>Jay, William.  The Life of John Jay: with Selections from his Correspondence and Miscellaneous Papers.  2 vols.   New York, 1833.</p>

<p>Johnston, Henry P. Johnston, ed.  The Correspondence and Public Papers of John Jay, 1763-1826.  4 vols.  New York: G.P. Putnam, 1890-1893.</p>

<p>Morris, Richard B.  John Jay: The Making of a Revolutionary, 1745-1780.  New York: Harper &amp; Row, 1975</p>

<p>——.   John Jay: The Winning of the Peace, 1780-1784.   New York: Harper &amp; Row, 1980.</p>


<h4>Biographies</h4>

<p>Johnson, Herbert A.  John Jay, 1745-1829.  Albany: N.Y. State American Revolution Bicentennial Commission, 1970.  A brief but useful overview of Jay’s life.</p>

<p>——.  John Jay, Colonial Lawyer.  New York: Garland, 1989.  Jay’s pre-revolutionary career as a practicing attorney.</p>

<p>Frank Monaghan.   John Jay: Defender of Liberty.   New York: Bobbs-Merrill, 1935.  The only full-scale modern biography of Jay that draws on Jay’s personal papers; after more than sixty years, however, badly outdated.</p>

<p>Morris, Richard B.   Seven Who Shaped Our Destiny.  New York: Harper &amp; Row, 1973.  Jay is one of the seven Founding Fathers examined in this book.</p>

<p>Pellew, George.  John Jay.  Boston: Houghton Mifflin, 1890.  A worthy but badly outdated biography.</p>


<h4>New York Politics in  Jay’s Lifetime</h4>

<h5>Books:</h5>

<p>Becker, Carl Becker. The History of Political Parties in the Province of New York, 1760-1776.    Madison, Univ. of Wisconsin, 1909.</p>

<p>Bonomi, Patricia U.   A Factious People: Politics and Society in Colonial New York.  New York, 1971.</p>

<p>Countryman, Edward.   A People In Revolution: The American Revolution and Political Society in New York, 1760-1790.  Baltimore: Johns Hopkins, 1981.</p>

<p>DePauw,  Linda.  The Eleventh Pillar: New York State and the Federal Constitution.  Ithaca: Cornell Univ. Press, 1966.</p>

<p>Fox, Dixon Ryan. The Decline of the Aristocracy in the Politics of New York.    New York: Columbia Univ. Press, 1919.</p>

<p>Klein, Milton M. Klein, ed. The Empire State: A History of New York.  Ithaca: Cornell Univ. Press, 2001.  A survey with useful chapters on the period of Jay’s active political life by Ronald Howard and Edward Countryman.</p>

<p>Spaulding, E. Wilder.  New York in the Critical Period, 1781-1789.  New York: Columbia Univ. Press, 1932.</p>

<p>Young, Alfred F.  The Democratic Republicans of New York: The Origins, 1763-1797.  Chapel Hill: Univ. of N. C. Press, 1967.</p>

<h5>Article:</h5>

<p>Klein, Milton M.  “John Jay and the Revolution.”  New York History  81(2000).: 19-30.  </p>


<h4>Foreign Affairs During the Revolution and Confederation Period</h4>

<h5>Books:</h5>

<p>Bemis, Samuel F.  The Diplomacy of the American Revolution.  New York:  Appleton-Century Company, 1935.</p>

—— . The American Secretaries of State and Their Diplomacy.  Vol. I (Robert R. Livingston and John Jay).  New York: Knopf, 1928.

<p>Burns, Michael M.  “John Jay as Secretary for Foreign Affairs, 1784-1789.”  Ph.D. dissertation, Univ. of N.C., 1974.</p>

<p>Gruver, Rebecca G.  “The Diplomacy of John Jay.”  Ph.D. dissertation, Univ. of Calif., Berkeley, 1966.</p>

<p>Kaplan, Lawrence S.  Colonies into Nation: American Diplomacy, 1763-1801.  New York: Macmillan, 1972.</p>

<p>Marks, Frederick W.   Independence on Trial: Foreign Affairs and the Making of the Constitution.  Baton Rouge: Louisiana State Univ. Press, 1973.</p>

<p>Morris, Richard B. The Peacemakers: The Great Powers and American Independence.  New York: Harper &amp; Row, 1965.</p>

<p>Ritcheson, Charles R.  Aftermath of Revolution: British Policy Toward the United States, 1783-1795.  Dallas: Southern Methodist Univ. Press, 1969.</p>

<h5>Articles:</h5>

<p>Bowman, Albert H.  “Jefferson, Hamilton and American Foreign Policy.”  Political Science Quarterly 71(1956): 18-41.</p>

<p>Boyd, Julian P.  “Two Diplomats between Revolutions: John Jay and Thomas Jefferson.”  Virginia Magazine of History and Biography 66 (1960): 131-146.</p>


<h4>Jay, the Constitution, and “The Federalist”</h4>

<h5>Books:</h5>

<p>Morris, Richard B.   Witnesses at the Creation: Hamilton, Madison, Jay, and the Constitution.    New York: Holt, Rinehart &amp; Winston, 1985. </p>

<p>Wills, Gary.  Explaining America: The Federalist.   Garden City: Doubleday, 1981.</p>

<p>Wood, Gordons.  The Creation of the American Republic, 1776-1787.  Chapel Hill: Univ. of N.C. Press,  1969.</p>

<h5>Articles:</h5>

<p>Blackmun, Harry A.  “John Jay and the Federalist Papers.”   Pace Law Review 8 (1988): 237-248.</p>

<p>Morris, Richard B.     “John Jay and the Adoption of the Federal Constitution in New York: A New Reading of Persons and Events.”    New York History  63 (1982): 133-164.  </p>

<p>Ferguson, Robert A.  “The Forgotten Publius: John Jay and the Aesthetics of Ratification.”  Early American Literature 34 (1999) 223-240.</p>

<p>Furtwangler,  Albert.   “Strategies of Candor in the Federalist.”   Early American Literature 14(1979): 91-109.  Kaminski, John P. “Shall we have a King? John Jay and the Politics of Union.”  New York History 81(20000):  31-581</p>


<h4>National Politics in the Federalist Era</h4>

<p>Elkins, Stanley, and Eric McKitrick. The Age of Federalism.   New York: Oxford, 1993.</p>

<p>Sharp, James R.   American politics in the early republic: The new nation in crisis.  New Haven: Yale University Press, 1993.</p>


<h4>The Early Supreme Court</h4>

<h5>Books:</h5>

<p>Goebel, Julius, Jr.  Antecedents and Beginnings to 1801.  Vol. 1 of  History of the Supreme Court of the United States.    New York:  Macmillan, 1971. </p>

<p>Casto, William.   The Supreme Court in the Early Republic: the Chief Justiceships of John Jay and Oliver Ellsworth.  Columbia: Univ. of S.C. Press, 1995.</p>

<p>Marcus, Maeva , ed.  The Documentary History of the Supreme Court of the United States, 1789-1800.  7 vols. to date.  New York: Columbia University Press, 1985-.</p>

<p>Richard B. Morris.    John Jay, the Nation and the Court.  Boston: Boston Univ. Press, 1967. </p>

<h5>Articles:</h5>

<p>Durham, G. Homer.   “John Jay and the Judicial Power.”  Brigham Young University Studies 16(1976):   349-361.</p>

<p>Frankel, Robert P., Jr.  “The Supreme Court and the Supreme Court and Impartial Justice: The View from the 1790s.”  Journal of Supreme Court History  1(1994) 103-116.</p>

 Johnson, Herbert A.  “John Jay and the  Supreme Court.”  New York History  81(2000): 59-90

<p>Sirvet, Ene and R. B. Bernstein.  “Documentary Editing and the Jay Court: Opening new Lines of Inquiry.” Journal of Supreme Court History  2(1996): 17-22.  </p>

——. “John Jay, Judicial Independence, and Advising Coordinate Branches.”  Journal of Supreme Court History  2(1996): 23-29      

<p>VanBurkelo, Sandra Frances. "’Honour, Justice and Interest’:  John Jay’s Republican Politics and Statesmanship of the Federal Bench.”  Journal of the Early Republic 4(1984): 239-274         </p>


<h4>The Jay Treaty</h4>

<h5>Books:</h5>

<p>Bemis, Samuel F.   Jay's Treaty: A Study in Commerce and Diplomacy.  2nd ed.   New Haven: Yale, 1962.</p>

<p>Combs, Jerald A.   The Jay Treaty: Political Battleground of the Founding Fathers.  Berkeley: University of California Press. 1970.</p>

<h5>Article:</h5>

<p>Estes, Todd. “Shaping the Politics of Public Opinion: Federalists and the Jay Treaty Debate.”  Journal of the Early Republic 20(2000): 393-422.  </p>


<h4>The Jay Family and Social Reform: Religion and Slavery</h4>

<h5>Book: </h5>

<p>Budney, Stephen Paul. "William Jay and the Influence of Federalist   Antislavery."  Ph.D. Dissertation:  Univ. of Mississippi, 2000.</p>

<h5>Articles:</h5>

<p>Bonomi, Patricia U. “John Jay, Religion, and the State.” New York History 81(2000): 8-18.</p>

<p>Littlefield, Daniel C. "John Jay, the Revolutionary Generation, and Slavery." New York History  81(2000): 91-132.</p>

<p>Trendel, Robert.    “John Jay II:  Antislavery Conscience of the Episcopal Church.”    Historical Magazine of the Protestant Episcopal   Church  45 (1976): 237-252.</p>


<h4>Miscellany</h4>

<p>Ide, John Jay.  The Portraits of John Jay (1745-1829).  New York: New-York Historical Society, 1938.  </p>

<p>McLean, Jennifer P.  The Jays of Bedford:  The Story of Five Generations of the Jay Family who lived in the John Jay Homestead. Katonah, N.Y.: Friends of the Jay Homestead, 1984.</p>



<div class="small">
<p>Mary-Jo Kline, American History Specialist</p>
<p>John Hay and Rockefeller Libraries, Brown University</p>
<p>December 2002</p>
</div>
