<h3 class="nomar-t">Select Bibliography</h3>

<h4>Collections of Selected John Jay Correspondence</h4>

<h5>Books:</h5>

<p>Jay, William. The Life of John Jay: with Selections from his Correspondence and Miscellaneous Papers. 2 vols. New York, 1833.</p>

<p>Johnston, Henry P. Johnston, ed. The Correspondence and Public Papers of John Jay, 1763-1826. 4 vols. New York: G.P. Putnam, 1890-1893.</p>

<p>Linda M. Freeman, Louis V. North, and Janet M. Wedge, eds. Selected Letters of John Jay and Sarah Livingston Jay: Correspondence by or to the First Chief Justice of the United States and His Wife. Jefferson, N.C.: McFarland &amp; Co., 2004.</p>

<p>Morris, Richard B. John Jay: The Making of a Revolutionary, 1745-1780. New York: Harper &amp; Row, 1975</p>

<p>——. John Jay: The Winning of the Peace, 1780-1784. New York: Harper &amp; Row, 1980.</p>


<h4>Biographies</h4>

<h5>Books:</h5>

<p>Brier, Carol. Mr. Jay of Bedford: John Jay, the Retirement Years 1801-1829. Berwyn Heights, Md.: Heritage Books, 2016. The work looks at Jay’s covering a neglected period of Jay's life.</p>

<p>Johnson, Herbert A. John Jay, 1745-1829. Albany: N.Y. State American Revolution Bicentennial Commission, 1970. A brief but useful overview of Jay’s life.</p>

<p>——. John Jay, Colonial Lawyer. New York: Garland, 1989. Jay’s pre-revolutionary career as a practicing attorney.</p>

<p>Frank Monaghan. John Jay: Defender of Liberty. New York: Bobbs-Merrill, 1935. The only full-scale modern biography of Jay that draws on Jay’s personal papers; after more than sixty years, however, badly outdated.</p>

<p>Morris, Richard B. Seven Who Shaped Our Destiny. New York: Harper &amp; Row, 1973. Jay is one of the seven Founding Fathers examined in this book.</p>

<p>Pellew, George. John Jay. Boston: Houghton Mifflin, 1890. A worthy but badly outdated biography.</p>

<p>Stahr, Walter. John Jay: Founding Father. New York and London: Hambledon and London, 2005. An updated and in-depth biography.</p>

<h5>Articles and Essays:</h5>

<p>Den Hartog, Jonathan J. “John Jay,” in Lives of the Founders: America’s Forgotten Founders, 67-79. Gary L. Gregg and Mark David Hall, eds. Wilmington, Del.: Intercollegiate Studies Institute, 2011.</p>

<h5>Encyclopedia Entries:</h5>

<p>Nuxoll, Elizabeth M. “John Jay.” American Governance. Stephen L. Schechter, ed. 5 vols. Detroit: Macmillan, 2016.</p>

<p>-----. “John Jay” and “Secret Committee of the Continental Congress.” Spies, Wiretaps, and Secret Organizations: An Encyclopedia of American Espionage. Glenn P. Hastedt and Stephen W. Gurerrier, eds. Santa Barbara: ABC-Clio, 2011.</p>

<p>Steenshorne, Jennifer E. “John Jay.” The Early Republic and Antebellum America: An Encyclopedia of Social, Political, Cultural, and Economic History. Ed. Christopher G. Bates. 4 vols. Armonk, NY: Sharpe Reference, 2010.</p>

<h4>New York Politics in Jay’s Lifetime</h4>

<h5>Books:</h5>

<p>Becker, Carl Becker. The History of Political Parties in the Province of New York, 1760-1776. Madison, Univ. of Wisconsin, 1909.</p>

<p>Bonomi, Patricia U. A Factious People: Politics and Society in Colonial New York. New York, 1971.</p>

<p>Countryman, Edward. A People In Revolution: The American Revolution and Political Society in New York, 1760-1790. Baltimore: Johns Hopkins, 1981.</p>

<p>DePauw, Linda. The Eleventh Pillar: New York State and the Federal Constitution. Ithaca: Cornell Univ. Press, 1966.</p>

<p>Fox, Dixon Ryan. The Decline of the Aristocracy in the Politics of New York. New York: Columbia Univ. Press, 1919.</p>

<p>Herdeck, Margaret. “John Jay's Revolutionary Politics (1774-1776).” M.A. thesis, Colorado State University-Pueblo, 2015.</p>

<p>Janson, Jennifer M. “Sarah Livingston Jay, 1756-1802: Dynamics of Power, Privilege and Prestige in the Revolutionary Era.” M.A. thesis. West Virginia University, 2005.</p>

<p>Klein, Milton M. Klein, ed. The Empire State: A History of New York. Ithaca: Cornell Univ. Press, 2001. A survey with useful chapters on the period of Jay’s active political life by Ronald Howard and Edward Countryman.</p>

<p>Spaulding, E. Wilder. New York in the Critical Period, 1781-1789. New York: Columbia Univ. Press, 1932.</p>

<p>Young, Alfred F. The Democratic Republicans of New York: The Origins, 1763-1797. Chapel Hill: Univ. of N. C. Press, 1967.</p>

<h5>Article:</h5>

<p>Klein, Milton M. “John Jay and the Revolution.” New York History 81(2000).: 19-30. </p>


<h4>Foreign Affairs During the Revolution and Confederation Period</h4>

<h5>Books:</h5>

<p>Bemis, Samuel F. The Diplomacy of the American Revolution. New York: Appleton-Century Company, 1935.</p>

—— . The American Secretaries of State and Their Diplomacy. Vol. I (Robert R. Livingston and John Jay). New York: Knopf, 1928.

<p>Burns, Michael M. “John Jay as Secretary for Foreign Affairs, 1784-1789.” Ph.D. dissertation, Univ. of N.C., 1974.</p>

<p>Gruver, Rebecca G. “The Diplomacy of John Jay.” Ph.D. dissertation, Univ. of Calif., Berkeley, 1966.</p>

<p>Kaplan, Lawrence S. Colonies into Nation: American Diplomacy, 1763-1801. New York: Macmillan, 1972.</p>

<p>Lyons, Benjamin. “John Jay and the Law of Nations in the Diplomacy of the American Revolution.” Ph.D. diss. Columbia Univ. 2017.</p>

<p>Marks, Frederick W. Independence on Trial: Foreign Affairs and the Making of the Constitution. Baton Rouge: Louisiana State Univ. Press, 1973.</p>

<p>Morris, Richard B. The Peacemakers: The Great Powers and American Independence. New York: Harper &amp; Row, 1965.</p>

<p>Ritcheson, Charles R. Aftermath of Revolution: British Policy Toward the United States, 1783-1795. Dallas: Southern Methodist Univ. Press, 1969.</p>

<p>Williamson, Matthew. “The Networks of John Jay, 1745-1801: A Historical Network Analysis Experiment.” Ph.D. dissertation, Northeastern Univ., 2017.</p>

<h5>Articles:</h5>

<p>Kaminski, John P. “Honor and Interest: John Jay‘s Diplomacy During the Confederation.” New York History 83 (2002): 293-321.</p>

<p>-----. “Shall We Have a King? John Jay and the Politics of Union.” New York History 81 (2000): 31-58.</p>

<p>Bowman, Albert H. “Jefferson, Hamilton and American Foreign Policy.” Political Science Quarterly 71(1956): 18-41.</p>

<p>Boyd, Julian P. “Two Diplomats between Revolutions: John Jay and Thomas Jefferson.” Virginia Magazine of History and Biography 66 (1960): 131-146.</p>


<h4>Jay, the Constitution, and “The Federalist”</h4>

<h5>Books:</h5>

<p>Ellis, Joseph J. The Quartet: Orchestrating the Second American Revolution 1783-1789. New York: Knopf, 2015.</p>

<p>Morris, Richard B. Witnesses at the Creation: Hamilton, Madison, Jay, and the Constitution. New York: Holt, Rinehart &amp; Winston, 1985. </p>

<p>Wills, Gary. Explaining America: The Federalist. Garden City: Doubleday, 1981.</p>

<p>Wood, Gordons. The Creation of the American Republic, 1776-1787. Chapel Hill: Univ. of N.C. Press, 1969.</p>

<h5>Articles:</h5>

<p>Blackmun, Harry A. “John Jay and the Federalist Papers.” Pace Law Review 8 (1988): 237-248.</p>

<p>Bucci, Richard. “John Jay and ‘The Fœderalist, No. V’: A Bibliographic Discussion.” Papers of the Bibliographic Society of America 105 (2011): 377-420.</p>

<p>Morris, Richard B. “John Jay and the Adoption of the Federal Constitution in New York: A New Reading of Persons and Events.” New York History 63 (1982): 133-164. </p>

<p>Ferguson, Robert A. “The Forgotten Publius: John Jay and the Aesthetics of Ratification.” Early American Literature 34 (1999) 223-240.</p>

<p>Furtwangler, Albert. “Strategies of Candor in the Federalist.” Early American Literature 14(1979): 91-109. Kaminski, John P. “Shall we have a King? John Jay and the Politics of Union.” New York History 81(20000): 31-581</p>


<h4>National Politics in the Federalist Era</h4>

<p>Elkins, Stanley, and Eric McKitrick. The Age of Federalism. New York: Oxford, 1993.</p>

<p>Sharp, James R. American politics in the early republic: The new nation in crisis. New Haven: Yale University Press, 1993.</p>


<h4>The Early Supreme Court</h4>

<h5>Books:</h5>

<p>Goebel, Julius, Jr. Antecedents and Beginnings to 1801. Vol. 1 of History of the Supreme Court of the United States. New York: Macmillan, 1971. </p>

<p>Casto, William. The Supreme Court in the Early Republic: the Chief Justiceships of John Jay and Oliver Ellsworth. Columbia: Univ. of S.C. Press, 1995.</p>

<p>Marcus, Maeva , ed. The Documentary History of the Supreme Court of the United States, 1789-1800. 7 vols. to date. New York: Columbia University Press, 1985-.</p>

<p>Richard B. Morris. John Jay, the Nation and the Court. Boston: Boston Univ. Press, 1967. </p>

<h5>Articles:</h5>

<p>Durham, G. Homer. “John Jay and the Judicial Power.” Brigham Young University Studies 16(1976): 349-361.</p>

<p>Frankel, Robert P., Jr. “The Supreme Court and the Supreme Court and Impartial Justice: The View from the 1790s.” Journal of Supreme Court History 1(1994) 103-116.</p>

<p>Johnson, Herbert A. “John Jay and the Supreme Court.” New York History 81(2000): 59-90</p>

<p>Kaminski,John P. and Jennifer Lawton. “Duty and Justice at Everyman‘s Door: The Grand Jury Charges of Chief Justice John Jay, 1790-1794.” Journal of Supreme Court History 31 (2006): 235-51.</p>

<p>Sirvet, Ene and R. B. Bernstein. “Documentary Editing and the Jay Court: Opening new Lines of Inquiry.” Journal of Supreme Court History 2(1996): 17-22. </p>

<p>——. “John Jay, Judicial Independence, and Advising Coordinate Branches.” Journal of Supreme Court History 2(1996): 23-29 </p>

<p>VanBurkelo, Sandra Frances. "’Honour, Justice and Interest’: John Jay’s Republican Politics and Statesmanship of the Federal Bench.” Journal of the Early Republic 4(1984): 239-274   </p>


<h4>National Politics in the Federalist Era</h4>

<h5>Articles:</h5>

<p>Estes, Todd. “John Jay, the Concept of Deference, and the Transformation of Early American Political Culture.” The Historian: A Journal of History 65 (2003): 293-317.</p>


<h4>The Jay Treaty</h4>

<h5>Books:</h5>

<p>Bemis, Samuel F. Jay's Treaty: A Study in Commerce and Diplomacy. 2nd ed. New Haven: Yale, 1962.</p>

<p>Combs, Jerald A. The Jay Treaty: Political Battleground of the Founding Fathers. Berkeley: University of California Press. 1970.</p>

<h5>Articles:</h5>

<p>Estes, Todd. “Shaping the Politics of Public Opinion: Federalists and the Jay Treaty Debate.” Journal of the Early Republic 20 (2000): 393-422.</p>


<h4>The Jay Family and Social Reform: Religion and Slavery</h4>

<h5>Books: </h5>

<p>Budney, Stephen Paul. "William Jay and the Influence of Federalist Antislavery." Ph.D. Dissertation: Univ. of Mississippi, 2000.</p>

<p>Den Hartog, Jonathan J. Patriotism &amp; Piety: Federalist Politics and Religious Struggle in the New American Nation. Charlottesville and London: Univ. of Virginia Press, 2015.</p>

<p>Levine-Gronningsater, Sarah. “Delivering Freedom: Gradual Emancipation, Black Legal Culture, and the Origins of Sectional Crisis in New York, 1759-1870.” Ph.D. dissertation. Univ. of Chicago, 2011.</p>


<h5>Articles and Essays:</h5>

<p>Bonomi, Patricia U. “John Jay, Religion, and the State.” New York History 81(2000): 8-18.</p>

<p>Den Hartog, Jonathan J. "John Jay and the 'Great Plan of Providence.'" The Forgotten Founders on Religion and Public Life. Daniel L. Dreisbach, Mark David Hall, and Jeffry H. Morrison, eds. Notre Dame, Ind.: Univ. of Notre Dame Press, 2009, 145-70.</p>

<p>Gellman, David. “Abbe’s Ghost: Negotiating Slavery in Paris, 1783-1784.” Experiencing Empire: Power, People and Revolution in Early America. Patrick Griffin, ed. Charlottesville: Univ. of Virginia Press, 2017, 189-211.</p>

<p>Littlefield, Daniel C. “John Jay, The Revolutionary Generation and Slavery.” New York History 81 (2000): 91-132.</p>

<p>Trendel, Robert. “John Jay II: Antislavery Conscience of the Episcopal Church.” Historical Magazine of the Protestant Episcopal Church 45 (1976): 237-252.</p>


<h4>Miscellany</h4>

<h5>Articles and Essays:</h5>

<p>Brier, Carol. "Tending Our Vines: From the Correspondence and Writings of Richard Peters and John Jay." Pennsylvania History 80 (2013): 85-111.</p>

<p>Ide, John Jay. The Portraits of John Jay (1745-1829). New York: New-York Historical Society, 1938. </p>

<p>McLean, Jennifer P. The Jays of Bedford: The Story of Five Generations of the Jay Family who lived in the John Jay Homestead. Katonah, N.Y.: Friends of the Jay Homestead, 1984.</p>

<p>Pencak, William. “‘Faithful Portraits of our Hearts’: images of the Jay Family, 1725-1814.” Early American Studies 7 (2009): 82-108.</p>

<hr>

<p>Mary-Jo Kline, American History Specialist<br>
John Hay and Rockefeller Libraries, Brown University<br>
December 2002</p>
<p>Updated by Robb K. Haberman<br>
April 2018</p>

</div>
