<h3 class="nomar-t">Source Collections</h3>

<p>
The materials included in <em>The Papers of John Jay</em> are derived from nearly 14,000 photocopies of Jay and Jay-related materials collected by the late Richard B. Morris and his staff in preparation for Professor Morris’s projected four-volume letterpress series of the unpublished papers of John Jay.  The originals and contemporaries copies of these items reside in some 85 repositories around the world, including the Library of Congress, the U.S. National Archives, the U.K. Public Records Office,  Archivo Historico Nacional (Spain), Nationaal Archief (Netherlands), National Library of Scotland, major U.S. research libraries, and many U.S. state and local historical societies.
</p>
<p>
For permission to publish these documents or further information about them, please contact the owning institutions identified in the individual item and image displays.  In some case additional information, such as collection name and local catalog number, has been included at the request of the owning institution.  Please make sure to cite this information in any correspondence you may have with the institution.
</p>
<p>
Columbia University's own collection of Jay's papers is housed in the <a href="http://www.columbia.edu/cu/lweb/digital/jay/collection.html">Rare Book and Manuscript Library</a>. The collection, which covers the period 1745 to ca. 1862, comprises ca. 10,500 items (69 boxes).  It includes letters, manuscripts, documents and letterbooks of and relating to Jay and many members of his family.  The letters touch on every aspect of American life and government of the period, and contain correspondence from such prominent individuals as John Adams, George Clinton, James Duane, Benjamin Franklin, Alexander Hamilton, Thomas Jefferson, Rufus King, John Paul Jones, Lafayette, Robert B. Livingston, William Livingston, Gouverneur Morris, Robert Morris, Edmund Randolph, Philip Schuyler, and George Washington.  There are approximately 500 letters from Jay, primarily drafts of correspondence to the persons listed above, as well as his correspondence as Secretary of Foreign Affairs, 1784-1789.  The manuscripts and documents include many reports, commissions, and diplomas, as well as a draft copy of  Federalist Number 5 and Jay’s oath of office as Chief Justice of the United States Supreme Court; also included are manumission documents, and a group of documents from Trinity Church, where his father was a vestryman from 1732 to 1746.
</p>
<p>
Additional material relating to the Jay family may be found in the Jay Family papers, 1828-1943, also at Columbia (14,685 items in 84 boxes).  In addition to family and personal matters, the correspondence in this collections deals with anti-slavery, New York State civil service, repeal of the Missouri Compromise, the Civil War, the Blair Bill, international affairs, and New York City and State government and politics.
</p>
