<h3 class="nomar-t">Jay and France</h3>

<p>
John Jay's elevation to the Presidency of the Continental Congress in late 1778 stemmed from French considerations.  The previous President, Henry Laurens, had resigned after allying himself with Arthur Lee, who was at the time engaged in a bitter dispute with his fellow American commissioner to France, Silas Deane.  Lee had accused Deane of a plan to profit privately from the new nation's transactions with France, a charge Deane vehemently denied. Upon Laurens's resignation, supporters of Lee and Deane battled among each other, with Jay, thought to be strongly pro-French, as the beneficiary of the tussle.
</p>
<p>
As president of the Congress, Jay was soon forced to deal with the outbursts of Thomas Paine, then Secretary to the Committee of Foreign Affairs, who supported Lee in his campaign against Deane, in the course of which he had incautiously revealed, much to the embarrassment of the French, that France had aided the United States prior to the two nations' formal alliance of 1778 (see John Jay to Conrad Gerard, 1/12/1779, Jay ID #5064).  Conrad Gerard, the French minister in Philadelphia, pressed Congress to discipline Paine, but Paine's resignation saved the Congress and its head, John Jay, from having to act in this matter.
</p>
<p>
Jay's stint as President of Congress lasted until the Fall of 1779, at which time he was appointed as minister to Spain, a position he held for three years.  He then moved to Paris as a peace commissioner, instructed to treat with Britain to end the War of Independence.  While pursuing peace with the British, Jay acted to head off separate talks between the French and the British, negotiations that would have sacrificed American interest in securing access to the Newfoundland fisheries and compromised its position on the rightful location of the new nation's western boundary.  During their stay in Paris, the Jays – John had traveled with his wife – became intimate acquaintances of the Lafayettes, a friendship that would last well into the nineteenth century, and were feted by French aristocrats and officialdom (see John Jay to the Marquis de Lafayette, 3/5/1783, Jay ID #6759).
</p>
<p>
During the 1790s French affairs were central to American politics and society.  In the domestic contest over what kind of relationship should be pursued with revolutionary France, Jay found himself at the heart of the debate.  Following France's declaration of war with Great Britain early in 1793, for example, Jay, though alive to the constraints that his position as Chief Justice placed upon his advising the President, drafted a neutrality proclamation for Washington.  Though the President decided to use the proclamation outlined by Attorney General Edmund Randolph instead, Jay's draft, like Randolph's, espoused a doctrine of nonalignment that would serve as the basic principle of foreign policy under the Washington administration (see John Jay to Alexander Hamilton, 4/11/1793, Jay ID #5644).
</p>
<p>
To the French, who believed the United States owed them allegiance on the basis of the two countries' alliance of 1778, the proclamation was a bitter disappointment.  In light of the official position of the United States government, Edmond Charles Genet, the French minister to the United States appointed in 1793, took it upon himself to promote pro-French propaganda and mobilize public sentiment against the neutral course being pursued by the Washington administration.  Jay used all resources at hand to stem the pro-French tide.  As Chief Justice, he used his opening charges to circuit courts up and down the nation to affirm the nation's commitment to neutrality.  Upon learning that Genet had threatened to appeal over Washington's head to Congress, Jay published the details of the affair in a New York newspaper under his own name.  At this point, Genet attempted to bring a suit for libel against Jay, a design that fizzled out ignominiously (see John Jay and Rufus King to Alexander Hamilton and Henry Knox, 11/26/1793, Jay ID #5646).
</p>
<p>
French resentments were aroused once more by the signing of a treaty between Britain and the United States late in 1794, a treaty that, in the popular mind, carried Jay's name, for he had served as the U.S. negotiator.  Widely though incorrectly perceived as pro-British, it was disparaged by supporters of the newly emerging Democratic Republican party, who were blind to Jay's clear success in promoting American interests.  Indeed, the reception of the Jay Treaty played an important part in sharpening political divisions within the new nation (see John Jay to Henry Lee, 7/11/1795, Jay ID #12870).
</p>
<p>
These divisions remained heated through the rest of the decade, climaxing in the XYZ affair and the resulting Quasi-War with France in 1798-99.  Some of the most compelling material in the Jay Papers speaks to those months, when Jay, now Governor of New York and clearly expecting a French attack, moblizes the state's resources for the defense of New York City (see Citizens of New York to John Jay, 11/30/1797 Jay ID #9841).  Of a more conciliatory nature during his tenure as Governor was Jay's cordial extension of aid to French refugees (many presumably slaveholders) fleeing revolution in Saint Domingue.
</p>
<p>
Following his retirement from public office in 1801, France remained in Jay's thoughts and writings in a number of ways, notably in his and his correspondents' appropriation of the term "jacobinism" to characterize the views of their political opponents.  Jay's use of the term implied, at once, egalitarianism, irreligion and anarchy -- extremist views to be rejected and condemned.  (see John Jay to Rev. Jedidiah Morse, 1/30/1799, Jay ID #1175;  see Peter Augustus Jay to John Jay, 10/3/1821, Jay ID #6250).
</p>
<p class="small">
James Baird<br>
Columbia University
</p>
