<h3 class="nomar-t">Jay and New York</h3>

<p>By the time of John Jay's birth, the Jay family 
            had established a place among the social elite of New York City. John's 
            father, Peter, a wealthy merchant, was both a freeman of the city and 
            a vestryman of Trinity Church, while his mother, Mary Van Cortlandt, had 
            been born into one of the colony's great <i>patroon</i> families. Taking 
            advantage of his privileged background, the young John Jay graduated from 
            King's College in 1764 and entered the legal profession, first clerking 
            for Benjamin Kissam, then establishing a legal practice with Robert R. 
            Livingston, and eventually opening his own law office in 1771. During 
            these years, Jay cultivated himself as a young gentleman, participating 
            in elite social clubs, dancing assemblies and debating societies <a href="<%= jay_url_converter("columbia.jay.00886") %>">(<i>see</i> 
            John Jay et al., 1/22/1768, Jay ID #886)</a>.</p>
          <p>With the intensification of colonial resistance 
            following the passage of the Coercive Acts in 1774, Jay found himself 
            propelled into the political arena, being selected as one of a Committee 
            of Fifty that New York's conservatives had created to guide the protest 
            movement within the colony <a href="columbia.jay.05021">(<i>see</i> 
            John Jay to John Vardill, 5/23/1774, Jay ID #5021)</a>. Shortly 
            afterwards, Jay was elected as one of New York's delegates at the First 
            Continental Congress in Philadelphia, which went on to pass a nonimportation 
            agreement known as the Continental Association. Returning to New 
            York at the close of the First Congress in late 1774, he concentrated 
            his energies, as one of the newly selected Committee of Sixty, on enforcing 
            the Association <a href="columbia.jay.07864">(<i>see</i> 
            Peter Jay to John Jay, 5/20/1775, Jay ID #7864)</a>. Throughout, 
            however, Jay was a cautious, even lukewarm revolutionary, evincing the 
            characteristic moderation that would be a hallmark of his career.</p>
          <p>In the spring of 1776, he was elected to the New 
            York Provincial Congress, where he remained even as the Continental Congress 
            was declaring the nation's independence, a move he would probably have 
            voted against had he been in Philadelphia. In the summer of 1776, 
            with British ships and British troops descending on New York City, Jay 
            contributed to a committee whose purpose was to obstruct and harass the 
            British <a href="columbia.jay.04027">(<i>see</i> 
            [Outlines for plans to obstruct the Hudson River], 7/19/1776, Jay ID #4027)</a>. 
            He also played an active role in the state's campaign against Loyalists, 
            sitting on the Committee for Detecting Conspiracies, where he oversaw 
            the prosecution of a number of prominent opponents of the new nation, 
            including Beverly Robinson and Cadwallader Colden, Jr., the son of the 
            former lieutenant governor under the crown  <a href="columbia.jay.13167">(<i>see</i> 
            Cadwallader Colden Jr., to John Jay, 7/27/1777, Jay ID #13167)</a>. 
            Elected to the Fourth New York Congress, Jay was placed on the committee 
            responsible for framing the state's constitution. During the winter 
            of 1776-77, Jay played a key role in formulating the committee's draft. 
            Though he objected privately to various elements of the final version 
            <a href="columbia.jay.02819">(<i>see</i> 
            John Jay to Robert R. Livingston and Gouverneur Morris, 4/29/1777, Jay 
            ID #2819)</a>, in public he was the new constitution's resolute defender. 
            In the summer of 1777, the Provincial Convention elected Jay the 
            first Chief Justice of the State Supreme Court. In this position, 
            which he held for two years, he presided over cases, including many property 
            crimes, stemming from the chaotic conditions that accompanied the military 
            and civil conflict of the revolutionary years in New York <a href="columbia.jay.01054">(<i>see</i> 
            John Jay et al. to Governor George Clinton, 5/20/1778, Jay ID #1054)</a>.</p>
          <p>A long period of national and international service 
            followed before Jay once more made his presence felt within the ambit 
            of New York through his powerful contributions to the struggle to ratify 
            the federal Constitution. Best known are his contributions as Publius 
            to the Federalist.  His first contributions, numbers 2 through 
            5 <a href="columbia.jay.10401">(<i>see</i> 
            draft of Federalist #5, 10/31/1787, Jay ID #10401)</a>, appeared in 
            the New York Independent Journal in October-November 1787. More 
            influential still was his pamphlet, "An Address to the People of 
            New York," written in the spring of 1788 <a href="columbia.jay.07238">(<i>see</i> 
            George Washington to John Jay, 5/15/1788, Jay ID #7238)</a>. An 
            authoritative restatement of arguments in favor of the federal Constitution, 
            and a rebuttal of counterarguments, the "Address" played a role 
            in securing ratification in New York despite the presence of a powerful 
            Anti-Federalist opposition.</p>
          <p>Upon returning from his mission in Europe in 1784, 
            Jay had proceeded to build a family house in New York City <a href="columbia.jay.09354">(<i>see</i> 
            John Jay to Philip Schuyler, 3/17/1785, Jay ID #9354)</a>, in which 
            the Jays continued to live until he became Governor of New York. As 
            Governor for two terms, from 1795 to 1801, Jay oversaw legislation that 
            established a state penitentiary <a href="columbia.jay.03275">(<i>see</i> 
            Matthew Clarkson to John Jay, 11/21/1797, Jay ID #3275)</a>, dealt 
            with Indians over land claims <a href="columbia.jay.03144"> 
            (<i>see</i> John Jay to Timothy Pickering, 4/23/1798, Jay ID #3144)</a>, 
            bestowed aid upon those fleeing from revolutionary Saint Domingue <a href="columbia.jay.03505">(<i>see</i> 
            John Jay to the New York Legislature, 11/1/1796, Jay ID #3505)</a>, 
            and confronted both a yellow fever outbreak <a href="columbia.jay.09293">(<i>see</i> 
            Richard Varick to John Jay, 9/24/1798, Jay ID #9293)</a> and the prospect 
            of invasion by the French <a href="columbia.jay.03086">(<i>see</i> 
            John Jay to James McHenry, 7/17/1797, Jay ID #3086)</a>.</p>
          <p>After his second term, Jay retired from public 
            life, establishing himself as a country farmer on his property at Bedford 
            in Westchester County. There he lived out his days, though in close 
            communication with his two sons who remained active within New York's 
            public realm <a href="columbia.jay.06251">(<i>see</i> 
            Peter Augustus Jay to John Jay, 10/10/1821, Jay ID #6251)</a>. 
    </p>
    <p class="small">James Baird<br>
            Columbia University</p>
