<h3 class="nomar-t">The Jay Treaty</h3>

                <p>As Secretary for Foreign Affairs in the 1780s, 
            John Jay confronted many of the issues that would later be addressed by 
            the treaty of 1794 that bore his name. Despite their signing the 
            Treaty of Paris of 1783, both the British and Americans continued to breach 
            its terms in a host of ways. Britain's continued occupation of military 
            posts on American territory had Jay warning Congress to prepare for war 
            in 1786 <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.04567">(<i>see</i> 
            John Jay to Congress, 5/8/1786, Jay ID #4567)</a>. Jay was well 
            aware, too, of demands by their former owners for the return of slaves 
            taken by the British. For their part, in contravention of the treaty's 
            terms, American state courts impeded the collection of debts owed the 
            British and upheld the confiscation of Loyalist estates. Jay himself, 
            in a report that he prepared for Congress, affirmed that the Americans 
            had been first to breach the peace treaty, an opinion that he indiscreetly 
            shared with Sir John Temple, the British consul general in New York. The 
            failings of the states in these matters contributed powerfully to Jay's 
            support for a strengthened national government, a government that might, 
            in addition, be able to negotiate a commercial treaty with Britain, something 
            that had proved impossible under the Articles of Confederation <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.11846">(<i>see</i> 
            John Adams to John Jay, 7/19/1785, Jay ID #11846)</a>. By 1794 
            a turbulent international context augmented these residual tensions. Now 
            at war with France, Britain had by an Order in Council issued on November 
            6, 1793, widened its attacks on neutral ships to include any trading with 
            the French West Indies. Widespread depredations followed – 
            over 250 American ships were seized. At much the same time, news arrived 
            of British incitement of Indians on the Northwest border. President 
            Washington responded to these threats by urging Congress to take defensive 
            measures while at the same time sending an envoy to London to explore 
            the possibility of reaching an accommodation with the British. John 
            Jay, by that time the Chief Justice, was chosen for the mission <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.04962">(<i>see</i> 
            George Washington to John Jay, 4/19/1794, Jay ID #4962)</a>.</p>
                <p>Jay was briefed by Alexander Hamilton to 
                    seek compensation for spoliations of American ships and to clarify 
                    the rules governing British seizure of vessels. He was also 
                    to insist that the British relinquish their posts in the Northwest 
                    and so adhere to the terms of the Treaty of Paris. In return, 
                    the United States would take responsibility for pre-Revolutionary 
                    debts owed to British merchants and others. In addition, 
                    if possible, Jay was to seek limited access for American ships 
                    to the British West Indies <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.10765">(<i>see</i> 
                    Alexander Hamilton to John Jay, 5/6/1794, Jay ID #10765)</a>. 
                    Arriving in London in the summer of 1794 <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.04272">(<i>see</i> 
                    John Jay to Edmund Randolph, 6/23/1794, Jay ID #4272)</a>, 
                    Jay found it difficult to secure the British ministry's full attention. 
                    War with France, after all, took precedence over negotiations 
                    with the largely impotent United States. Eventually proceeding 
                    through several drafts (<a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.03991"><i>see</i> 
                    John Jay to Lord Grenville, 8/6/1794, Jay ID #3991</a>, 
                    <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.08531">Lord 
                    Grenville to John Jay, 8/30/1794, Jay ID #8531</a>, and <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.04312">John 
                    Jay to Edmund Randolph, 9/13/1794, Jay ID #4312</a>), the 
                    treaty that emerged from these discussions was a bit of a mixed 
                    bag, but probably the best America could have hoped for, given 
                    the realities of the situation. Jay made little headway 
                    in attempts to get compensation for slaves taken by the British 
                    during the War of Independence and was unable to secure British 
                    recognition of the neutral rights of American ships. Neither 
                    did he succeed in persuading the British to remove their naval 
                    vessels from the Great Lakes or desist from aiding the Indians 
                    during times of war. Nonetheless, he did achieve the key 
                    objectives outlined by Hamilton. The British were to relinquish 
                    their military posts on the Northwest frontier, mixed commissions 
                    were to resolve the spoliation, pre-Revolutionary debt, and boundary 
                    issues, while vessels under seventy tons would be allowed access 
                    to the markets of the British West Indies for a limited number 
                    of years.</p>
                <p>Jay's concessions on the West India question, 
                    as well as agreement to surrender the right of commercial retaliation 
                    for ten years, fueled opposition to the treaty when its terms 
                    were leaked by a Democratic Republican senator and so became known 
                    to the wider public in the summer of 1795. For the incipient 
                    Republican interest, any concessions to the British were intolerable. 
                    Meetings were organized to denounce the treaty, Jay was 
                    burned in effigy, and Republican newspapers railed against the 
                    treaty's perceived surrender to the British. As Jay himself 
                    realized, differences in the way the treaty was received played 
                    a significant role in the development of political parties <a href="http://wwwapp.cc.columbia.edu/ldpd/app/jay/item?mode=item&amp;key=columbia.jay.12870">(<i>see</i> 
                    John Jay to General Henry Lee, 7/11/1795, Jay ID #12870)</a>. 
                    Though the opposition was intense, it was also short lived. 
                    By 1796, after the treaty had been ratified, America was 
                    enjoying a buoyant prosperity as a result of its dominance of 
                    the Atlantic carrying trade while European powers continued to 
                    wage war. Moreover, with the removal of the British from 
                    their posts, Americans began to pour into the Old Northwest to 
                    settle rich farm lands. By 1796, then, many Americans had 
                    come to view the Jay Treaty as a significant success.</p>

<p class="small">
James Baird<br>
Columbia University
</p>
