<h3 class="nomar-t">Participating Institutions</h3>
<p>
Columbia University wishes to extend its warm thanks to the following institutions for allowing digital images of documents from their collections to appear as part of <em> The Papers of John Jay</em>.
</p>
<ul>
<li>Albany Institute of History and Art </li>
<li>American Antiquarian Society </li>
<li>American Bible Society </li>
<li>American Philosophical Society </li>
<li>Archivo Historico Nacional </li>
<li>Boston Public Library </li>
<li>British Library </li>
<li>Buffalo and Erie County Historical Society </li>
<li>Chicago Historical Society </li>
<li>Cincinnati Historical Society </li>
<li>College of William and Mary </li>
<li>Columbia University </li>
<li>Connecticut Historical Society </li>
<li>Connecticut State Library </li>
<li>Daughters of the American Revolution </li>
<li>Delaware Public Archives </li>
<li>Detroit Public Library </li>
<li>Dickinson College </li>
<li>Duke University </li>
<li>Franklin D. Roosevelt  Library </li>
<li>Gilder Lehrman Institute of American History </li>
<li>Harry Ransom Humanities Research Center </li>
<li>Historic Hudson Valley </li>
<li>Historical Society of Delaware </li>
<li>Historical Society of Pennsylvania </li>
<li>Independence National Historical Park </li>
<li>Indiana University, Lilly Library </li>
<li>Jay Heritage Center</li>
<li>John Carter Brown Library </li>
<li>John Jay College </li>
<li>John Jay Homestead </li>
<li>Lafayette College </li>
<li>Lambeth Palace </li>
<li>Lehigh University </li>
<li>Library Company of Philadelphia </li>
<li>Library of Congress </li>
<li>Library of Virginia </li>
<li>Maine Historical Society </li>
<li>Maryland State Archives </li>
<li>Massachusetts Historical Society </li>
<li>McGill University </li>
<li>Museum of the City of  New York </li>
<li>Nationaal Archief </li>
<li>National Archives </li>
<li>National Library of Scotland </li>
<li>New Hampshire State Archives </li>
<li>New Jersey State Archives </li>
<li>New York County Clerk Archives </li>
<li>New York County Surrogate's Court </li>
<li>New York Public Library </li>
<li>New York Society Library </li>
<li>New York State Historical Association </li>
<li>New York State Library </li>
<li>New-York Historical Society </li>
<li>North Carolina Department of Cultural Resources </li>
<li>Oneida County Historical Society </li>
<li>Pierpont  Morgan  Library </li>
<li>Princeton University Library </li>
<li>Public Record Office, United Kingdom </li>
<li>Rensselaer County Historical Society </li>
<li>Sale record </li>
<li>Senate House State Historic Site </li>
<li>Southern Illinois University </li>
<li>St. Matthew's Episcopal Church </li>
<li>Stanford University </li>
<li>Union College </li>
<li>United States Naval Academy </li>
<li>United States Supreme Court </li>
<li>University of Michigan, Clements Library </li>
<li>University of North Carolina </li>
<li>University of Pennsylvania </li>
<li>University of Rochester </li>
<li>University of Vermont </li>
<li>University of Virginia </li>
<li>Vermont Historical Society </li>
<li>Virginia Historical Society </li>
<li>Westchester County Historical Society </li>
<li>Wisconsin Historical Society </li>
<li>Yale University, Beinecke Library </li>
</ul>
