<%= link_to 'Carnegie Corporation of New York Digital Archive'.html_safe,
carnegie_index_path, { :id => 'site-banner-subtitle' } %>
<h2 class="sr-only">Carnegie Corporation of New York Digital Archive</h2>
<%= link_to '&#x21b3; Carnegie Centennial Exhibition'.html_safe,
carnegie_centennial_index_path, { :id => 'site-title' } %>
<h1 class="sr-only">Carnegie Centennial Exhibition</h1>
