<div class="d-flex flex-column w-100">
<small id="site-banner-subtitle"><%= link_to 'Carnegie Corporation of New York Digital Archive'.html_safe,
search_carnegie_path %></small>
<h2 class="sr-only">Carnegie Corporation of New York Digital Archive</h2>
<%= link_to 'Carnegie Centennial Exhibition'.html_safe,
search_carnegie_centennial_path, { :id => 'site-title' } %>
<h1 class="sr-only">Carnegie Centennial Exhibition</h1>
</div>