<div id="about_the_project" class="row hide-xs">
	<p class="lead">
Carnegie Corporation of New York celebrated its centennial in 2011. <a class="continued" href="<%= carnegie_page_path('about', anchor: 'about_the_centennial')%>">Read more &raquo;</a>
	</p>
</div>
<%= render template: '/shared/index' %>
